.usdt-teach{
    padding: 44px 0;
    background-image: url("../profile/img/profile_bg.png");
    background-size: contain;
    .contaienr{
        width: 1200px;
        margin: 0 auto;
        border-radius: 10px;
        background: rgba(57, 58, 66, 0.9);
        overflow: hidden;
    }
    h1{ 
        background: rgba(77, 79, 94, 0.5);
        height: 62px;
        line-height: 62px;
        font-weight: 600;
        font-size: 20px;
        color: #CECED3;
        text-align: center;
        position: relative;
        .close{    
            position: absolute;
            right: 25px;
            top: 18px;
            font-size: 28px;
            cursor: pointer;
        }
    }
    .step-one{
        height: 1520px;
        margin: 20px 0 0;
        background: url('./img/step-1.png') no-repeat center top /1120px auto;
    }
    .step-two{
        height: 830px; 
        background: url('./img/step-2.png') no-repeat center top /1120px auto;
    }
    .step-three{
        height: 820px; 
        background: url('./img/step-3.png') no-repeat center top /1120px auto;
    }
    .step-four{
        height: 950px; 
        background: url('./img/step-4.png') no-repeat center top /1120px auto;
    }
}