.red-packet-wrapper {
    width: 90.5px;
    height: 159.5px;
    border-radius: 25px;
    position: fixed;
    z-index: 9;
    left: 127px;
    bottom: 135px;
    cursor: pointer; 
    user-select: none; 
    .closeBtn {
        font-size: 24px;
        position: absolute;
        right: -60px;
        top: -10px;
        color:#909090;
    }
    .baoImg {
        width: 90.5px;
        height: 114.5px;
        cursor: pointer  !important;
        background: url('../../redEnvelope/images/envelope.png') no-repeat center center/cover;
    }
    .clockTxt {
        text-align: center;
        white-space: nowrap;
        font-size: 14px;
        color: #D3C294;
    }
    .clockTxt:first-child {
        margin-bottom: 0px;
    }
}

@keyframes swing {
    0% {}
    50% {
        -webkit-transform: rotate(10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}