.match-comp {
    //  background: rgba(34, 35, 40, 1);
     color: #333333;
     font-family: 'PingFang HK';
     .tabs {
         display: flex;
         justify-content: space-around;
         margin: 0 0 14px 7px;
         .tab-item {
             font-size: 14px;
             width: 50px;
             height: 30px;
             line-height: 30px;
         }
        }
   
       .giftTab {
           margin: 5px auto 0;
           width: 140px;
           height: 25px;
           margin: 0 auto 15px;
           display: flex;
           border-radius: 12px;
           overflow: hidden;
   
           .tab-item {
               width: 70px;
               text-align: center;
               line-height: 25px;
               font-size: 12px;
               // background-color: #3A3A3A;
               cursor: pointer;
           }
       }
   
       .dateTab {
           display: flex;
           justify-content: space-around;
           width: 100%;
           margin-left: 6px;
           .tab-item {
               width: 86px;
               border-radius: 6px;
           }
       }
   
       .tab-item {
             border-radius: 6px;
             transition: 0.2s;
             text-align: center;
             cursor: pointer;
             background-color: #f2ede9;
             color: #ab896a;
             &.active {
                 position: relative;
                 color:  #ffffff;
                 background: #ab896a;
                 border-radius: 4px;
                 ;
             }
         }
         .tab_list_p {
            width: 250px;
            height: 30px;
            overflow: hidden;
            position: relative;

            .tab_list {
                position: relative;
                transition:all 0.5s;
               .tab-item {
                   font-size: 14px;
                   width: 50px;
                   height: 30px;
                   line-height: 30px;
                   border-radius: 6px;
                   transition: 0.2s;
                   text-align: center;
                   cursor: pointer;
                   // margin-right: 8px;
                   display: inline-block;
                   position: absolute;
                   &:nth-child(2) { left: 58px }
                   &:nth-child(3) { left: 114px }
                   &:nth-child(4) { left: 172px }
                   &:nth-child(5) { left: 230px }
               }
            }
        }
        .arrow-left,
        .arrow-right {
            width: 11px;
            height: 25px;
            background-size: 100% 100%;
            cursor: pointer;
            margin-top: 2px;

            &.disabled {
                pointer-events: none;
                opacity: .6;
            }
        }

        .arrow-left {
            background-image: url('../../img/match/pre.svg');
            margin-right: 6px;

            &.disabled {
                background-image: url('../../img/match/pre.svg');
            }

            &:hover {
                background-image: url('../../img/match/pre_on.svg');
            }
        }

        .arrow-right {
            background-image: url('../../img/match/next.svg');
            margin-left: 6px;

            &.disabled {
                background-image: url('../../img/match/next.svg');
            }

            &:hover {
                background-image: url('../../img/match/next_on.svg');
            }
        }
    
     .list-wrapper {
         margin: 0 !important;
         width: 311px;
         height: 475px;
         overflow-x: hidden;
        .match-list {
            .match-item {
                background: #f2ede9;
                // box-shadow: 0px 0px 10px rgba(18, 18, 18, 0.6);
                border-radius: 6px;
                margin-bottom: 10px;
                padding-bottom: 1px;
                font-size: 12px;
                padding-left: 6px;
                box-sizing: border-box;
                cursor: pointer;
                .playing{
                    box-shadow: 0 0 0px 2px #AB896A;
                    width: 267px;
                    border-radius: 5px;
                    overflow: hidden;
                    box-sizing: border-box;
                }
                .date-title {
                    height: 28px;
                    line-height: 28px;
                    box-sizing: border-box;
                    .match-detail-show {
                        float: right;
                        margin-right: 20px;
                    }
                }
                .match-name-time {
                    background: #ffffff;
                    // border-radius: 5px;
                    // margin: 0 12px 10px 10px;
                    padding: 8px 10px 10px;
                    box-sizing: border-box;
                    width: 268px;
                    overflow: hidden;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    .leagueName {
                        background: #ffffff;
                        border-radius: 5px 5px 0px 0px;
                        // height: 34px;
                        float: left;
                        span{
                            display: inline-block;
                            max-width: 120px;
                            word-wrap: break-word;
                        }
                    }
                    .match-time {
                        margin-left: 5px;
                        float: left;
                    }
                    .action {
                        float: right;
                        margin-right: 10px;
                        // pointer-events: none;
                        font-style: 13px;
                        cursor: pointer;
                        .room {
                            background: url(../../img/live/icon-anchor-play.png) no-repeat left center;
                            &.play{
                                background: url(../../img/live/icon-anchor-play.png)  no-repeat center center/contain;
                            } 
                        }
                        .event {
                            background: url(../../img/live/icon-event-notPlay.svg) no-repeat center center;
                            &.play{
                                background: url(../../img/live/icon-event-play.svg) no-repeat center center/contain;
                            } 
                        }
                        .icon {
                            display: inline-block;
                            width: 18px;
                            height: 14px;
                            margin-right: 5px;
                            background-size: contain;
                            vertical-align: middle;
                        }
                    }
                }
                .no-date-title{
                    margin-bottom: 10px;
                }
                .team-w {
                    height: 59px;
                    background: #f8f6f4;
                    box-sizing: border-box;
                    width: 268px;
                    padding: 3px 0 3px;
                    .team {
                        font-style: 12px;
                        height: 27px;
                        padding-left: 10px;
                        box-sizing: border-box;
                        padding: 3px 0 3px 10px;
                        .img-box {
                            width: 21px;
                            vertical-align: middle;
                        }
                        .team-name {
                            margin-left: 10px;
                        }
                        .vs {
                            float: right;
                            margin-right: 18px;
                            color: #D3C294;
                        }
                    }
                }
            }
            .show {
                // height: 234px;
            }
    
        }
     }
     .no-more {
         text-align: center;
         line-height: 60px;
     }
    }
    
    .el-scrollbar:active>.el-scrollbar__bar, 
    .el-scrollbar:focus>.el-scrollbar__bar, 
    .el-scrollbar:hover>.el-scrollbar__bar {
       opacity: 0 !important;
    }
    .gift-no-data {
        margin-left: -7px;
        img {
            width: 100%;
        }
    }
    