.unbing-dialog {
    .el-dialog::after{
        display: none;
    }
    .el-dialog{
        .el-dialog__header{
            background: #6470A4;
            border-radius: 10px 10px 0px 0px;
        }
    }
    .el-dialog__body {
        padding: 0 !important; 
        .el-tabs{
            background:  rgba(77, 97, 141, 0.1);
            .el-tabs__header{
                min-height: 400px;
                width: 210px; 
                margin: 0; 
                .el-tabs__nav-wrap{
                    overflow: unset;
                    &::after{ 
                        height: 800px;
                        background-color: rgba(77, 97, 141, 0.1);;
                    }
                }                
                .el-tabs__item{
                    text-align: center;
                    font-size: 18px;
                    height: 50px;
                    line-height: 50px;
                    color: #505679;
                    &.is-active{
                        background:$bg-ead;
                        color:$c-3B;
                    } 
                }
                .el-tabs__active-bar{
                    display: none;
                }
            }
            .el-tabs__content{
                min-height: 400px; 
            }
        }
        .notice-wrapper {
            min-height: 350px;
            overflow: hidden auto; 
            max-height: 550px;
            &::-webkit-scrollbar{
                width: 5px;
            }
            &::-webkit-scrollbar-thumb{
                background: #bbb;
            }
            .notice-title {
                text-align: center;
            }
            .notice-content {  
                padding: 0 15px 10px;
                margin-top: 10px;
                font-size: 18px;
                line-height: 30px;
                text-align: justify; 
            }
            .notice-img {
                width: 474px;
                cursor: pointer;
                margin-bottom: 10px;
            }
            .notice-img-other{
                width: 474px;
                display: block;
                margin-bottom: 10px;
            }
        } 
        .btn-group {
            @include flex(center);
            margin: 20px 0;
            .btn-detail{
                width: 154px;
                height: 42px;
                left: 978px;
                top: 961px;
                background:  $bg-ead;
                border-radius: 34px;
                font-size: 16px;
                border: 0;
                color: $c-3B;
            }
        }
    }
}