.info-msg-wrap {
    background: $c-ff1;
    border-radius: 10px;
    min-height: 440px;
    padding: 23px 20px;
    .info-msg-inner {
        margin-bottom: 20px;
        @include flex();
        cursor: pointer;
        font-size: 14px;
        color: $c-4d;
        .text-content {
            width: 590px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 15px;
        }
    }
    .message-dialog {
        /deep/ .el-dialog__body {
            .unbing-div-center {
                text-align: center;
            }
            .unbing-div-content {
                margin: 15px 0;
            }
            .unbing-time-right {
                text-align: right;
            }
        }
        /deep/ .el-button {
            background: linear-gradient(312.61deg, #475B86 11.98%, #C5D6FF 165.62%);
            border-radius: 34px;
            color: #fff;
            font-size: 14px;
            width: 120px;
            height: 36px;
            @include flex(center);
            margin: 0 auto;
            border: none;
        }
    }
}