/deep/ .el-date-editor .el-range__icon {
    color: #f6b56a;
    display: none;
}

/deep/ .el-date-editor .el-range-input {
    color: #af8c70;
}

/deep/ .el-table {
    color: #FFFFFF;
    background: #27553F;
    margin-bottom: 32px;
    &::before {
        display: none;
    }
    .el-table__row {
        cursor: pointer;
    }
    .el-table__header-wrapper {
        background: linear-gradient(90deg, #D9B47D 0%, #FBE7C4 53.02%, #D9B47D 100%);
        border-radius: 4px;
        th {
            font-weight: 600;
            color: #27553F !important;
        }
    }
}


/deep/.el-table tr {
    background-color: transparent;
}

/deep/ .el-table .el-table__cell {
    background: transparent;
    border: 0;
}

/deep/ .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell {
    background-color: transparent;
}

/deep/ .el-table th.is-leaf {
    border: 0;
    text-align: center;
}

/deep/ .el-table__expanded-cell {
    text-align: left !important;
    padding: 0 0 0 20px;
    border-left: none;
    border-right: none;
    .el-form-item {
        margin-bottom: 0;
    }
}

.order-number {
    display: inline-block;
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top-div {
    padding: 20px 30px 30px;
    position: relative;
    .betting-form {
        /deep/.el-form-item__label {
            text-align: left;
            width: 45px !important;
        }
        /deep/.el-form-item__content {
            margin-left: 0 !important;
        }
    }
    .inquire {
        width: 80px;
        height: 40px;
        background: #fba002;
        border-radius: 4px;
        border: 0;
        color: $c-f;
        margin-left: 10px;
    }
}

.bottom-div {
    min-height: 400px;
    padding: 0 30px 28px 30px;
    .bottom-div-inner {
        background: #27553F;
        border-radius: 8px 8px 0 0;
        box-sizing: border-box;
        padding: 0 20px;
    }
    .bottom-top-div {
        height: 50px;
        display: flex;
        justify-content: space-between;
        div {
            line-height: 50px;
            display: inline-block;
            height: 100%;
            max-width: 200px;
            min-width: 200px;
            color: #ffffff;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            overflow: hidden;
            word-break: break-all;
            font-size: 14px;
        }
    }
    .betting-table {
        /deep/.has-gutter tr th {
            text-align: center;
        }
        /deep/.el-table__body-wrapper tr td {
            text-align: center;
            border-bottom: 0;
            // background: $c-18815;
        }
    }
    .no-data-div {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(90deg, #D9B47D 0%, #FBE7C4 53.02%, #D9B47D 100%);
        text-align: center;
        height: 48px;
        line-height: 48px;
        border-radius: 4px;
        margin-top: 2px;
        span {
            font-size: 14px;
            font-weight: 600;
            color: #27553F;
        }
    }
    .no-data-gif {
        text-align: center;
        padding-top: 63px;
        line-height: 487px;
    }
    .no-data-img {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 188px auto 0px;
        padding-bottom: 156px;
        img {
            margin-bottom: 10px;
        }
    }
}

/* 改版样式添加 */

.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .head-left {
        .head-left-top {
            margin-bottom: 8px;
            color: #889796;
            font-size: 14px;
            white-space: nowrap;
        }
        .head-left-bottom {
            display: flex;
            align-items: center;
            .plat-select {
                display: flex;
                align-items: center;
                border-radius: 8px;
                width: 240px;
                background: #F5F1ED;
                background: rgba(8, 45, 32, 0.9);
                border: 1px solid #427453;
                .plat-name {
                    padding: 0px 0px 0px 10px;
                    text-align: center;
                    height: 100%;
                    font-size: 14px;
                    color: #ffffff;
                }
                /deep/.el-form-item {
                    margin-bottom: 0;
                    .el-select {
                        width: 100%;
                    }
                }
                /deep/.el-form {
                    flex: 1;
                    .el-input__inner {
                        background-color: transparent;
                        border: none;
                        color: #ffffff;
                        box-shadow: none !important;
                        &::placeholder {
                            color: #A5B3B2;
                        }
                    }
                }
            }
            .head-date-div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .date-picker {
                    border: 0;
                    width: 360px !important;
                    background: transparent;
                    /deep/.el-input {
                        border-radius: 4px;
                    }
                }
                .inquire {}
            }
        }
    }
    // 头部
    .head-right {
      .head-right-top {
        font-size: 14px;
        text-align: center;
         margin-bottom: 8px;
      }
      .head-right-bottom {
        .date-div {
          display: flex;
          align-items: center;
          .date-btn {
            width: auto;
            white-space: nowrap;
            color: #A5B3B2;
            margin-left: 8px;
            height: 40px;
            line-height: 40px;
            border-radius: 4px;
            background: #27553F;
            border: none;
            padding: 0 12px;
            font-size: 14px;
            cursor: pointer;
            &.active {
              background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
              color: #27553F;
            }
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
}

.no-data-img,
.no-data-gif {
    text-align: center;
    margin: 188px auto 252px;
}

/deep/.is-left {
    text-align: left !important;
    .cell {
        margin-left: 8px;
    }
}

/deep/.el-pagination {
    margin-top: 20px;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

/deep/.el-table__expand-icon {
    color: #C8D2D2;
    font-size: 13px;
}

/deep/.demo-table-expand {
    min-height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: wrap;
    color: #A5B3B2;
    .el-form-item {
        display: flex;
        align-items: center;
        margin-right: 50px;
        .el-form-item__label {
            color: #A5B3B2;
        }
    }
    .el-form-item__content {
        display: flex;
    }
    /deep/.el-table__expanded-cell {
        border: 1px solid $bg-926 !important;
        box-shadow: 0px 1px 0px $c-f !important;
    }
}

/deep/.el-date-editor {
  .el-range-separator {
    padding: 0 5px;
    width: auto;
    line-height: 32px;
    color: #808293;
  }
  .el-range-input {
    color: rgba(129, 91, 57, 1);
    background: border-box;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    background: rgba(8, 45, 32, 0.9);
    border: 1px solid #427453;
    color: #ffffff;
  }
}

