.deposit-dialog {
    .bog.el-dialog {
        .el-dialog__body {
            .dialog-wrapper {
                padding: 15px;
                @include flex(center, column, nowrap, flex-start);
                font-size: 16px;
                color: #A5B3B2;
                .dialog-content {
                    width: 100%;
                    @include flex();
                    margin-bottom: 20px;
                    .title {
                        color: #C8D2D2;
                    }
                    .text {
                        color: #ffffff;
                    }
                    .required-text {
                        margin-left: 12px;
                        color: $c-r;
                        font-size: 14px;
                    }
                    .copy {
                        @include flex();
                        .copy-img {
                            width: 14px;
                            margin-right: 8px;
                        }
                        .copy-text {
                            color: #ffffff;
                            white-space: nowrap;
                            font-size: 16px;
                        }
                    }
                }
                .setup {
                    font-size: 14px;
                    margin-top: 10px;
                    word-wrap: break-word;
                    word-break: normal;
                    div {
                        margin-bottom: 10px;
                        &.attention {
                            color: $c-r;
                        }
                        .service {
                            color: #38b63f;
                        }
                    }
                }
            }
        }
        .el-dialog__footer {
            div{
                @include flex(space-around);
            }
            .el-button {
                border-radius: 34px;
                width: auto;
            }
        }
    }
}

