.cr-pay-container {
    &.rm {
        padding: 0px;
        min-height: 490px;
    }
    .pay-type-container {
        height: 113px;
        background: #27553F;
        border-radius: 4px;
        padding-top: 16px;
        @include flex(flex-start);
        position: relative;
        margin-bottom: 28px;
        .py-type-list {
            @include flex(center, column, nowrap, center);
            margin: 12px;
            cursor: pointer;
            .txt {
                color: #9A9DAA;
            }
            &.on {
                .txt {
                    color: #EDB77F;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 32px;
                    height: 3px;
                    bottom: 0px;
                    border-radius: 4px 4px 0 0;
                    background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
                }
            }
            .circle-outer {
                width: 55px;
                height: 55px;
                position: relative;
                >.tag {
                    z-index: 10;
                    position: absolute;
                    width: 40px;
                    height: 14px;
                    background-image: url('../images/icon-recommend.png');
                    background-size: 100% 100%;
                    &.hot {
                        background-image: url('../images/icon-popular.png');
                        background-size: 100% 100%;
                    }
                    top: 0px;
                    right: -20px;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 5px 0 0 0;
                    margin: 0;
                    padding: 0;
                    i {
                        font-style: normal;
                        font-size: 12px;
                        transform: rotate(-45deg) scale(0.86) translateY(-2px) translateX(-1px);
                        color: #fff;
                        white-space: nowrap;
                    }
                }
                .circle-inner-top {
                    white-space: nowrap;
                    height: 20px;
                    padding: 0 3px;
                    line-height: 20px;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 12px;
                    position: absolute;
                    top: -12px;
                    background: linear-gradient(to right, #9C080F 0%, #F81823 50%, #9C080F 100%);
                }
                .circle-inner {
                    width: 47px;
                    height: 47px;
                    .list-img {
                        width: 37px;
                        &.logo_1 {
                            width: 26px;
                        }
                        &.logo_3 {
                            width: 35px;
                        }
                        &.logo_4 {
                            width: 30px;
                        }
                        &.new_qrcode {
                            width: 24px;
                        }
                    }
                }
            }
        }
    }
    .select-pay-container {
        &.rm-pay-container {
            margin-top: 0px;
            flex-wrap: wrap;
        }
        .select-pay-item {
            &.rm-pay-item {
                min-width: 195px;
                margin-top: 15px;
            }
        }
    }
    .select-pay-form {
        .notice {
            margin-bottom: 18px;
        }
        .rm-form {
            /deep/ .el-form-item {
                margin-bottom: 0px;
            }
        }
        .select-card-container {
            .select-item.rm-select-item {
                &.on {
                    background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
                    color: #0E3E2E;
                }
            }
        }
        .select-form-container {
            /deep/ .el-button {
                &.rm-handle-btn {
                    margin-left: 0px;
                }
            }
            /deep/ .el-input__inner {
            }
        }
        .tip-text {
            margin-top: 15px;
        }
    }
    .user-name-container {
        @include flex(flex-start);
        background: rgba(188, 169, 151, 0.1);
        border-radius: 4px;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 10px;
        .name-input {
            width: 193px;
            height: 40px;
            border: none;
            margin: 0 10px;
            .el-input__inner {}
        }
    }
    .tip {
        color: #ffffff;
        .tip-text-t {
            color: #A5B3B2;
        }
    }
}

.qr-dialog {
    /deep/.el-button {
        margin: 0 20px;
    }
    /deep/.el-button--default {
        background: transparent;
        color: #EDB77F;
        border: 1px solid #EDB77F;
        font-weight: 400;
    }
    /deep/.el-button--primary {
    }

    .tip-text-o {
        color: #cbba8f;
    }
    .tip-text-t {
        color: #777984;
    }
}

.multi-language {
    .cr-pay-container .pay-type-container .py-type-list .circle-outer > .tag {
        background-image: url('../images/icon-recommend_en.png');
        background-size: 100% 100%;
        &.hot {
            background-image: url('../images/icon-popular_en.png');
            background-size: 100% 100%;
        }
    }
}

.language-vi {
    .cr-pay-container .pay-type-container .py-type-list .circle-outer > .tag {
        background-image: url('../images/icon-recommend_vi.png');
        background-size: 100% 100%;
        &.hot {
            background-image: url('../images/icon-popular_vi.png');
            background-size: 100% 100%;
        }
    }
}
