.top-game {
    margin-top: 60px;
    background: linear-gradient(to bottom, #fff 60%,#CEBEAE 80%);
    overflow: hidden;
    border-radius: 8px;
    .type-chose {
        @include flex();
        padding: 0 36px;
        .type {
            @include flex(center);
            width: 168px;
            height: 44px;
            font-size: 18px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: $c-60;
            position: relative;
            cursor: pointer;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 4px 4px 0 0;
                box-sizing: border-box;
                width: 172px;
                height: 8px;
                background: $bg-bc;
            }
            &:hover {
                &:after {
                    background: $bg-926;
                }
            }
            &.type-div {
                color: $c-81;
                font-weight: bold;
                &:after {
                    background: $bg-926;
                }
            }
        }
    }
    .content-container {
        height: 300px;
        background: $c-fc;
        border-radius: 8px;
        margin: 1px;
        .dn-bg {
            display: flex;
            color: $c-81;
            overflow: hidden;
            border-bottom: 1px solid #f3ebe4;
            align-items: center;
            padding: 10px 0 0 47px;
            $logoList: ( sport: 164, real: 150, poker: 177, esport: 186, lottery: 173, electronic: 139, douji: 155, fish: 161, bingo:165);
            @each $k,
            $o in $logoList {
                .#{$k}-logo {
                    height: 127px;
                }
            }
            .right-box {
                height: 120px;
                color: $c-81;
                z-index: 99;
                @include flex();
                .one {
                    min-width: 118px;
                    margin: 0 23px 0 29px;
                    .one-1 {
                        font-size: 24px;
                        font-weight: 500;
                    }
                    .one-2 {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
                .three {
                    width: 621px;
                    font-weight: 500;
                    line-height: 26px;
                    color: $c-3;
                }
            }
        }
        .plat-content-box {
            @include flex(flex-start);
            margin-left: 20px;
            margin-top: 20px;
            .game-item {
                width: 110px;
                height: 110px;
                font-size: 12px;
                color: $c-f;
                margin-right: 20px;
                border-radius: 8px;
                cursor: pointer;
                background-image: url("../../img/topGame/normal_wrap.png");
                background-size: 100% 100%;
                position: relative;
                .type-name {
                    position: absolute;
                    bottom: 11px;
                    width: 100%;
                    text-align: center;
                }
                .game-img {
                    position: absolute;
                    &.is-Try-icon {
                        left: 1px;
                        top: 2px;
                        width: 51px;
                    }
                    &.isClick-img {
                        width: 34px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -85%);
                    }
                }
                &.is-click {
                    background-image: url("../../img/topGame/active_wrap.png");
                    .isClick-img {
                        left: 51%;
                        top: 53%;
                    }
                }
            }
        }
    }
}

.game-item {
  .game-item-mark {
    position: absolute;
    display: block;
    left: 4px;
    width: 80px;
    height: 18px;
    line-height: 18px;
    border-radius: 10px 0 10px 0;
    text-align: center;
    &.try {
      background: linear-gradient(306.46deg, #C4AE99 68.37%, #E9DACC 92.92%);
      color: #FFFFFF;
      span {
        transform: scale(0.5);
      }
    }
    &.maintain {
      background: linear-gradient(111.25deg, #DBD8D8 7.33%, #B7B5B5 34%);
      color: #FFFFFF;
    }
    span {
      display: block;
      font-size: 20px;
      white-space: nowrap;
    }
  }
}

.multi-language {
  .game-item .game-item-mark {
    width: 85px;
    &.try {
      span {
        transform: scale(0.5) translateX(-34%);
      }
    }
    &.maintain {
      span {
        transform: scale(0.5) translateX(-20%);
      }
    }
  }
}

.language-vi {
  .top-game {
    background: transparent;
    .top-game-tabs {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      .top-game-tab {
        width: 140px;
        height: 55px;
        cursor: pointer;
        background: url("../../img/topGame/tab-bg.png") no-repeat center center;
        background-size: 100% 100%;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        &.top-game-tab__active, &:hover {
          background: url("../../img/topGame/tab-bg-active.png") no-repeat center center;
          background-size: 100% 100%;
        }
      }
    }
    .top-game-tab-content {
      display: flex;
      align-items: center;
      > img {
        margin-right: 60px;
        width: 500px;
        height: 520px;
      }
      .top-game-tab-details {
        .top-game-tab-details-title {
          margin-bottom: 20px;
          font-weight: 600;
          font-size: 52px;
          line-height: 73px;
          color: #815B39;
        }
        .top-game-tab-details-desc {
          margin-bottom: 44px;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: #333333;
        }
        .top-game-tab-details-games {
          @include flex(flex-start, $isWrap: wrap);
          .game-item {
            width: 110px;
            height: 110px;
            font-size: 12px;
            color: $c-f;
            margin-right: 15px;
            margin-bottom: 10px;
            border-radius: 10px;
            cursor: pointer;
            background-image: url("../../img/topGame/normal_wrap.png");
            background-size: 100% 100%;
            position: relative;
            .type-name {
              position: absolute;
              bottom: 11px;
              width: 100%;
              text-align: center;
            }
            .game-img {
              position: absolute;
              &.is-Try-icon {
                left: 1px;
                top: 2px;
                width: 80px;
              }
              &.isClick-img {
                width: 34px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -85%);
              }
            }
            &.is-click {
              background-image: url("../../img/topGame/active_wrap.png");
            }
          }
        }
      }
    }
  }
}
