.vipinfo {
    .vipinfo-top {
        margin-bottom: 20px;
        padding: 20px 15px 20px;
        position: relative;
        background: $bg-32;
        border-radius: 10px;
        .content-title {
            font-size: 16px;
            color: $c-f;
            font-weight: 500;
            margin-bottom: 20px;
            border-bottom: 1.2px solid #deccba;
            box-shadow: 0px 1px 0px #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 52px;
            /deep/.el-icon-arrow-left {
                font-weight: bold;
            }
            .en-title {
                width: 445px;
            }
        }
        .header-left {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 50px;
        }
        .header-left-bottom {
            display: flex;
            justify-content: space-around;
            margin-top: 120px;
            margin-left: -11px;
            .header-left-bottom-div {
                text-align: center;
                div {
                    font-size: 14px;
                }
            }
        }
        .rule-title {
            height: 35px;
            line-height: 35px;
            font-weight: 600;
            color: $c-f;
            font-size: 14px;
            border-bottom: 1px solid $c-39;
            margin-bottom: 20px;
        }
        .vipinfo-title {
            font-size: 14px;
            font-weight: 600;
            margin: 42px 0 15px;
            color: $c-f;
        }
        .vipinfo-inner-thead.vipinfo-inner {
            .vipinfo-inner-level {
                margin: 0;
                background: #D9B47D;
                font-weight: 500;
                font-size: 14px;
                color: $c-39;
            }
        }
        .vipinfo-inner {
            display: flex;
            align-items: center;
            .vipinfo-inner-level {
                color: $c-f;
                height: 34px;
                line-height: 34px;
                text-align: center;
                flex-grow: 1;
                margin-left: 1px;
                background-color: $c-39;
                margin-bottom: 1px;
                font-size: 12px;
                width: 10%;
                font-weight: 400;
            }
            &:nth-child(2n-1) {
                .vipinfo-inner-level {
                    color: $c-e7;
                    &.vip-level {
                        color: $c-39;
                        font-weight: 600;
                    }
                }
            }
        }
        .vipinfo-word {
            font-size: 14px;
            color: $c-cec;
            line-height: 21px;
            margin-bottom: 10px;
        }
    }
    .middle {
        border-radius: 8px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .un-return-watter-container {
        background: $bg-32;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 20px;
        .watter-title {
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid $c-39;
            font-size: 14px;
            margin-bottom: 12px;
            color: $c-f;
        }
        .table-header {
            background: linear-gradient(90deg, #D9B47D 0%, #FBE7C4 53.02%, #D9B47D 100%);
            display: flex;
            border-radius: 5px 5px 0 0;
            align-items: center;
            color: $c-39;
            font-size: 14px;
            font-weight: 500;
            height: 30px;
            .thead:first-child {
                width: 81px;
                text-align: center;
            }
            .thead:last-child {
                width: 206px;
                text-align: center;
            }
        }
        .table-body {
            .vipinfo-list-word {
                display: flex;
                color: $c-f;
                .item-title {
                    width: 100px;
                    border: 0.5px solid $c-e7;
                    text-align: center;
                    word-break: break-all;
                    white-space: nowrap;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1px 0;
                    font-size: 14px;
                }
                .item {
                    width: 81px;
                    line-height: 40px;
                    border: 0.5px solid $c-e7;
                    margin: 1px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: normal;
                    word-break: break-all;
                    display: flex;
                    flex-wrap: wrap;
                    span {
                        margin-right: 6px;
                        display: block;
                    }
                    &:last-child {
                        flex-grow: 1;
                        text-align: left;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}

.el-carousel__item--card.is-active {
    width: 422px;
}

@for $i from 0 through 9 {
    .v-#{$i} {
        @if ($i > 8) {
            color: #989eac;
        }
        @else if ($i < 4 or $i>=7) {
            color: #9b9b9b;
        }
        @else if($i >=4 and $i < 7) {
            color: #855400;
        }
    }
}

.downgrade-day {
    position: absolute;
    right: 11px;
    font-size: 11px;
    bottom: -25px;
}

/deep/ .el-carousel__mask {
    background-color: transparent;
}