.feedback-wrap {
    background: $c-EE;
    padding: 0px 25px 20px;
    position: relative;
    box-shadow: 0px 10px 15px rgba(207, 212, 225, 0.89);
    .feedback-type {
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 400;
        color: $c-3D;
        padding: 18px 0 11px;
    }
    .feedback-form {
        position: relative;
        /deep/ {
            .el-form-item__content {
                margin-left: 0 !important;
            }
        }
        .count-div {
            position: absolute;
            right: 20px;
            bottom: 20px;
            color: $c-3D;
        }
    }
    .feedback-description {
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 400;
        color: $c-3D;
        margin: 30px 0 15px;  
    }
    .upload-img {
        width: 100%;
        background: #FFFFFF; 
        box-shadow: inset 3px 3px 4px rgba(77, 110, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
        border-radius: 8px;
        @include flex(center);
        padding-bottom: 10px;
        position: relative;
        .upload-inner {
            width: 100%;
            .upload-demo {
                /deep/ {
                    .el-upload-dragger {
                        background-color: transparent;
                        border: 0;
                        margin-top: 46px;
                        width: 100%;
                        position: relative;
                        left: 50%;
                        z-index: 1;
                        .upload-icon {
                            width: 60px;
                        }
                        .el-upload__text {
                            margin: 12px 0 25px;
                            color: $c-3D;
                            em {
                                font-weight: normal;
                                color: $c-3D9;
                            }
                        }
                        .el-icon-upload {
                            margin: 20px 0 16px;
                        }
                    }
                    .el-upload-list--picture {
                        position: absolute;
                        top: 0px;
                        left: 10px;
                        width: 98%;
                        height: 100%;
                        .el-upload-list__item { 
                            border: 0;
                            height: 92%;
                            @include flex(flex-start);
                            .el-upload-list__item-thumbnail {
                                width: auto;
                                height: 200px;
                                border: 2px solid $c-3D9;
                            }
                            .el-upload-list__item-name {
                                margin-left: 22px;
                                color: $c-84;
                                overflow: inherit;
                                text-overflow: inherit;
                                white-space: inherit;
                                .el-icon-document{
                                    display: none;
                                }
                            }
                            .el-icon-close {
                                position: absolute;
                                right: 20px;
                                font-size: 18px;
                                font-weight: 600;
                                color: $c-3D;
                                top: 15px;
                            }
                        }
                    }
                }
                /deep/ .el-upload--picture-card:hover,
                /deep/ .el-upload:focus {
                    color: $c-81;
                    border-color: $c-81;
                }
            }
        }
    }
    .btnCommit {
        width: 260px;
        height: 35px;
        font-size: 12px;
        color: $c-f; 
        background: linear-gradient(0deg, #97D6FC 0%, #3E80FF 13.54%, #61B2F9 81.77%, #96D6FB 100%);
        border-radius: 5px;
        border: 0;
        margin: 31px auto 7px;
        @include flex(center);
    } 
    .mask-div {
        width: 340px;
        height: 115px;
        background: $c-f;
        box-shadow: 0px 8px 20px rgba(58, 22, 1, 0.08);
        border-radius: 10px;
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 2;
        @include flex(flex-start, column);
        transform: translate(-50%, -50%);
        .smile-div {
            margin: 17px 0 10px;
            img {
                width: 18px;
            }
        }
        .title {
            margin-bottom: 14px;
        }
        div {
            color: $c-81;
            font-size: 14px;
            &:nth-child(3) {
                color: $c-1886;
            }
        }
    }
}

/deep/ .el-loading-spinner {
    margin-top: -15px;
    .circular {
        width: 25px;
        height: 25px;
        .path {
            stroke: $c-81;
        }
    }
}