 

/deep/ .el-date-editor .el-range__icon {
    color: #f6b56a;
    display: none;
}

/deep/ .el-date-editor .el-range-input {
    color: #af8c70;
}

/deep/ .el-table {
    color: $c-3D;
    background-color: transparent;
    &::before {
        display: none;
    }
    .el-table__row {
        cursor: pointer;
    }
}

/deep/ .el-table th.is-leaf {
    border: 0;
    text-align: center;
}

/deep/ .el-table__expanded-cell {
    text-align: left !important;
    padding: 0 0 0 20px; 
    border-left: none;
    border-right: none;
    box-shadow: 0px 1px 0px $c-f;
    background-color: #F1F4F9 !important;
    .el-form-item {
        margin-bottom: 0;
    }
}

.order-number {
    display: inline-block;
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top-div {
    background: $c-EE; 
    padding: 20px 30px 25px;
    position: relative; 
    .betting-form {
        /deep/.el-form-item__label {
            text-align: left;
            width: 45px !important;
        }
        /deep/.el-form-item__content {
            margin-left: 0 !important;
        }
    }
    .inquire {
        width: 80px;
        height: 40px;
        background: #fba002;
        border-radius: 4px;
        border: 0;
        color: $c-f;
        margin-left: 10px;
    }
}

.bottom-div {
    min-height: 400px;
    background: $c-EE;
    border-radius:0 0 20px 20px;
    padding: 0 30px 28px;
    box-shadow: 0px 14px 20px rgba(207, 212, 225, 0.89);
    .bottom-div-inner {
        background: $c-f;
        border-radius: 10px;
        box-shadow: 0px 4px 20px rgba(207, 212, 225, 0.89);
        box-sizing: border-box;
        padding: 0 20px 20px;
        min-height: 350px;
    }
    .bottom-top-div {
        height: 50px;
        display: flex;
        justify-content: space-between;
        div {
            line-height: 50px;
            display: inline-block;
            height: 100%;
            max-width: 200px;
            min-width: 200px;
            color: $c-3D;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            overflow: hidden;
            word-break: break-all;
            font-size: 14px;
        }
    }
    .betting-table {
        /deep/.has-gutter tr th {
            color: $c-3D;
            background: #f0f0f0;
            text-align: center;
        }
        /deep/.el-table__body-wrapper tr td {
            text-align: center;
            border-bottom: 0;
            // background: $c-18815;
        }
    }
    .no-data-div {
        display: flex;
        justify-content: space-around;
        background: #F1F4F9;
        text-align: center;
        height: 48px;
        line-height: 48px;
        border-radius: 4px;
        margin-top: 2px;
        span {
            font-size: 14px;
            color: $c-3D;
            font-size: 14px;
        }
    }
    .no-data-gif {
        text-align: center;
        padding-top: 63px;
        line-height: 487px;
    }
    .no-data-img {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 140px auto 160px; 

        span{
            margin-top: 10px;
        }
        img{
            height: 130px;
        }
    }
}

/deep/.el-table th {
    background: #F1F4F9 !important;
}
 

/* 改版样式添加 */

.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .head-left {
        flex-shrink: 0;
        .head-left-top {
            color: $c-3D;
            margin: 8px 0px;
            font-size: 14px;
            span {
                color: #8691a8;
            }
        }
        .head-left-bottom {
            display: flex;
            align-items: center;
            border: 0.5px solid #E6E8F3;
            box-shadow: 0px 4px 18px rgba(207, 212, 225, 0.54);
            border-radius: 8px;
            width: 290px;
            background: $c-f;
            .plat-name {
                width: 52px;
                text-align: center;
                height: 100%;
                font-size: 14px;
                color: $c-3D;
            }
            /deep/.el-form-item {
                margin-bottom: 0;
                .el-select {
                    width: 100%;
                }
            }
            /deep/.el-form {
                flex: 1;
                .el-input__inner {
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    color: $c-3D;
                }
            }
        }
    }
    .head-right {
        .head-right-top {
            color: $c-3D;
            font-size: 14px;
            margin-bottom: 8px;
            position: relative;
            right: 331px;
            top: 3px;
        }
        .head-date-div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: -11px;
            position: absolute;
            right: 298px;
            top: 55px;
            .date-picker {
                border: 0;
                width: 335px !important;
                background: transparent;
                /deep/.el-input {
                     border-radius: 4px;
                }
            }
            .inquire {

            }
        }
        .head-right-bottom {
            .date-div {
                display: flex;
                align-items: center;
                position: relative;
                bottom: -3px;

                .date-btn {
                    color: $c-3D;
                    margin-left: 8px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 4px;
                    box-shadow: 0px 4px 18px rgba(207, 212, 225, 0.54);
                    background: $c-f; 
                    border: none;
                    padding: 0 15px;
                    font-size: 14px;
                    cursor: pointer;
                    &.active {
                        color: $c-f; 
                        background: linear-gradient(104.17deg, #53BEFD 2.27%, #0D77F2 100%), #2897FA;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
 

/deep/.el-table thead {
    color: $c-3D;
    font-weight: 500;
}

/deep/.el-table tr {
    background-color: transparent;
    &.el-table__row td{
        background-color: $c-f !important;
    }
}

/deep/.is-left {
    text-align: left !important;
    .cell {
        margin-left: 8px;
    }
}
 

/deep/.el-table__expand-icon {
    color: $c-3D;
    font-size: 13px;
}
 

/deep/.demo-table-expand {
    min-height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: wrap;
    .el-form-item {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }
    .el-form-item__content {
        display: flex;
    }
    /deep/.el-table__expanded-cell {
        border: 1px solid $bg-926 !important;
        box-shadow: 0px 1px 0px $c-f !important;
    }
}
/deep/.el-date-editor{

    .el-range-separator {
        padding: 0 5px;
        line-height: 32px;
        width: 5%;
        color: #808293;
    }
    .el-range-input {
        color: #3D4957;
        background: border-box;
        border-radius: 6px;
        width: 150px;
        height: 40px;
        background: #FFFFFF;
        border: 0.5px solid #E6E8F3;
        box-shadow: inset 3px 3px 4px rgba(77, 110, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
    }
}
/deep/ .head-container .head-left .head-left-bottom {
    background: #FFFFFF;
    border: 0.5px solid #E6E8F3;
    box-shadow: 0px 4px 18px rgba(207, 212, 225, 0.54);
    border-radius: 8px;
}