.sponsor-wrap{
    background: url('./img/bg.png') no-repeat center top/auto;
    background-color: #020E2D;
    text-align: center;
    .top{
        .logo{
            width: 483px;
            margin: 50px auto 60px;
        }
    }
    .middle{
        padding: 73px 0 60px;
        background: url('./img/middle-bg.png') no-repeat center bottom/auto;        
        .video-content{
            height: 833px;
            width: 1090px;
            margin: 0 auto;
            img{
                width: 1090px;
                height: 613px;
            }
            /deep/ .el-carousel__indicators{
                bottom: 20px;
                padding: 0 15px;
                background: rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                .el-carousel__indicator{
                    padding: 4px 6px 8px;
                    button{
                        width: 12px;
                        height: 6px;
                        border-radius: 1px;
                    }       
                    &.is-active{
                        button{
                            width: 24px;
                        }
                    }             
                }
            }
        }
        
    }
    .about, .intro{
        width: 1080px;
        height: 274px;
        color:#fff;
        padding: 57px 30px 0;
        margin: auto;
        background: rgba(120, 116, 116, 0.3);
        border-radius: 20px;        
        box-sizing: border-box;
        h2{
            font-size: 20px;
            font-weight: 500;
        }
        p{
            font-size: 16px;
            text-align: left;
            margin-top: 30px;
            line-height: 30px;
        }
    }
    .intro{
        background: none;
        p{
            text-align: center;
        }
    }

    .bottom{
        padding: 25px 0 80px;
        background: url('./img/map.png') no-repeat center 50px /auto;        

        .partner{
            width: 1068px;
            margin: 70px;
        }
    }
}