/deep/ .el-pagination .btn-prev {
    background: $c-1886;
    border-radius: 4px;
    .el-icon {
        color: $c-f;
    }
}

/deep/ .el-pagination .btn-next {
    background: $c-1886;
    border-radius: 4px;
    .el-icon {
        color: $c-f;
    }
}

/deep/ .el-pagination button:disabled {
    background: $c-1886;
    .el-icon {
        color: $c-f;
    }
}

/deep/ .el-pager li {
    border-radius: 2px;
    margin: 0 1px;
    background: rgba(188, 169, 151, 0.2);
    color: $c-f;
}

/deep/ .el-pager li.active {
    background: $c-9f;
}

/deep/ .el-date-editor .el-range__icon {
    color: #f6b56a;
    display: none;
}

/deep/ .el-date-editor .el-range-input {
    color: #af8c70;
}

/deep/ .el-table {
    color: #af8c70;
    background-color: transparent;
    margin-bottom: 32px;
    &::before {
        display: none;
    }
    .el-table__row {
        cursor: pointer;
    }
}

/deep/ .el-table th.is-leaf {
    border: 0;
    text-align: center;
}

/deep/ .el-table__expanded-cell {
    text-align: left !important;
    padding: 0 0 0 20px;
    border: 1px solid $bg-926;
    border-left: none;
    border-right: none;
    box-shadow: 0px 1px 0px $c-f;
    background-color: $c-18815;
    .el-form-item {
        margin-bottom: 0;
    }
}

.order-number {
    display: inline-block;
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top-div {
    background: $c-fc;
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 20px 30px 30px;
    position: relative;
    .betting-form {
        /deep/.el-form-item__label {
            text-align: left;
            width: 45px !important;
        }
        /deep/.el-form-item__content {
            margin-left: 0 !important;
        }
    }
    .inquire {
        width: 80px;
        height: 40px;
        background: #fba002;
        border-radius: 4px;
        border: 0;
        color: $c-f;
        margin-left: 10px;
    }
}

.bottom-div {
    min-height: 400px;
    background: $c-fc;
    border-radius: 20px;
    padding: 28px 30px;
    .bottom-div-inner {
        background: $c-18815;
        border-radius: 8px 8px 0 0;
        box-sizing: border-box;
        padding: 0 20px;
    }
    .bottom-top-div {
        height: 50px;
        display: flex;
        justify-content: space-between;
        div {
            line-height: 50px;
            display: inline-block;
            height: 100%;
            max-width: 200px;
            min-width: 200px;
            color: $c-81;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            overflow: hidden;
            word-break: break-all;
            font-size: 14px;
        }
    }
    .betting-table {
        /deep/.has-gutter tr th {
            color: $c-81;
            background: #f0f0f0;
            text-align: center;
        }
        /deep/.el-table__body-wrapper tr td {
            text-align: center;
            border-bottom: 0;
            // background: $c-18815;
        }
    }
    .no-data-div {
        display: flex;
        justify-content: space-around;
        background: #eae3dd;
        text-align: center;
        height: 48px;
        line-height: 48px;
        border-radius: 4px;
        margin-top: 2px;
        span {
            font-size: 14px;
            color: $c-81;
            font-size: 14px;
        }
    }
    .no-data-gif {
        text-align: center;
        padding-top: 63px;
        line-height: 487px;
    }
    .no-data-img {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 188px auto 0px;
        padding-bottom: 156px;
    }
}

/deep/.el-table th {
    background: #eae3dd !important;
}

/deep/.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #eae3dd !important;
}


/* 改版样式添加 */

.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .head-left {
        .head-left-top {
            margin-bottom: 8px;
            color: #815B39;
            font-size: 14px;
            white-space: nowrap;
            span {
              color: #815B39;
            }
        }
        .head-left-bottom {
            display: flex;
            align-items: center;
            .plat-select {
                display: flex;
                align-items: center;
                border-radius: 8px;
                width: 240px;
                background: #F5F1ED;
                border: 0.5px solid #E6E8F3;
                box-shadow: 0px 4px 18px rgba(207, 212, 225, 0.54);
                .plat-name {
                    padding: 0px 0px 0px 10px;
                    text-align: center;
                    height: 100%;
                    font-size: 14px;
                    color: $c-81;
                }
                /deep/.el-form-item {
                    margin-bottom: 0;
                    .el-select {
                        width: 100%;
                    }
                }
                /deep/.el-form {
                    flex: 1;
                    .el-input__inner {
                        background-color: transparent;
                        border: none;
                        color: $c-81;
                        box-shadow: none !important;
                        &::placeholder {
                            color: #815B39;
                        }
                    }
                }
            }
            .head-date-div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .date-picker {
                    border: 0;
                    width: 360px !important;
                    background: transparent;
                    /deep/.el-input {
                        border-radius: 4px;
                    }
                }
                .inquire {}
            }
        }
    }
    // 头部
    .head-right {
      .head-right-top {
        color: $c-1886;
        font-size: 14px;
        text-align: center;
         margin-bottom: 8px;
      }
      .head-right-bottom {
        .date-div {
          display: flex;
          align-items: center;
          .date-btn {
            width: auto;
            white-space: nowrap;
            color: $c-f;
            margin-left: 8px;
            height: 40px;
            line-height: 40px;
            border-radius: 4px;
            background: $c-1884;
            border: none;
            padding: 0 12px;
            font-size: 14px;
            cursor: pointer;
            box-shadow: 0px 4px 18px rgba(207, 212, 225, 0.54);
            &.active {
              background: $c-81;
            }
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
}

.no-data-img,
.no-data-gif {
    text-align: center;
    margin: 188px auto 252px;
}

/deep/.el-table thead {
    color: $c-81;
    font-weight: 500;
}

/deep/.el-table tr {
    background-color: transparent;
}

/deep/.is-left {
    text-align: left !important;
    .cell {
        margin-left: 8px;
    }
}

/deep/.el-pagination {
    margin-top: 20px;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

/deep/.el-table__expand-icon {
    color: $c-81;
    font-size: 13px;
}

/deep/.el-pagination__jump {
    color: $c-81;
    .el-input__inner {
        background: rgba(188, 169, 151, 0.2);
        border-radius: 4px;
        color: $c-81;
    }
}

/deep/.demo-table-expand {
    min-height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: wrap;
    .el-form-item {
        display: flex;
        align-items: center;
        // height: 50px;
        margin-right: 50px;
    }
    .el-form-item__content {
        display: flex;
    }
    /deep/.el-table__expanded-cell {
        border: 1px solid $bg-926 !important;
        box-shadow: 0px 1px 0px $c-f !important;
    }
}

/deep/ .el-pagination__total {
    color: $c-81;
}

/deep/.el-date-editor {
  .el-range-separator {
    padding: 0 5px;
    width: auto;
    line-height: 32px;
    color: #808293;
  }
  .el-range-input {
    color: rgba(129, 91, 57, 1);
    background: border-box;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    background: #F5F1ED;
    border: 0.5px solid #E6E8F3;
    box-shadow: inset 3px 3px 4px rgba(77, 110, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
  }
}

