.real-info-description {
    margin-top: 30px;
    font-size: 14px;
    color: $c-ff4;
    .title {
        margin-bottom: 22px;
        color: $c-ff6;
    }
    .real-form {
        .gender-box {
            /deep/ .el-input--prefix {
                .el-input__inner {
                    padding-left: 30px;
                    background-color: $c-ff15;
                }
            }
        }
        .user-name,
        .gender-box {
            /deep/ .el-input__inner {
                background-color: $c-ff15;
            }
        }
        .birthday {
            /deep/ .el-input__inner {
                padding-left: 40px;
                background-color: $c-ff15;
            }
        }
    }
}