.provider-box {
    padding-top: 30px;
    font-size: 14px;
    font-weight: 400;
    color: $c-ff4;
    .class-box {
        @include flex();
        .class-lv {
            margin: 26px 80px 0 0;
            @include flex(center);
            .text {
                color: $c-4d;
            }
        }
    }
    .bind-box {
        @include flex();
        margin-top: 30px;
        .bind-item {
            @include flex();
            .label {
                color: $c-ff4;
            }
            .center {
                color: $c-4d;
            }
        }
    }
    .bind-btn {
        width: 56px;
        height: 29px;
        line-height: 29px;
        background: $c-4d;
        border-radius: 5.75947px;
        text-align: center;
        margin-left: 28px;
        font-size: 12px;
        cursor: pointer;
        color: $c-f;
        transition: 0.2s linear;
        &:hover {
            background-color: $c-ff6;
        }
    }
    .el-divider {
        background-color: $bg-926;
    }
}