.text-center {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gender-label {
    word-spacing: 1em;
}

.service-link {
    color: rgba(188, 169, 151, 1);
}

.data-box {
    background: rgba(14, 62, 46, 0.8);
    border-radius: 10px;
    padding: 24px;
    padding-top: 0;
    margin-bottom: 20px;
    .profile-content-title {
        padding: 0;
    }
    .box-title {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 8px;
        span {
            font-size: 14px;
            color: $c-a;
            &.opacity {
                color: $c-1886;
            }
        }
    }
}

.secret-item {
    margin-bottom: 8px;
    img {
        vertical-align: middle;
    }
    span {
        margin-left: 5px;
        font-weight: 400;
        line-height: 1.5;
    }
}

.data-form {
    margin-top: 15px;
}

.birthday {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.birth-select {
    width: 101px;
}

.row {
    display: flex;
    width: 420px;
    line-height: 36px;
    margin-top: 20px;
    .center {
        flex: 0 0 205px;
        padding: 0 25px 0 15px;
        text-align: center;
    }
}

.mobile-tip {
    font-size: 18px;
    color: #C8D2D2;
    padding: 0 20px;
    text-align: left;
    margin-top: 34px;
}

.mobile-phone {
    padding-left: 92px;
    box-sizing: border-box;
}

.profile-dialog {
    padding: 0 30px;
    position: relative;
    .smcode-item {
        width: 280px;
    }
    .smcode-container {
        bottom: 0;
        border: 1px solid $c-81;
        display: flex;
        right: 31px;
        border-radius: 1px solid #ccc;
        align-items: center;
        justify-content: center;
        width: 134px;
        height: 40px;
        border-radius: 34px;
        position: absolute;
    }
    /deep/ .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
        display: none;
    }
    /deep/.el-form-item__content {
        flex-grow: 1;
    }
    .mobile-area {
        /deep/.el-input__inner {
            padding-left: 10px;
            font-weight: 500;
        }
    }
    /deep/ .el-input__inner {
        height: 40px;
        background: $b-f5;
        box-shadow: inset 0px 3px 0px rgba(141, 92, 77, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
        border-radius: 4px;
        padding-left: 0;
        border: none;
        color: #C8D2D2;
        &::-webkit-input-placeholder {
            color: rgba(188, 169, 151, 0.5) !important;
        }
    }
    /deep/.el-form-item {
        background: $b-f5;
        border: 1px solid rgba(255, 255, 255, 0.34);
        box-shadow: inset 3px 3px 4px rgba(141, 92, 77, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
        border-radius: 4px;
        display: flex;
        align-items: center;
        .el-form-item__label {
            color: #889796;
            padding: 0 0 0 10px;
        }
    }
}

.get-mobile-code {
    cursor: pointer;
    color: #C8D2D2;
}

.code-from {
    position: relative;
    img {
        display: inline-block;
        width: 65px;
        height: 24px;
        position: absolute;
        right: 25px;
        top: 5px;
    }
    .refresh {
        color: #fcce92;
        position: absolute;
        right: 2px;
        top: 10px;
        font-size: 20px;
    }
}


/* 新版样式添加 */

.submit-userinfo-button {
    width: 79px;
    height: 29px;
    border-radius: 5.75947px;
    /deep/.el-button {
        background: $c-81 !important;
        color: $c-f;
        font-size: 12px;
        height: 100%;
        border-radius: 5px;
        line-height: 10px;
    }
}

.gender-select {
    .el-select-dropdown__item,
    .el-select-dropdown__item.selected {
        color: $c-1886;
    }
}

