.real-info-description {
    margin-top: 30px;
    font-size: 14px;
    color: #C8D2D2;
    .title {
        margin-bottom: 22px;
    }
    .real-form {
        .gender-box {
            /deep/ .el-input--prefix {
                .el-input__inner {
                    padding-left: 30px;
                    background: rgba(8, 45, 32, 0.9);
                }
            }
        }
        .user-name,
        .gender-box {
            /deep/ .el-input__inner {
                background: rgba(8, 45, 32, 0.9);
            }
        }
        .birthday {
            /deep/ .el-input__inner {
                padding-left: 40px;
                background: rgba(8, 45, 32, 0.9);
            }
        }
    }
}

.multi-language {
  .submit-userinfo-button {
    width: auto;
  }
  .real-info-description .real-form /deep/ .user-name .el-input__inner {
      width: 660px !important;
  }
}
