.data-box {
    background: rgba(14, 62, 46, 0.8);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.provider-box {
    padding-top: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #C8D2D2;
    .class-box {
        @include flex();
        .class-lv {
            margin: 26px 80px 0 0;
            @include flex(center);
            &:last-child {
                margin-right: 0 !important;
            }
            .text {
                color: #6BB7EE;
            }
        }
    }
    .bind-box {
        @include flex();
        margin-top: 30px;
        .bind-item {
            @include flex();
            .label {
                color: #C8D2D2;
            }
            .center {
                color: #C8D2D2;
            }
        }
    }
    .bind-btn {
        box-sizing: border-box;
        padding: 0 5px;
        min-width: 56px;
        height: 29px;
        line-height: 29px;
        background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
        border-radius: 5.75947px;
        text-align: center;
        margin-left: 28px;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        color: #0E3E2E;
        transition: 0.2s linear;
    }
    .el-divider {
        background: #27553F;
    }
}

.multi-language {
  .provider-box .class-box .class-lv {
    margin-right: 50px;
  }
}
