.phone {
    /deep/.el-input__inner {
        padding-left: 88px !important;
    }
}

/deep/.el-input__inner {
    height: 48px;
}

/deep/ .el-select {
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
}

/deep/ .el-select {
    input::-webkit-input-placeholder {
        color: $ft-b !important;
    }
    .el-input__inner {
        padding: 0 0 0 20px;
        color: $c-f;
    }
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    color: #ccc;
}

.el-select-dropdown__item.selected {
    color: #ccc;
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: pink;
}

.el-popper {
    background-color: $c-fc;
    .el-select-dropdown__item {
        color: $c-30;
    }
}

/deep/ .el-form-item {
    margin-bottom: 40px;
}

/deep/ .el-input {
    height: 100%;
    color: $c-ce;
    input::-webkit-input-placeholder {
        color: #808293 !important;
    }
}

.box {
    padding: 103px 0 83px;
    background-color: $c-30;
    background-size: 100% 100%;
    background-image: url('./img/forget_bg.png');
    .content {
        width: 940px;
        background: $c-22;
        margin: 0 auto;
        .title {
            height: 123px;
            line-height: 123px;
            font-size: 34px;
            font-weight: 500;
            color: rgba(220, 191, 128, 1);
            margin: 0 38px;
            border-bottom: 2px solid #393A42;
        }
        .stpe {
            display: flex;
            justify-content: center;
            color: $c-f;
            font-weight: bold;
            font-size: 16px;
            margin: 32px 0;
            .stpe-one,
            .stpe-two,
            .stpe-three {
                width: 268px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                background: #3d4154;
            }
            .stpe-one {
                color: $ft-f6;
                background: url("./img/step_thirth.png") no-repeat;
                background-size: 100% 100%;
                color: #393A42;
                &.dark-bg {
                    background: url("./img/stpe_first.png") no-repeat;
                    background-size: 100% 100%;
                    color: #fff;
                }
            }
            .stpe-two {
                margin-right: 2px;
                background: url("./img/stpe_second.png") no-repeat;
                background-size: 100% 100%;
            }
            .stpe-three {
                margin-right: 2px;
                color: #393A42;
                background: url("./img/step_thirth.png") no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}

.code-from {
    position: relative;
    img {
        display: inline-block;
        width: 65px;
        height: 30px;
        position: absolute;
        right: 25px;
        top: 5px;
    }
    .refresh {
        color: #fcce92;
        position: absolute;
        right: 2px;
        top: 10px;
        font-size: 20px;
    }
}

.row {
    width: 100%;
    display: flex;
    .reg-card {
        transition: 0.5s ease-in-out;
        /deep/ .el-select {
            z-index: 1;
        }
    }
    .py-3 {
        padding-bottom: 1rem !important;
    }
    .col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}

.justify-content-center {
    display: flex;
    justify-content: center !important;
    margin: 0 auto;
}

.title {
    font-weight: 500;
    margin: 1.5rem auto 1.5rem;
    font-size: 18px;
    text-align: center;
}

.mes-code-btn {
    width: 113px;
    height: 48px;
    border-radius: 6px;
    color: #393A42;
    border: 0;
    position: absolute;
    right: 0;
    font-size: 12px;
    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
    font-weight: 500;
}

.user-message {
    /deep/.el-input__inner {
        width: 335px;
    }
}

.loginBtn {
    width: 470px;
    height: 45px;
    margin: 40px auto 0;
    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
    border-radius: 6px;
    display: block;
    border: 0;
    color: #393A42;
    font-size: 16px;
}

.loginBtn-on {
    background: $bg-fcc;
}

.question-customer {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    span {
        cursor: pointer;
    }
    .question {
        color: #808293;
        margin-right: 3px;
    }
    .customer {
        color: #fff;
        cursor: pointer;
        margin-left: 4px;
    }
}

.from-div {
    margin: 50px auto;
}

.el-form {
    margin: 0 238px;
    /deep/.el-input__inner {
        background: rgba(34, 35, 40, 0.8);
        border: 1px solid #545666;
        position: relative;
        color: #808293;
    }
    /deep/.el-form-item__content {
        height: 48px;
    }
    /deep/.el-input__icon {
        color: $c-f;
    }
    .btn-class {
        margin-top: 22px;
        /deep/ .el-form-item__content {
            width: 463px;
            @include flex();
        }
    }
    .btn-pubilc {
        height: 40px;
        background: $bg-3d;
        border-radius: 6px;
        color: $ft-f6;
        border: 0;
        font-size: 14px;
        width: 210px;
    }
    .change-btn {
        margin-left: auto;
        background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
        color: #393A42;
    }
}