.el-pagination {
    /deep/ .btn-prev {
        width: 35px;
        height: 30px;
        background: $c-54;
        border-radius: 4px;
        padding-left: 12px;
        .el-icon {
            color: $c-f;
            font-size: 15px;
        }
    }
    /deep/ .btn-next {
        background: $c-54;
        border-radius: 4px;
        padding-left: 12px;
        width: 35px;
        height: 30px;
        .el-icon {
            color: $c-f;
            font-size: 15px;
        }
    }
    /deep/ button:disabled {
        background: $c-39;
        padding-left: 12px;
        width: 35px;
        height: 30px;
        .el-icon {
            color: $c-f;
            font-size: 15px;
        }
    }
    /deep/ span:not([class*="suffix"]) {
        height: 30px;
        color: $c-80;
    }
    /deep/ .el-pager li {
        width: 35px;
        height: 30px;
        background: $c-39;
        border-radius: 4px;
        color: $ft-f6;
        margin: 0 1px;
    }
    /deep/ .el-pager li.active {
        color: $c-39;
        background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
        border-radius: 4px;
    }
    /deep/ .el-pagination__jump {
        .el-pagination__editor {
            width: 35px;
            .el-input__inner {
                background: $bg-3d;
                border-radius: 4px;
                color: $ft-f6;
                font-weight: 500;
                border-color: transparent;
            }
        }
    }
}