.forum-list-container {
    .list-title {
        @include flex(flex-start);
        margin-bottom: 20px;
        .title-icon {
            width: 25px;
            height: 25px;
            background-size: 100% 100%;
            margin-top: 4px;
            background-image: url('../img/list_title_icon.png');
        }
        .title-text {
            color: #fff;
            font-weight: 400;
            font-size: 24px;
            margin-left: 9px;
        }
    }
    .forum-item-wrapper {
        background: $bg-32;
        border-radius: 16px;
        padding: 41px 38px;
        font-size: 14px;
        box-sizing: border-box;
        .forum-list-item {
            margin-bottom: 28px;
            cursor: pointer;
            .item-title-container {
                @include flex();
                .user-profile {
                    @include flex(flex-start);
                    .user-icon {
                        width: 26px;
                        border-radius: 50%;
                        background: red;
                    }
                    .user-name {
                        font-weight: bold;
                        color: $c-f;
                        margin-left: 10px;
                        opacity: 0.3;
                    }
                }
                .forum-desc {
                    @include flex(flex-start);
                    color: $ft-f6;
                }
                .like-num,
                .rating-num {
                    @include flex(flex-start);
                }
                .like-icon,
                .rating-img {
                    height: 15px;
                    margin-right: 5px;
                }
                .like-num {
                    margin: 0 20px;
                }
            }
            .item-content-container {
                border-radius: 8px;
                margin-top: 10px;
                padding-left: 20px;
                border-bottom: 1px solid $c-39;
                @include flex();
                .content-main {
                    height: 100%;
                    align-self: flex-start;
                    padding-top: 12px;
                    .content {
                        color: #fff;
                    }
                    .classify-tag {
                        background-image: url('../img/type_icon.png');
                        width: 65px;
                        height: 20px;
                        background-size: 100% 100%;
                        color: $c-39;
                        font-size: 12px;
                        @include flex(center);
                        margin: 14px 0;
                    }
                }
                .user-send-img {
                    height: 100%;
                    flex-shrink: 0;
                    max-width: 50%;
                    margin-left: 20px;
                }
            }
        }
        /deep/ .el-pagination {
            text-align: right;
            button:disabled {
                width: 35px;
                height: 30px;
                background-color: $c-39;
            }
            .btn-prev,
            .btn-next {
                // margin-right: 3px;
                width: 35px;
                height: 30px;
                border-radius: 4px;
                padding: 0;
                background: $c-54;
                .el-icon {
                    color: $c-f;
                    font-size: 14px;
                }
            }
            .el-pagination__jump {
                color: $c-80;
                .el-input__inner {
                    background-color: $c-39;
                    border-color: transparent;
                    width: 35px;
                    color: $ft-f6;
                }
            }
            .el-pager {
                .number {
                    margin: 0 3px;
                    border-radius: 4px;
                    background-color: $c-39;
                    color: #fff;
                    font-weight: bold;
                    height: 30px;
                    &.active {
                        background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                        border-color: transparent;
                        color: $c-39;
                    }
                }
                .el-icon-more {
                    background-color: transparent;
                    color: #fff;
                }
            }
        }
    }
}