.live-container {
    position: relative;
    border-radius: 10px;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    background: $primary-bg;
    backdrop-filter: blur(10px);

    .right_bg {
        position: absolute;
        right: 0;
        top: 0;
        width: 241px;
    }

    .live-tabs {
        padding: 32px 16px 28px 16px;
        @include flex(flex-start);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .zhibo {
            width: 567px;
            height: 44px;
            background-color: steelblue;
        }
    }

    .live-tab-item {
        text-align: center;
        transition: 0.2s;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #C8D2D2;
        cursor: pointer;
        background-size: 100% 100%;
        border-radius: 6px;
        margin-right: 20px;
        @include flex(center);

        .tab-img {
            width: 20px;
            margin-right: 8px;
        }
        .live-tips-two {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 55%;
                transform: translateY(-50%) matrix(-1, 0, 0, 1, 0, 0);
                width: 2px;
                height: 18px;
                background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
            }
            &::before {
                content: '';
                position: absolute;
                left: 90%;
                top: 55%;
                transform: translateY(-50%);
                width: 64px;
                height: 50px;
                background: url("../../img/live/live_img.png") no-repeat center center;
                background-size: contain;
            }
            .tab-directSeeding {
                margin-left: 20px
            }
        }
        .right {
            position: absolute;
            left: 900px;
            &::before {
                left: 90%;
                width: 150px;
                background: url("../../img/live/schedule_img.png") no-repeat center center;
                background-size: contain;
            }
        }


        // &.active {
        //     background-image: url("../../img/live/btn_bg_active.png");
        // }
    }
    .live-tab-item-two {
        margin-left: 690px;
    }
}
