 .exclusive-vip {
     padding: 30px 20px 62px;
     font-size: 16px;
     background-color: $bg-32;
     .header {
         display: flex;
         .header-left {
             .normal-show-container {
                 display: flex;
                 align-items: center;
                 flex-direction: column;
                 .level-bg {
                     width: 66px;
                     height: 66px;
                     background-image: url("./img/vip_bg.png");
                     background-size: 100% 100%;
                     position: relative;
                     .level-num {
                         position: absolute;
                         bottom: 8px;
                         right: 13px;
                         color: $c-22;
                         font-size: 20px;
                     }
                 }
                 .level-txt {
                     margin-top: 5px;
                     font-size: 14px;
                     color: $c-f;
                 }
             }
             @for $i from 0 through 10 {
                 .level-#{$i} {
                     background-image: url('../img/icon-#{$i}.png');
                 }
             }
             img {
                 width: 100%;
                 height: auto;
             }
         }
         .header-center {
             flex-grow: 1;
             color: #666;
             margin-left: 55px;
             .header-center-top {
                 @include flex();
                 .level-txt {
                     color: $ft-f6;
                     span {
                         color: $ft-fb;
                     }
                 }
                 .link-vipInfo {
                     margin-left: auto;
                     color: $c-a;
                 }
             }
             .header-line {
                 /deep/ .el-progress-bar__outer {
                     background: $bg-32;
                 }
             }
             .holder {
                 display: inline-block;
                 width: 5px;
             }
         }
     }
 }

 /deep/ .el-select {
     width: 300px;
     box-sizing: border-box;
     .el-input__inner {
         font-size: 16px;
         color: #646464;
         text-align: center;
         text-align: left;
         font-size: 14px;
         &::-webkit-input-placeholder {
             color: $c-a;
             text-align: center;
         }
     }
 }

 /deep/ .el-popper {
     text-align: center;
 }

 .vip-progress {
     margin: 20px 0;
     /deep/ .el-progress-bar__outer {
         background: linear-gradient(108.23deg, #50535A 28.37%, #655A4E 80.02%);
         box-sizing: border-box;
         box-shadow: 0px 4px 4px rgba(99, 68, 38, 0.06);
         border-radius: 4px;
         .el-progress-bar__inner{
             border-radius: 4px;
         }
     }
     .vip-select {
         display: flex;
         justify-content: space-between;
         .vip-bar-text {
             width: 34px;
             height: 40px;
             font-size: 14px;
             text-align: center;
             color: $c-af;
             cursor: pointer;
             position: relative;
             background-image: url('./img/vip.png');
             background-size: 100% 100%;
             top: 13px;
             z-index: 3;
             @include flex(center);
             align-items: flex-end;
             .vip-num {
                 font-size: 12px;
                 color: #e0ddcf;
                 transform: scale(0.7);
                 margin-bottom: 5px;
                 font-weight: bold;
             }
         }
         .vip-bar-text-color {
             top: 8px;
             width: 40px;
             height: 47px;
             color: $ft-fb;
             background-image: url('./img/vip_on.png');
             .vip-num {
                 margin-bottom: 7px;
             }
         }
     }
     .progress {
         margin-bottom: 15px;
     }
     .vip-progress-label {
         font-size: 16px;
         color: $c-81;
         span {
             font-weight: bold;
             color: #f9cb91;
         }
     }
 }

 .data-box {
     border-radius: 16px;
     background: $c-39;
     border-radius: 10px;
     padding: 20px 30px;
     margin-bottom: 20px;
     &.vip-box {
         padding: 0;
         &:nth-child(3) {
             padding-bottom: 39px;
         }
     }
     .dark-bg {
         background: rgba($c-22, 0.3);
         border-radius: 4px;
         height: 35px;
         line-height: 35px;
         box-sizing: border-box;
         min-width: 140px;
         text-align: center;
         .num {
             color: $c-e7;
         }
     }
     .box-title {
         font-size: 20px;
         font-family: MF LangQian, serif;
         font-weight: 700;
         color: #fff;
         &.vip-title {
             text-align: center;
             line-height: 40px;
             height: 40px;
             background: linear-gradient(90deg, #D9B47D 0%, #FBE7C4 53.02%, #D9B47D 100%);
             border-radius: 10px 10px 0px 0px;
             color: $c-39;
             border-bottom: 2px solid #FFF8E6;
         }
     }
     .box-no-data {
         text-align: center;
         margin: 20px 0;
         color: #f2c488;
     }
     .box-no-data-div {
         text-align: center;
         span {
             display: inline-block;
             padding: 0 10px;
             min-width: 100px;
             height: 30px;
             line-height: 30px;
             border: 1px solid #f2c488;
             color: #f2c488;
             cursor: pointer;
         }
     }
 }

 .line-row {
     display: flex;
     align-items: center;
     margin-bottom: 18px;
     .row-left {
         font-size: 14px;
         color: $c-f;
     }
     .row-center {
         flex: 0 0 300px;
         padding: 6px 10px;
         margin: 0 10px;
     }
     .row-right {
         font-size: 0;
         span {
             font-size: 12px;
             font-weight: 500;
             color: $c-f;
             text-align: center;
         }
     }
 }

 .text-center {
     text-align: center;
     &.vip-center {
         padding: 15px 15px 20px;
     }
 }

 .row {
     display: flex;
     flex-wrap: wrap;
     margin: 5px -15px 0;
 }

 .pl-0,
 .px-0 {
     padding-left: 0;
 }

 .pr-0,
 .px-0 {
     padding-right: 0;
 }

 .col {
     position: relative;
     flex-grow: 1;
     flex-basis: 0;
 }

 .vip-ico-wrap {
     max-height: 50px;
     .img-fluid {
         height: 50px;
         max-width: 100%;
     }
 }

 .font-weight-bolder,
 .vip-promote {
     margin-top: 5px;
     margin-bottom: 10px;
     font-size: 16px;
     color: $c-f;
 }

 .fs-0-7 {
     text-align: center;
     color: $c-e7;
     font-size: 14px;
     //background: rgba($c-22, 0.3);
     //height: 32px;
     //line-height: 32px;
}

 // .vip-promote {
 //   font-size: 20px;
 //   font-family: PingFang SC;
 //   font-weight: 500;
 //   color: $c-a;
 //   margin-top: 18px;
 //   margin-bottom: 18px;
 // }
 .vip-promote-label {
     font-size: 14px;
     text-align: center;
     color: $c-a5;
 }

 .bottom-btn-group {
     padding: 30px 0px 0 30px;
     margin: 0px;
     @include flex(flex-start);
     position: relative;
     &:before{
        border-top: 1px solid #3d4154;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        opacity: 0.8;
     }
     .g-button {
         margin: 0 auto;
     }
     .venue {
         margin-left: 40px;
         .venue-btn {
             width: auto;
             height: 40px;
             background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
             border-radius: 6px;
             color: $c-39;
             font-weight: 600;
         }
     }
 }

 .dialog-div {
     /deep/ .el-dialog {
         width: 600px !important;
         // max-height: 800px;
     }
     /deep/ .el-dialog__body {
         height: 521px !important;
         // padding: 25px 0 25px 25px;
         box-sizing: border-box;
         overflow-y: auto;
     }
 }

 .unbing-time-div {
     text-align: center;
     font-size: 16px;
     color: $c-f;
 }

 .unbing-wrap {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     margin-top: 20px;
     .unbing-div {
         display: inline-block;
         width: 160px;
         height: 30px;
         text-align: center;
         line-height: 30px;
         border: 1px dashed #000;
         margin-right: 20px;
         // margin-top: 15px;
         margin-bottom: 15px;
         border-radius: 5px;
     }
 }

 .birthday-mask {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     z-index: 3;
     .birthday-bg {
         position: fixed;
         display: inline-block;
         width: 400px;
         height: 510px;
         top: 23%;
         left: 50%;
         transform: translateX(-50%);
     }
     .close-dialog-btn {
         position: absolute;
         right: -40px;
         top: 0;
         color: $c-f;
         font-size: 35px;
         cursor: pointer;
     }
     .birthday-inner-box {
         position: fixed;
         width: 400px;
         height: 510px;
         top: 23%;
         left: 50%;
         transform: translateX(-50%);
         .birthday-inner {
             width: 300px;
             position: absolute;
             bottom: 30px;
             left: 50%;
             transform: translateX(-50%);
             text-align: center;
         }
     }
     .div-while {
         color: $c-f;
     }
     .div-color {
         font-size: 14px;
         color: $c-f;
         .gold-text {
             color: #feffb3;
             font-size: 16px;
         }
         &.bless {
             color: #feffb3;
             font-weight: bold;
             font-size: 18px;
         }
     }
     .div-btn {
         margin-top: 10px;
         // :first-child {
         //   display: inline-block;
         //   width: 95px;
         //   height: 25px;
         //   line-height: 25px;
         //   border-radius: 50px;
         //   background: #c8c8c8;
         //   font-size: 14px;
         //   margin-right: 10px;
         //   cursor: pointer;
         // }
         margin: 10px auto 0;
         width: 200px;
         height: 35px;
         line-height: 35px;
         border-radius: 50px;
         background: #ffef8b;
         font-size: 18px;
         color: #fe0106;
         font-weight: bold;
         cursor: pointer;
     }
 }

 .mask-div {
     width: 450px;
     height: 150px;
     background: #323232;
     border-radius: 10px;
     position: absolute;
     top: 23%;
     left: 40%;
     .smile-div {
         height: 50px;
         text-align: center;
         margin-top: 20px;
         line-height: 50px;
         img {
             display: inline-block;
             width: 50px;
             height: 50px;
         }
     }
     div {
         text-align: center;
         color: $c-f;
         margin-bottom: 5px;
     }
 }

 .validbet-progress{
    /deep/ .el-progress-bar__inner{
        background: linear-gradient(270deg, #77A2C1 0%, #5884B8 100%);
     }
 }
