.wallet-dialog {
    .text {
        font-size: 16px;
        margin: 29px -3px 22px 9px;
        font-weight: 200;
        color: #fff;
    }
    .footer {
        display: flex;
        justify-content: space-around;
        .self-footer {
            margin: 0;
            font-size: 14px;
            width: 120px;
            height: 36px;
            border-radius: 14px;
            box-sizing: border-box;
            &.cancel {
                border: 1px solid #E7D3A0;
                background: none;
                color: #E7D3A0;
            }
            &.sumbit {
                background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);

            }
        }
    }
}

.money-dialog {
    .money-input {
        width: 345px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}




