.home-menu-container {
    @include flex();
    box-sizing: border-box;
    padding: 0 40px;
    width: 100%;
    .content-item {
        @include flex(flex-start);
        .show-picture {
            width: 275px;
            height: 250px;
            &.android {
                width: 165px;
                height: 224px;
            }
        }
    }
}