.info-msg-wrap {
    background: $c-39;
    border-radius: 10px;
    min-height: 440px;
    padding: 23px 20px;
    font-size: 14px;
    .clear-div {
        @include flex();
        .clear-btn {
            background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
            color: $c-39;
            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: 20px;
        }
    }
    .info-msg-inner {
        @include flex();
        margin-bottom: 20px;
        cursor: pointer;
        .text-content {
            color: #fff;
            width: 590px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 15px;
            &.text-content-text-gray {
                color: $c-80;
            }
        }
        .create-time {
            color: $c-f;
            &.text-content-text-gray {
                color: $c-80;
            }
        }
    }
}

.message-dialog {
    .el-dialog__body {
        .unbing-time-div {
            text-align: center;
            color: $c-f;
            font-size: 18px;
        }
        .unbing-div {
            margin: 20px 0 30px;
            color: $c-f;
            font-size: 16px;
        }
        .unbing-btn-div {
            width: 120px;
            height: 36px;
            border: 0;
            font-size: 14px;
            border: 1px solid $c-e7;
            background: transparent;
            color: $c-e7;
            border-radius: 30px;
            margin: 0 auto;
        }
    }
}