/deep/ .el-table {
    color: $c-f;
    background: transparent;
    // border-radius: 10px;
    &::before {
        display: none;
    }
}

/deep/ .el-table th.is-leaf {
    border: 0;
    // text-align: center;
    color: $c-a;
    background: inherit;
}

/deep/.is-left {
    padding-left: 20px;
}

/deep/ .el-table tr {
    background-color: transparent;
    &.el-table__row:hover .el-table__cell {
        background-color: $bg-77 !important;
    }
}

/deep/ .el-table__header-wrapper {
    border-radius: 4px;
}

/deep/ .el-table tr td {
    border: 0;
    background-color: transparent;
}

/deep/ .el-table .el-table__cell {
    text-align: center;
}

/deep/ .el-date-editor .el-range__icon {
    display: none;
    color: #f6b56a;
}

/deep/ .el-date-editor .el-range-input {
    border-radius: 4px;
    width: 158px;
    height: 40px;
    background-color: $c-348;
    border: 1px solid $c-54;
    color: $c-f;
}

/deep/ .el-date-editor .el-range-separator {
    color: $c-80;
}

.top-div {
    padding: 0 24px 24px;
    position: relative;
    background-color: $bg-32;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .betting-title {
        // width: 96px;
        height: 60px;
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        color: #f6b56a;
        line-height: 60px;
        border-bottom: 1px solid #3d4154;
    }
    .date-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: -11px;
        .date-picker {
            border: 0;
            width: 360px !important;
            background: transparent;
        }
    }
    .date-span {
        display: block;
        color: $c-f;
        padding-top: 10px;
        font-size: 14px;
    }
    .filter-content {
        display: flex;
        margin-top: 8px;
        justify-content: space-between;
        .date-box {
            display: flex;
            .date-btn {
                margin-right: 10px;
                flex-shrink: 0;
                &:last-child {
                    margin-right: 0;
                }
                button {
                    height: 40px;
                    font-size: 14px;
                    color: #9A9DAA;
                    line-height: 24px;
                    border: 0;
                    padding: 0 15px;
                    border-radius: 4px;
                    background: $c-39;
                    min-width: 75px;
                }
                .btn-active {
                    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                    color: $c-39;
                    border: 0;
                    font-weight: 600;
                }
            }
        }
        .inquire {
            width: 75px;
            height: 40px;
            font-size: 14px;
            font-weight: 600;
            background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
            border-radius: 4px;
            border: 0;
            color: $c-39;
            margin-left: 10px;
        }
    }
}

.transaction-type-items {
    max-height: 635px;
    border-radius: 16px;
    padding: 0px 20px 28px 20px;
    margin-top: 20px;
    .no-data-div {
        display: flex;
        justify-content: space-around;
        text-align: center;
        height: 48px;
        margin-top: 20px;
        line-height: 48px;
        span {
            font-size: 16px;
            color: $ft-f6;
            display: inline-block;
            width: 135px;
            height: 48px;
            cursor: pointer;
            .bot {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 42px;
                height: 3px;
                border-radius: 4px 4px 0 0;
            }
            &.active-span {
                color: $c-e7;
                &::after {
                    background-color: $c-e7;
                }
            }
        }
        .active-span {
            color: $c-e7;
            .bot {
                background: $c-e7;
            }
        }
    }
    .no-data-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .no-data-gif,
    .no-data-img {
        text-align: center;
        padding: 126px 0 252px;
        margin: 0 auto;
        img {
            width: 120px;
        }
    }
    .bottom-div-inner {
        background: $c-39;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 0 20px;
    }
}