.chess-item-outer {
    color: #E7D3A0;
    font-size: 16px;
    font-weight: 600;
    width: 25%;
    min-width: 25%;
    .chess-item {
        position: relative;
        height: 229px;
        top: -5px;
        cursor: pointer;
        @include flex(center, column);
        .icon-container {
            position: relative;
            right: 0px;
            bottom: -25px;
        }
        .chess-context {
            position: relative;
            width: 128px;
            height: 156px;
            background-size: 100% 100%;
            @each $x in chess_ky chess_bl chess_v8 chess_km chess_kmqm chess_mg2{
                &.#{$x} {
                    background-image: url('../img/menu/chessMenu/' + $x + '.png');
                }
            }
            .chess-title {
                white-space: nowrap;
                position: absolute;
                left: 55px;
                top: 4px;
                .chess-title-en {
                    font-weight: 500;
                    font-size: 12px;
                }
            }
        }
    }
    .enter-game {
        width: 81px;
        height: 28px;
        background-image: url('../img/select_button.png');
        background-size: 100% 100%;
        @include flex(center);
        font-size: 12px;
        font-weight: 600;
        color: #393A42;
    }
}
