  .real-item-outer {
      width: 25%;
      min-width: 25%;
      @include flex(center);
      .real-item {
          font-weight: 600;
          font-size: 16px;
          color: #E7D3A0;
          position: relative;
          width: 164px;
          height: 223px;
          cursor: pointer;
          background-size: 100% 100%;
          @each $x in real_wm real_bbin real_eb real_abet real_evo real_pp real_bg real_mg2 real_oglive real_se real_ptl real_sa {
              &.#{$x} {
                  background-image: url('../img/menu/realMenu/' + $x + '.png');
              }
          }
          .icon-container {
              right: -14px;
              bottom: 4px;
              position: absolute;
          }
      }
      .real-context {
          position: absolute;
          top: 12px;
          left: 75px;
      }
  }
