.phone {
    /deep/.el-input__inner {
        padding-left: 88px !important;
    }
}

/deep/ .el-select {
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
}

/deep/ .el-select {
    input::-webkit-input-placeholder {
        color: $ft-b !important;
    }
    .el-input__inner {
        text-align: center;
        padding: 0;
    }
}

/deep/ .el-form-item__error {
    color: $c-fa;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    color: #ccc;
}

.el-select-dropdown__item.selected {
    color: #ccc;
}

.el-form-item {
    margin-bottom: 26px;
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: pink;
}

.el-popper {
    background-color: $c-fc;
    .el-select-dropdown__item {
        color: $c-81;
        &.hover {
            background-color: $ft-b;
            color: $c-f;
        }
    }
}

/deep/ .el-input {
    height: 100%;
    color: $c-ce;
    input::-webkit-input-placeholder {
        color: $ft-b !important;
    }
}

/deep/ .el-input__inner {
    color: $c-ce;
    font-weight: 500;
    font-size: 18px;
    background: $bg-fcf;
}

.box {
    padding: 103px 0 83px;
    background-image: url("./img/forget_bg.png");
    background-size: 100% 100%;
    .content {
        width: 940px;
        height: 616px;
        background: $c-fc;
        box-shadow: 0px 4px 8px rgba(188, 169, 151, 0.46);
        border-radius: 8px;
        margin: 0 auto;
        .title {
            height: 123px;
            line-height: 123px;
            font-size: 34px;
            font-weight: 500;
            color: $c-81;
            margin: 0;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                bottom: 0;
                left: 0;
                background-image: linear-gradient( to right, rgba(242, 234, 226, 0.13), rgba(234, 222, 210, 1), rgba(242, 234, 226, 0.56));
            }
        }
        .stpe {
            display: flex;
            justify-content: center;
            color: $c-f;
            font-weight: bold;
            font-size: 16px;
            margin: 32px 0;
            .stpe-one,
            .stpe-two,
            .stpe-three {
                width: 268px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                background: #3d4154;
            }
            .stpe-one {
                color: $c-f;
                background: url("./img/stpe_first.png") no-repeat;
                background-size: 100% 100%;
            }
            .stpe-two {
                margin-right: 2px;
                background: url("./img/stpe_second.png") no-repeat;
                background-size: 100% 100%;
            }
            .stpe-three {
                margin-right: 2px;
                background: url("./img/stpe_second.png") no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}

.code-from {
    position: relative;
    img {
        display: inline-block;
        width: 65px;
        height: 30px;
        position: absolute;
        right: 25px;
        top: 5px;
    }
    .refresh {
        color: #fcce92;
        position: absolute;
        right: 2px;
        top: 10px;
        font-size: 20px;
    }
}

.row {
    width: 100%;
    display: flex;
    .reg-card {
        transition: 0.5s ease-in-out;
        /deep/ .el-select {
            z-index: 1;
            .el-input.is-focus .el-input__inner {
                border-color: $c-a5;
            }
        }
    }
    .py-3 {
        padding-bottom: 1rem !important;
    }
    .col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}

.justify-content-center {
    display: flex;
    justify-content: center !important;
    margin: 0 auto;
}

.title {
    color: #000;
    font-weight: 500;
    margin: 1.5rem auto 1.5rem;
    font-size: 18px;
    text-align: center;
}

.mes-code-btn {
    width: 113px;
    height: 49px;
    border-radius: 6px;
    color: $c-a5;
    border: 0;
    border: 1px solid;
    position: absolute;
    right: 0;
    font-size: 16px;
    background-color: transparent;
    font-weight: 500;
}

.mes-code-send {
    background-color: transparent;
    color: $c-a5;
}

.mes-code-btn-disabled {
    background-color: transparent;
    color: $c-a5;
}

.user-message {
    /deep/.el-input__inner {
        width: 340px;
    }
}

.loginBtn {
    width: 465px;
    height: 50px;
    margin: 40px auto 0;
    background: $c-a5;
    border-radius: 8px;
    display: block;
    border: 0;
    color: $c-f;
    font-size: 24px;
    font-weight: 500;
}

.loginBtn-on {
    background: $bg-926;
}

.question-customer {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    span {
        cursor: pointer;
    }
    .question {
        color: $c-81;
        margin-right: 3px;
    }
    .customer {
        color: $c-fa;
        cursor: pointer;
        margin-left: 4px;
    }
}

.question-customer-password {
    width: 90%;
    text-align: center;
    span {
        cursor: pointer;
    }
    .question {
        color: #9b9b9d;
        margin-right: 3px;
    }
    .customer {
        display: inline-block;
        color: $c-ff5;
        margin-left: 4px;
        cursor: pointer;
        margin-top: 40px;
    }
}

.from-div {
    margin: 50px auto;
}

.el-form {
    margin: 0 238px;
    /deep/.el-input__inner {
        // background: #30323f;
        border: 1px solid $c-a5;
        position: relative;
        height: 100%;
    }
    /deep/.el-form-item__content {
        height: 49px;
    }
    /deep/.el-input__icon {
        color: $c-f;
    }
    .btn-class {
        width: 464px;
        margin-top: 59px;
        /deep/ .el-form-item__content {
            @include flex();
        }
    }
    .btn-pubilc {
        width: 211px;
        height: 50px;
        background: $c-9;
        border-radius: 6px;
        color: $c-f;
        border: 0;
        font-size: 20px;
    }
    .change-btn {
        background: $c-a5;
        color: $c-f;
    }
}
