.center-wallet-container {
    position: relative;
    padding: 15px 0px 0px;
    background-color: $bg-32;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
    .common-container {
        width: 100%;
        position: relative;
        padding-bottom: 28px;
        .center-money-container {
            @include flex(flex-start);
            transform: translateY(7px);
            position: absolute;
            left: 20px;
            bottom: 35px;
            font-size: 14px;
            .wallet-img {
                width: 43px;
            }
            .money-amonut-container {
                margin-left: 8px;
                color: $c-f;
                font-size: 14px;
                span {
                    font-size: 16px;
                    color: $c-e7;
                }
            }
        }
        .totoal-money-container {
            @include flex(center, column);
            font-size: 14px;
            .top-container {
                color: $c-f;
                .totoal-money {
                    color: $c-e7;
                }
            }
            .bottom-handle {
                @include flex();
                margin-top: 20px;
                .return-btn {
                    background-color: transparent;
                    color: $ft-f6;
                    padding: 0 8px;
                    font-size: 12px;
                    height: 30px;
                    border-radius: 4px;
                    text-align: center;
                    line-height: 30px;
                    cursor: pointer;
                    transition: all .2s;
                    border: 1px solid $ft-f6;
                    &:hover {
                        background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                        border-color: transparent;
                        color: #393A42;
                    }
                }
                .line {
                    width: 2px;
                    height: 44px;
                    background-color: $bg-3d;
                    margin: 0 21px;
                }
                .lock-container {
                    @include flex();
                    .icon_lock {
                        width: 43px;
                    }
                    .text {
                        margin-left: 8px;
                        color: $c-f;
                        font-size: 14px;
                        span {
                            font-size: 16px;
                            color: $c-e7;
                        }
                    }
                }
            }
        }
    }
    .game-wallet-container {
        border-top: 1px solid $bg-3d;
        margin: 0 20px;
        .tip-text {
            font-weight: 400;
            color: $ft-f6;
            padding: 30px 0 24px 24px;
            text-align: center;
        }
        .item-container {
            // padding: 20px 0;
            @include flex(flex-start, row, wrap);
            .item {
                box-sizing: border-box;
                padding: 0 10px;
                width: 120px;
                height: 50px;
                background: $c-c4;
                border-radius: 4px;
                color: $c-39;
                @include flex(center, column, wrap, center);
                font-size: 12px;
                margin: 0 32px 26px 0;
                position: relative;
                .title {
                    @include flex();
                    color: $c-39;
                    position: relative;
                }
                .warning {
                    font-size: 12px;
                    color: #393A42;
                    right: 8px;
                    top: 20px;
                }
                .exclamation {
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    right: 10px;
                    top: 7px;
                }
            }
        }
    }
}
