        /* - elementUI 样式 重置 */
        
        .bog.el-message {
            min-width: 500px !important;
            border: none !important;
            background-color: rgba(188, 169, 151, .8) !important;
            justify-content: center;
            height: 60px;
            top: 50% !important;
            z-index: 3000 !important;
            transform: translate(-50%, -50%) !important;
            .el-message__content {
                color: $c-f !important;
                font-size: 16px !important;
            }
            .el-icon-info,
            .el-icon-success {
                color: $c-f !important;
            }
        }
        
        .bog.el-message-box,
        .bog.el-dialog {
            min-width: 500px;
            border-radius: 12px !important;
            border: none !important;
            overflow: hidden;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-top: 0 !important;
            background-color: rgba(244, 246, 253, 0.9);
            .el-message-box__header,
            .el-dialog__header {
                height: 50px;
                line-height: 50px;
                padding: 0 !important;
                text-align: center;
                border-bottom: 1px solid $c-4d;
                .el-message-box__title,
                .el-dialog__title {
                    height: 100%;
                    color: #4D618D;
                    font-size: 22px;
                    font-weight: 600;
                }
                .el-message-box__headerbtn,
                .el-dialog__headerbtn {
                    font-size: 20px;
                    top: 11px;
                    .el-message-box__close,
                    .el-icon-close {
                        color: #4D618D;
                        font-size: 24px;
                        font-weight: bolder;
                    }
                }
            }
            .el-message-box__content,
            .el-dialog__body {
                font-size: 18px;
                color: $c-4d;
                padding: 20px;
                p {
                    line-height: 1.8;
                }
                .self-footer {
                    font-weight: 500;
                    color: $c-81;
                    background: linear-gradient(312.61deg, #475B86 11.98%, #C5D6FF 165.62%);
                    color: $c-f;
                    border: none;
                    display: block;
                    margin: 40px auto 10px;
                    width: 160px;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            .el-message-box__btns,
            .el-dialog__footer {
                margin-top: 20px;
                .el-button {
                    width: 170px;
                    height: 48px;
                    font-size: 16px;
                    border-radius: 34px;
                }
                .el-button--default {
                    border: 2px solid $c-4d;
                    font-weight: 500;
                    color: $c-4d;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
                .el-button--primary {
                    background: linear-gradient(312.61deg, #475B86 11.98%, #C5D6FF 165.62%);
                    color: $c-f;
                    border: 1px solid transparent;
                }
            }
        }
        
        .bog.el-form {
            input::-webkit-input-placeholder {
                color: $c-ff35 !important;
            }
            .el-input,
            is-disabled {
                .el-input__inner {
                    background: $b-f5;
                    mix-blend-mode: normal;
                    border: 1px solid transparent;
                    box-shadow: inset 3px 3px 4px rgba(77, 97, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
                    border-radius: 4px;
                    color: $c-81;
                    height: 40px;
                    padding-left: 15px;
                    &:focus {
                        color: $c-81;
                        outline: 0;
                        border: 1px solid transparent !important;
                        box-shadow: inset 3px 3px 4px rgba(77, 97, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25) !important;
                        border-radius: 4px !important;
                    }
                }
            }
            .el-input__prefix {
                font-weight: 500;
                color: $c-81;
                padding: 0 0 0 10px;
                line-height: 40px;
            }
            .el-form-item.is-error .el-input__inner {
                border-color: transparent !important;
            }
            .el-form-item__label {
                color: $c-ff6;
            }
            .el-select .el-input.is-focus .el-input__inner {
                border-color: $c-81;
            }
        }
        
        .bog.el-popper {
            background: $c-fc;
            .el-select-dropdown__item {
                color: $c-81;
                &.hover {
                    background-color: $c-ff4;
                    color: $c-f;
                }
            }
        }
        
        .bog.el-input {
            width: 272px;
            .el-input__inner {
                width: 272px;
                background: $c-ff15;
                border: 1px solid transparent;
                box-shadow: inset 3px 3px 4px rgba(77, 97, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
                border-radius: 4px;
                color: $c-4d;
            }
            input::-webkit-input-placeholder {
                color: rgba(77, 97, 141, 0.4);
            }
        }
        
        .bog.el-button {
            width: 79px;
            height: 29px;
            background-color: $c-4d;
            color: $c-f;
            border: 1px solid $c-4d;
            font-size: 12px;
            @include flex(center);
            cursor: pointer;
            &.is-disabled,
            &:focus,
            &:active {
                background-color: $c-ff35;
                color: $c-f;
                border: none;
                &:hover {
                    background-color: $c-ff35;
                    color: $c-f;
                    border: none;
                }
            }
            &:hover {
                background: $c-ff6;
                border: 1px solid $c-ff35;
                border-color: transparent;
                color: $c-f;
            }
        }
        
        .bog .el-select .el-input .el-select__caret {
            color: $c-4d;
            font-weight: bold;
            font-size: 18px;
        }
        
        .bog.el-button.bog-submit,
        .bog.el-button.bog-submit.is-disabled {
            width: 150px;
            color: #fff;
            background: linear-gradient( 180deg, #E7D9CC 0%, #C0AA95 100%);
            border-radius: 8px;
            height: 40px;
            border-color: transparent;
            font-size: 16px;
        }
        
        .el-form-item__content {
            .el-textarea__inner {
                resize: none;
                height: 200px !important;
                background: $b-f5;
                border: 1px solid rgba(255, 255, 255, 0.34);
                box-shadow: inset 3px 3px 4px rgba(77, 97, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
                border-radius: 4px;
                color: $c-81;
                &.is-disabled,
                &:hover,
                &:focus,
                &:active {
                    border-color: transparent;
                }
            }
            textarea::-webkit-input-placeholder {
                color: $c-ff4;
            }
        }
        
        input.el-input__inner[type=number] {
            -moz-appearance: textfield !important;
        }
        
        input.el-input__inner[type=number]::-webkit-inner-spin-button,
        input.el-input__inner[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            margin: 0 !important;
        }