@each $x in 12 14 15 16 18 20 22 24 26 30 36 {
    .ft-#{$x} {
        font-size: $x * 1px;
    }
}

@each $x in 0 5 10 15 20 25 30 35 40 50 60 80 {
    .pd-#{$x} {
        padding: $x * 1px;
    }
    .mg-#{$x} {
        margin: $x * 1px;
    }
    .mt-#{$x} {
        margin-top: $x * 1px;
    }
    .ml-#{$x} {
        margin-left: $x * 1px;
    }
    .mr-#{$x} {
        margin-right: $x * 1px;
    }
    .mb-#{$x} {
        margin-bottom: $x * 1px;
    }
    .pb-#{$x} {
        padding-bottom: $x * 1px;
    }
    .pt-#{$x} {
        padding-top: $x * 1px;
    }
    .pl-#{$x} {
        padding-left: $x * 1px;
    }
    .pr-#{$x} {
        padding-right: $x * 1px;
    }
    .w-#{$x} {
        width: $x * 1px;
    }
    .h-#{$x} {
        width: $x * 1px;
    }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.flex {
    display: flex;
}

.c-r {
    cursor: pointer;
}

$color :( red: $c-r, c3: $c-3, c6: $c-6, c8: $c-8, c9: $c-9, ftc: #959595, ce: #f9f9f9, co: #fb9b08, cd: #f6f6f6, yellow: #f60, cf: $c-f, gray: #8d8b8b, link: #0096ff, red1: red);
@each $k,
$o in $color {
    .c-#{$k} {
        color: $o;
    }
    .bc-#{$k} {
        background-color: $o;
    }
}

/* 记住密码 清除input在浏览器下的背景色 */
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
    transition: all 5000s ease-in-out 0s;
}

.multi-language-body {
    .deposit-tips-dialog {
        .el-message-box__btns .el-button{
            width: auto;
        }
    }
}
