        /* - elementUI 样式 重置 */

        .bog.el-message {
            min-width: 500px !important;
            border: none !important;
            background-color: rgba(188, 169, 151, .8) !important;
            justify-content: center;
            height: 60px;
            top: 50% !important;
            z-index: 3000 !important;
            transform: translate(-50%, -50%) !important;
            .el-message__content {
                color: $c-f !important;
                font-size: 16px !important;
            }
            .el-icon-info,
            .el-icon-success {
                color: $c-f !important;
            }
        }

        .bog.el-message-box,
        .bog.el-dialog {
            min-width: 500px;
            border-radius: 12px !important;
            border: none !important;
            overflow: hidden;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-top: 0 !important;
            background: rgba(32, 69, 57, 0.9);
            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
            .el-message-box__header,
            .el-dialog__header {
                height: 50px;
                line-height: 50px;
                padding: 0 !important;
                text-align: center;
                background: rgba(77, 94, 89, 0.5);
                .el-message-box__title,
                .el-dialog__title {
                    height: 100%;
                    color: #C8D2D2;
                    font-size: 18px;
                    font-weight: 600;
                }
                .el-message-box__headerbtn,
                .el-dialog__headerbtn {
                    font-size: 20px;
                    top: 14px;
                    .el-message-box__close,
                    .el-icon-close {
                        color: #C8D2D2;
                        font-size: 20px;
                        font-weight: bolder;
                    }
                }
            }
            .el-message-box__content,
            .el-dialog__body {
                font-size: 18px;
                color: #C8D2D2;
                padding: 20px;
                p {
                    line-height: 1.8;
                }
                .self-footer {
                    display: block;
                    margin: 0 auto;
                    min-width: 120px;
                    width: auto;
                    height: 36px;
                    font-weight: 600;
                    font-size: 14px;
                    background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
                    color: #27553F;
                    border-radius: 34px;
                    border: none;
                    &:hover {
                    }
                }
            }
            .el-message-box__btns{
                @include flex(space-around);
            }
            .el-message-box__btns,
            .el-dialog__footer {
                .el-button {
                    display: block;
                    margin: 0 auto;
                    min-width: 120px;
                    width: auto;
                    height: 36px;
                    font-weight: 600;
                    font-size: 14px;
                    background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
                    color: #27553F;
                    border-radius: 34px;
                    border: none;
                }
                .el-button--default {
                }
                .el-button--primary {
                }
            }
        }

        .bog.el-form {
            input::-webkit-input-placeholder {
                color: #C8D2D2;
            }
            .el-input,
            is-disabled {
                .el-input__inner {
                    background: rgba(8, 45, 32, 0.9);
                    mix-blend-mode: normal;
                    border: 1px solid #427453;
                    border-radius: 6px;
                    color: #ffffff;
                    height: 40px;
                    padding-left: 15px;
                }
            }
            .el-input__prefix {
                font-weight: 500;
                color: #ffffff;
                padding: 0 0 0 10px;
                line-height: 40px;
            }
            .el-form-item.is-error .el-input__inner {
            }
            .el-form-item__label {
                color: #889796;
            }
            .el-select .el-input.is-focus .el-input__inner {
                border-color: #427453;
            }
        }

        .el-select-dropdown {
            background: #427453;
            border: none;
            .el-select-dropdown__item {
                color: #A5B3B2;
                &.hover {
                    background: #27553F;
                    color: #FFFFFF;
                }
            }
            .popper__arrow {
                border-bottom-color: #427453 !important;
                border-top-color: #427453 !important;
                &::after {
                    border-bottom-color: #427453 !important;
                    border-top-color: #427453 !important;
                }
            }
        }

        .bog.el-input {
            width: 272px;
            .el-input__inner {
                width: 272px;
                background: rgba(8, 45, 32, 0.9);
                border: 1px solid #427453;
                border-radius: 6px;
                color: #ffffff;
            }
            input::-webkit-input-placeholder {
                color: #C8D2D2;
            }
        }

        .bog.el-button {
            width: 79px;
            height: 29px;
            background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
            color: #27553F;
            font-size: 12px;
            font-weight: 600;
            @include flex(center);
            cursor: pointer;
            border-color: transparent;
            &.is-disabled,
            &:focus,
            &:active {
                border-color: transparent;
                &:hover {
                    border-color: transparent;
                }
            }
            &:hover {
                background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
                color: #27553F;
            }
            &.is-disabled {
                background: #587161;
                color: #A5B3B2;
                &:hover {
                    background: #587161;
                    color: #A5B3B2;
                }
            }

            // 驗證碼倒計時按钮
            &.verify-button {
                color: #27553F;
                &.verify-button__timing, &.is-disabled {
                    background: transparent !important;
                    border: 1px solid #C8D2D2 !important;
                    color: #C8D2D2 !important;
                    font-weight: 400 !important;
                }
            }
        }

        .bog .el-select .el-input .el-select__caret {
            color: #ffffff;
            font-weight: bold;
            font-size: 18px;
        }

        .bog.el-button.bog-submit,
        .bog.el-button.bog-submit.is-disabled {
            width: 150px;
            color: #fff;
            background: linear-gradient( 180deg, #E7D9CC 0%, #C0AA95 100%);
            border-radius: 8px;
            height: 40px;
            border-color: transparent;
            font-size: 16px;
        }

        .el-form-item__content {
            .el-textarea__inner {
                padding: 10px;
                resize: none;
                height: 200px !important;
                background: #27553F;
                border-radius: 4px;
                color: #ffffff;
                border: none;
                font-family: inherit;
                &.is-disabled,
                &:hover,
                &:focus,
                &:active {
                    border-color: transparent;
                }
            }
            textarea::-webkit-input-placeholder {
                color: #A5B3B2;
            }
        }

        input.el-input__inner[type=number] {
            -moz-appearance: textfield !important;
        }

        input.el-input__inner[type=number]::-webkit-inner-spin-button,
        input.el-input__inner[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            margin: 0 !important;
        }

        .el-pagination {
            .btn-prev, .btn-next {
                padding: 0;
                width: 35px;
                height: 30px;
                background: #427453;
                color: #ffffff;
                border-radius: 4px;
                box-sizing: border-box;
                &:disabled {
                    background: #27553F;
                    .el-icon {
                        color: #ffffff;
                    }
                }
                &:hover {
                    color: #ffffff;
                }
            }
            .el-pagination__total, .el-pagination__jump {
                color: #889796;
            }
            .el-pagination__jump .el-input__inner {
                background: #27553F;
                color: #A5B3B2;
                border: none;
            }
            li {
                background: #27553F;
                border-radius: 2px;
                color: #A5B3B2;
                margin: 0 3px;
                box-sizing: border-box;
                width: 35px;
                height: 30px;
                line-height: 30px;
                &.active {
                    background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
                    color: #27553F;
                }
                &:not(.active):hover {
                    color: #ffffff;
                }
                &.el-icon-more {
                    color: #A5B3B2;
                }
            }
        }

        .multi-language-body {
            .bog.el-message-box .el-message-box__btns {
                .el-button {
                    width: auto;
                }
            }
        }
