        /* - elementUI 样式 重置 */
        
        .bog.el-message {
            min-width: 500px !important;
            border: none !important;
            background-color: rgba(188, 169, 151, .8) !important;
            justify-content: center;
            height: 60px;
            top: 50% !important;
            z-index: 3000 !important;
            transform: translate(-50%, -50%) !important;
            .el-message__content {
                color: $c-f !important;
                font-size: 16px !important;
            }
            .el-icon-info,
            .el-icon-success {
                color: $c-f !important;
            }
        }
        
        .bog.el-message-box,
        .bog.el-dialog {
            min-width: 500px;
            border-radius: 12px !important;
            border: none !important;
            overflow: hidden;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-top: 0 !important;
            background: rgba(255, 255, 255,1); 
            .el-message-box__header,
            .el-dialog__header {
                height: 50px;
                line-height: 50px;
                padding: 0 !important;
                text-align: center;
                background: linear-gradient(180deg, #96D6FB 0%, #61B2F9 86.11%, #94D5FB 100%);
                .el-message-box__title,
                .el-dialog__title {
                    height: 100%;
                    color: $c-f;
                    font-size: 22px;
                    font-weight: 600;
                }
                .el-message-box__headerbtn,
                .el-dialog__headerbtn {
                    font-size: 24px;
                    top: 11px;
                    .el-message-box__close,
                    .el-icon-close {
                        color: $c-f;
                        font-size: 24px;
                        font-weight: bolder;
                    }
                }
            }
            .el-message-box__content,
            .el-dialog__body { 
                font-size: 18px;
                color: $c-3D;
                padding: 20px;
                p {
                    line-height: 1.8;
                }
                .self-footer {
                    font-weight: 500;
                    font-size: 22px; 
                    background:  linear-gradient(0deg, #97D6FC 0%, #3E80FF 13.54%, #61B2F9 81.77%, #96D6FB 100%);
                    color: $c-f;
                    border: none;
                    display: block;
                    margin: 40px auto 10px;
                    width: 160px;
                    padding: 16px 20px;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            .el-message-box__btns,
            .el-dialog__footer {
                margin-top: 20px;
                .el-button {
                    width: 170px;
                    height: 48px;
                    font-size: 18px;
                    border-radius: 14px;
                    border: none;
                }
                .el-button--default {
                    background: linear-gradient(180deg, rgba(#A09F9B, 0.3) 0%, rgba(#504F4E, 0.4) 12.5%, #8E8E8E 81.77%, #CBCBCB 100%);
                    font-weight: 500;
                    color: $c-f; 
                    &:hover {
                        background-color: transparent;
                    }
                }
                .el-button--primary {
                    background:  linear-gradient(0deg, #97D6FC 0%, #3E80FF 13.54%, #61B2F9 81.77%, #96D6FB 100%);
                    color: $c-f;
                    border: 1px solid transparent;
                }
            }
            &:after {
                position: absolute;
                width: 55px;
                height: 55px;
                content: "";
                right: -2px;
                bottom: -2px;
                background-image: url('../../components/common/Dialog/img/dialog_footer_abet.png');
                background-size: cover;
            }
        }
        
        .bog.el-form {
            input::-webkit-input-placeholder {
                color: #A8B3C9 !important;
            }
            .el-input,
            is-disabled {
                .el-input__inner { 
                    mix-blend-mode: normal;
                    border: 1px solid #E6E8F3;
                    box-shadow: inset 3px 3px 4px rgba(77, 110, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
                    border-radius: 4px;
                    color: $c-3D;
                    height: 40px;
                    padding-left: 15px;
                    &:focus {
                        color: $c-3D;
                        outline: 0;
                        border: 1px solid $b-f5 !important; 
                        border-radius: 4px !important;
                    }
                }
            }
            .el-input__prefix {
                font-weight: 500;
                color: $c-3D;
                padding: 0 0 0 10px;
                line-height: 40px;
            }
            .el-form-item.is-error .el-input__inner {
                border-color: #E6E8F3 !important;
            }
            .el-form-item__label {
                color: $c-3D;
            }
            .el-select .el-input.is-focus .el-input__inner {
                border-color: $c-3D9;
            }
            .el-select .el-input__inner {
                box-shadow: 0px 4px 18px rgba(207, 212, 225, 0.54);
            }
        }
        
        .bog.el-popper {
            background-color: $c-fc;
            .el-select-dropdown__item {
                color: $c-3D;
                &.hover {
                    background-color: $c-3D9;
                    color: $c-f;
                }
            }
        }
        
        .bog.el-input {
            width: 272px;
            .el-input__inner {
                width: 272px;
                border-radius: 4px;
                color: $c-3D;
                border: 1px solid #E6E8F3;
                box-shadow: inset 3px 3px 4px rgba(77, 110, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
            }
            input::-webkit-input-placeholder {
                color: #A8B3C9 !important;
            }
        }
        
        .bog.el-button {
            width: 79px;
            height: 29px;
            background:  linear-gradient(104.17deg, #53BEFD 2.27%, #0D77F2 100%);
            color: $c-f;
            border: 0;
            font-size: 12px;
            @include flex(center);
            cursor: pointer;
            // transition: all .3s;
            &.is-disabled,
            &:focus,
            &:active { 
                
            }
            &:hover {
                opacity: 0.8;   
            }
        }
        
        .bog .el-select .el-input .el-select__caret {
            color: $c-3D;
            font-weight: bold;
            font-size: 18px;
        }
        
        .bog.el-button.bog-submit,
        .bog.el-button.bog-submit.is-disabled {
            width: 150px;
            color: #fff;
            background: linear-gradient( 180deg, #E7D9CC 0%, #C0AA95 100%);
            border-radius: 8px;
            height: 40px;
            border-color: transparent;
            font-size: 16px;
        }
        
        .el-form-item__content {
            .el-textarea__inner {
                resize: none;
                height: 200px !important;
                background: #FFFFFF; 
                box-shadow: inset 3px 3px 4px rgba(77, 110, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
                border-radius: 8px;
                color: $c-3D;
                &.is-disabled,
                &:hover,
                &:focus,
                &:active {
                    border-color: transparent;
                }
            }
            textarea::-webkit-input-placeholder {
                color: #A8B3C9;
            }
        }
        
        input.el-input__inner[type=number] {
            -moz-appearance: textfield !important;
        }
        
        input.el-input__inner[type=number]::-webkit-inner-spin-button,
        input.el-input__inner[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            margin: 0 !important;
        }

        input:-webkit-autofill{ 
            box-shadow: 0 0 0 1000px $c-f inset !important;
        }

        .el-divider{
            background: linear-gradient(90deg, rgba(#fff, 0) 20%, rgba(61, 73, 87, 0.2), rgba(#fff, 0) 80%);
        }
        // 手动转账，文字弹窗
        .el-tooltip__popper.is-dark {
            color: #fff;
            // background: #f1ede9;
            background:#000;
            opacity: 0.5;
            filter: progid:DXImageTransform.Microsoft.alpha(opacity=50);
                .popper__arrow {
                    border-top-color: #f1ede9;
                    // &::after {
                    //     border-top-color: red;
                    // }
                }
        }