.center-wallet-container {
    position: relative;
    padding: 15px 0px 31px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &.has-box-shadow {
        background: linear-gradient(180deg, #EFF0F9 2.4%, #DFE5F3 100%);
        box-shadow:  0px 4px 8px 0px rgba(76, 78, 129, 0.4);
    }

    .common-container {
        width: 100%;
        padding: 20px;
        position: relative;
        padding-bottom: 28px;

        .center-money-container {
            @include flex(flex-start);
            position: absolute;
            bottom: 33px;
            font-size: 14px;

            .wallet-img {
                width: 43px;
            }

            .money-amonut-container {
                margin-left: 8px;
            }
            .totoal-money{
                color: #E49A73;
            }
        }

        .totoal-money-container {
            @include flex(center, column);
            font-size: 14px;

            .bottom-handle {
                @include flex();
                margin-top: 21px;

                .return-btn {
                    color: #E8EDF9;
                    padding: 0 8px;
                    height: 30px;
                    line-height: 30px;
                    border: none;
                    box-sizing: border-box;
                    border-radius: 4px;
                    font-size: 12px;
                    text-align: center;
                    cursor: pointer;
                    background: #5A6596;
                }

                .line {
                    width: 1px;
                    height: 44px;
                    background-color: $bg-926;
                    box-shadow: 0px 0.5px 0px $c-f;
                    margin: 0 21px;
                }

                .lock-container {
                    @include flex();

                    .icon_lock {
                        width: 43px;
                    }

                    .text {
                        color: $c-1f;
                        margin-left: 8px;
                        .money{
                            color: #E49A73;
                        }
                    }
                }
            }
            .top-container{
                i{
                    font-size: 18px;
                    color: $c-1f;
                }
                .totoal-money{
                    color: #E49A73;
                }
            }
        }
    }

    .game-wallet-container {
        border-top: 1px solid #D5D7E9;

        .tip-text {
            font-weight: 400;
            color: #3B4165;
            text-align: center;
            padding: 10px 0 24px 24px;
        }

        .item-container {
            @include flex(flex-start);

            .item {
                width: 120px;
                height: 50px;
                background:#5A6596;
                border-radius: 4px;
                text-align: center;
                color: #F8F9FD;
                @include flex(center, column);
                font-size: 12px;
                margin: 0 40px 26px 0;

                .title {
                    @include flex();

                    /deep/ .el-icon-warning {
                        color: red;
                        margin-left: 5px;
                    }
                }
            }
        }

        .fold-wrapper {
            border: 0px;

            /deep/ .el-collapse-item__wrap {
                background: transparent;
                border: 0px;

                .el-collapse-item__content {
                    @include flex(flex-start, row, wrap);

                    .item {
                        width: 120px;
                        height: 50px;
                        background: #5A6596;
                        border-radius: 4px;
                        text-align: center;
                        color: #F8F9FD;
                        display: flex;
                        justify-content: center;
                        flex-wrap: nowrap;
                        flex-direction: column;
                        align-items: center;
                        font-size: 12px;
                        margin: 0 40px 26px 0;

                        .title {
                            @include flex();

                            .el-icon-warning {
                                color: red;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }

        .collapse {
            cursor: pointer;

            .collapse-toggle {
                @include flex(center);

                .show-more-icon {
                    width: 22px;
                    margin-right: 7px;
                }
            }
        }

        // 自动转账和手动转账
        .game-z-z {
            display: flex;
            flex: 1;
            position: relative;

            .toggle-money {
                color: #D1B395;
                border: 2px solid #5A6596;
                border-radius: 2px;
                height: 30px;
                padding: 0 10px;
                left: 0px;
                background: #E8EDF9;
                border-radius: 5px;
                margin: 26px 20px 20px 0px;
                font-size: 16px;
                color: #5A6596;
                &.on {
                    border: #5A6596;
                    color: #F8F9FD;
                    background-color: #5A6596;
                }

                &.auto {
                    margin-bottom: 0;
                }
            }

            .money {
                position: absolute;
                right: 20px;
                top: 28px;
                font-size: 16px;
            }
        }

        //手动转账
        .game-sport {
            display: inline-block;
            width: 216px;
            height: 104px;
            left: 0px;
            top: 0px;
            background: #5A6596;
            color: #ffffff;
            border-radius: 8px;
            margin-right: 10px;
            margin-top: 15px;

            .game-11 {
                display: inline-block;
                width: 102px;
                margin: 19px 10px 0px 19px;
                font-size: 18px;
                &.maintenance {
                    width: 85%;
                }
                .game-sport-one {
                    display: inline-block;
                    margin-bottom: 10px;
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .game-sport-two {
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                /deep/ .el-icon-warning {
                    color: red;
                }
            }

            .game-transfers {
                display: inline-block;
                margin-top: 21px;
                text-align: center;

                .transfer-on {
                    padding: 0 20px 0 20px;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    border: 1px solid #e49a73;
                    color: #e49a73;
                    cursor: pointer;
                }

                .transfer-out {
                    padding: 0 20px 0 20px;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    border: 1px solid #e49a73;
                    color: #e49a73;
                    cursor: pointer;
                }
            }
        }
    }
}

.multi-language {
    .center-wallet-container .game-wallet-container .fold-wrapper .el-collapse-item__wrap .el-collapse-item__content .item {
        .deport-name {
            width: 95px;
            line-height: normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
