.user-operation-container {
    height: 100%;
    @include flex(center);
    .unlogin-container {
        width: 152px;
        height: 40px;
        background-image: url('../img/login.png');
        background-size: 100%;
        border-radius: 8px;
        @include flex(center);
        .link-container {
            cursor: pointer;
            @include flex();
            .login-ico {
                width: 18px;
            }
            .url-desc-txt {
                font-size: 15px;
                font-weight: 600;
                color: $c-4d;
                margin-left: 4px;
            }
        }
        .line {
            color: $c-4d;
            margin: 0 10px;
        }
    }
    /* 登录样式 */
    .login-container {
        height: 100%;
        @include flex(center);
        width: auto;
        padding-left: 10px;
        font-size: 18px;
        cursor: pointer;
        position: relative;
        .user-profile-desc {
            display: flex;
            color: $c-ff4;
            .img-box {
                position: relative;
                .user-level {
                    box-sizing: border-box;
                    width: 60px;
                    height: 14px;
                    font-size: 12px;
                    color: #fff;
                    background-size: cover;
                    color: $c-4d;
                    font-weight: 600;
                    position: absolute;
                    bottom: 0;
                    line-height: 12px;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    background-image: url(../img/userOpteration/vip_level.png);
                    background-size: cover;
                }
                .userInfo-icon {
                    width: 44px;
                }
                &.show-dotted {
                    position: relative;
                    &:after {
                        content: "";
                        width: 10px;
                        height: 10px;
                        background-color: red;
                        position: absolute;
                        top: -4px;
                        right: -4px;
                        border-radius: 50%;
                    }
                }
            }
            .user-detail {
                font-size: 14px;
                display: flex;
                color: #fff;
                @include flex(center,
                column,
                nowrap,
                flex-start);
                padding-left: 10px;
                .user_detail_top {
                    font-size: 12px;
                    @include flex();
                }
                .userInfo-balance {
                    margin-top: 4px;
                    font-size: 12px;
                    font-family: Impact;
                    .reload {
                        font-size: 16px;
                        margin-left: 38px;
                    }
                }
            }
        }
        //- 用户下拉菜单
        .user-drop-menu {
            position: absolute;
            opacity: 0;
            top: 80px;
            width: 172px;
            color: $c-f;
            height: auto;
            background: #EAF0FF;
            box-shadow: 5px 5px 8px rgba(77, 97, 141, 0.21), inset 0px 0.6px 2px rgba(255, 255, 255, 0.72), inset 0px -1.5px 0px #FFFFFF;
            border-radius: 10px;
            display: none;
            z-index: -1;
            &:before {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                top: -14px;
                left: 72px;
                border-left: 14px solid transparent;
                border-right: 14px solid transparent;
                border-bottom: 14px solid #EAF0FF;
            }
            &.on {
                opacity: 1;
                z-index: 999;
                display: block;
            }
            .user-drop-menu_head {
                height: 83px;
                font-size: 14px;
                color: $c-4d;
                padding: 0 13px;
                @include flex();
                .deposit-cls {
                    @include flex(center,
                    column);
                    .deposit-cls_icon {
                        width: 30px;
                        margin-bottom: 10px;
                    }
                }
            }
            .user-drop-menu_content {
                &:before,
                &:after {
                    border-bottom: 1.2px solid #6B85C0;
                    box-shadow: 0px 1px 0px #FFFFFF;
                    content: "";
                    left: 0;
                    width: 100%;
                    height: 1px;
                    margin: 17px auto;
                }
                &:after {
                    margin-bottom: 0;
                }
                &:before {
                    margin-top: 0px;
                }
                @include flex(center,
                column);
                font-size:14px;
                .information-item {
                    height: 35px;
                    width: 100%;
                    padding: 0 43px 0 44px;
                    box-sizing: border-box;
                    position: relative;
                    @include flex(space-between,
                    row,
                    center);
                    color: rgba(77, 97, 141, 0.4);
                    .information-item_img {
                        width: 18px;
                        margin-right: 11px;
                    }
                    &.active {
                        background: $c-4d;
                        color: #fff;
                    }
                    &:hover {
                        .message-count {
                            .message-count_font {
                                color: $c-4d;
                            }
                        }
                    }
                    .message-count {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background: $c-f;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 25px;
                        @include flex(center);
                        .message-count_font {
                            font-size: 12px;
                            transform: scale(0.75);
                            line-height: 15px;
                            color: $c-ff4;
                        }
                    }
                }
            }
            .user-drop-menu_footer {
                text-align: center;
                height: 46px;
                line-height: 46px;
                font-size: 16px;
                color: $c-4d;
                font-weight: 600;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                position: relative;
                &:hover {
                    color: #fff;
                    background: $c-4d;
                }
            }
        }
    }
}