.top-div {
    // background: $bg-32;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    // border-top-left-radius: 0;
    // border-top-right-radius: 0;
    .no-data-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        background: $bg-32;
        .no-data-img {
            width: 98px;
            margin: 29px;
        }
        .no-data-text {
            text-align: center;
        }
    }
    .no-data-gif {
        text-align: center;
        margin: 30px 0;
        img {
            display: inline-block;
        }
        span {
            display: block;
        }
    }
}

.wallet-withdraw {
    background: $bg-32;
    border-radius: 10px;
    padding: 24px;
    margin-top: 30px;
}