.cr-pay-container {
    &.rm {
        padding: 0px;
        min-height: 490px;
    }
    .pay-type-container {
        height: 113px;
        background: #D5D7E9;
        border-radius: 4px;
        padding-top: 16px;
        @include flex(flex-start);
        position: relative;
        margin-bottom: 28px;
        .py-type-list {
            @include flex(center, column, nowrap, center);
            margin: 12px;
            cursor: pointer;
            .txt {
                color: #505679;
            }
            &.on {
                .txt {
                    color: #E49A73;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 32px;
                    height: 3px;
                    bottom: 0px;
                    border-radius: 4px 4px 0 0;
                    background: $bg-ead;
                }
            }
            .circle-outer {
                width: 55.22px;
                height: 55.22px;
                position: relative;
                >.tag {
                    z-index: 10;
                    position: absolute;
                    width: 40px;
                    height: 14px;
                    background-image: url('../images/icon-recommend.png');
                    background-size: 100% 100%;
                    &.hot {
                        background-image: url('../images/icon-popular.png');
                        background-size: 100% 100%;
                    }
                    top: 0px;
right: -20px;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 5px 0 0 0;
                    margin: 0;
                    padding: 0;
                }
                .circle-inner-top {
                    white-space: nowrap;
                    height: 20px;
                    padding: 0 3px;
                    line-height: 20px;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 12px;
                    position: absolute;
                    top: -12px;
                    background: linear-gradient(to right, #9C080F 0%, #F81823 50%, #9C080F 100%);
                }
                .circle-inner {
                    width: 47px;
                    height: 47px;
                    .list-img {
                        width: 37px;
                        &.logo_1 {
                            width: 26px;
                        }
                        &.logo_3 {
                            width: 35px;
                        }
                        &.logo_4 {
                            width: 30px;
                        }
                        &.new_qrcode {
                            width: 24px;
                        }
                    }
                }
            }
        }
    }
    .select-pay-container {
        &.rm-pay-container {
            margin-top: 0px;
            flex-wrap: wrap;
        }
        .select-pay-item {
            &.rm-pay-item {
                min-width: 195px;
                margin-top: 15px;
            }
        }
    }
    .select-pay-form {
        .notice {
            margin-bottom: 18px;
            color: #6F6F87;
        }
        .rm-form {
            /deep/ .el-form-item {
                margin-bottom: 0px;
            }
        }
        .select-card-container {
            .select-item.rm-select-item {
                &.on {
                    color: #3B4165;
                    background: $bg-ead;
                }
            }
        }
        .select-form-container {
            /deep/ .el-button {
                &.rm-handle-btn {
                    margin-left: 0px;
                }
            }
            /deep/ .el-input__inner {
                background-color: $b-f5;
            }
        }
        .tip-text {
            margin-top: 15px;
            color: #3B4165;
        }
    }
    .user-name-container {
        @include flex(flex-start);
        background: rgba(188, 169, 151, 0.1);
        border-radius: 4px;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 10px;
        .name-input {
            width: 193px;
            height: 40px;
            border: none;
            margin: 0 10px;
            .el-input__inner {}
        }
    }
}

.qr-dialog {
    /deep/.el-button {
        margin: 0 20px;
    }
    /deep/.el-button--default {
        background: linear-gradient(0deg, #A09F9B 0%, #504F4E 12.5%, #8E8E8E 81.77%, #CBCBCB 100%);
        border: none !important;
        span {
            color: #fff;
        }
    }
    /deep/.el-button--primary {
      background: linear-gradient(180deg, #FBBB98 0%, #E1956E 100%);
      border: none !important;
    }

    .tip-text-o {
        color: #cbba8f;
    }
    .tip-text-t {
        color: #505679;
    }
}
