.mini-side-bar {
    position: fixed;
    right: 0;
    z-index: 100;
    top: 30%;
    // height: 366px;
    width: 71px;
    background-image: url('./img/side-bg.png');
    border-radius: 8px;
    background-size: 100% 100%;
    padding: 40px 0 50px 10px;
    color: $c-59;
    box-sizing: border-box;
    @include flex(center,
    column);
    .side-bar-item {
        @include flex(center,
        column);
        margin-bottom: 10px;
        cursor: pointer;
        .text {
            font-size: 12px;
            color: $c-59;
            transform: scale(.9);
        }
        .mini-sb-icon {
            width: 36px;
            height: 36px;
            margin-bottom: 5px;
        }
        .el-backtop {
            display: contents;
        }
        &:hover {
            .mini-sb-box-qr {
                display: flex;
            }
        }
    }
    .mini-sb-box-qr {
        position: absolute;
        background-image: url("./img/sm_code_bg.png");
        background-size: 100% 100%;
        text-align: center;
        width: 165px;
        padding: 20px 0 55px;
        box-sizing: border-box;
        right: 62px;
        cursor: pointer;
        @include flex( space-between,
        column);
        .side-bar-code {
            left: -5px;
            font-size: 12px;
            width: 100px;
            height: 100px;
            &:last-child {
                margin-top: 40px;
            }
            .code-top_text {
                margin: 0px !important;
            }
            .code-main {
                background-image: none;
                .login-code {
                    height: auto;
                    margin: 0px;
                }
                img {
                    width: 100px;
                    height: 100px;
                }
            }
            .bottom_un_login {
                margin-top: 10px;
            }
            .code_bottom_txt {
                position: relative;
                top: 5px;
                color: $c-59;
            }
        }
        .line {
            width: 80%;
            height: 1px;
            background: linear-gradient( 90deg, #fff 20%, rgba($c-61, 0.5), #fff 80%);
            position: relative;
            left: -4px;
            top: 25px;
        }
    }
    .forum-container {
        background-image: url('./img/forum_bg.png');
        position: absolute;
        width: 120px;
        color: $c-59;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        left: -120px;
        padding: 10px 0 20px;
        bottom: 140px;
        @include flex(center);
        .forum-item {
            cursor: pointer;
            width: 100%;
            text-align: center;
        }     
    }



    .login-before {
        margin-top: 2px;
    }
}