.vipinfo {
    .vipinfo-top {
        margin-bottom: 20px;
        padding: 20px 15px 20px;
        position: relative;
        background: $c-EE;
        box-shadow: 0px 4px 20px rgba(207, 212, 225, 0.89);
        border-radius:  10px;
        .content-title {
            font-size: 16px;
            color: $c-81;
            font-weight: 500;
            margin-bottom: 20px;
            border-bottom: 1.2px solid #deccba;
            box-shadow: 0px 1px 0px #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 52px;
            /deep/.el-icon-arrow-left {
                font-weight: bold;
            }
            .en-title {
                width: 445px;
            }
        }
        .header-left {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 50px;
        }
        .header-left-bottom {
            display: flex;
            justify-content: space-around;
            margin-top: 120px;
            margin-left: -11px;
            .header-left-bottom-div {
                text-align: center;
                div {
                    font-size: 14px;
                }
            }
        }
        .rule-title {
            height: 35px;
            line-height: 35px;
            font-weight: 500;
            color: $c-3D;
            font-size: 14px;  
        }
        .vipinfo-title {
            font-size: 14px;
            font-weight: 500;
            margin: 42px 0 15px;
        }
        .el-divider{
            margin-top: 0;;
        }
        .vipinfo-inner-thead.vipinfo-inner {
            background: linear-gradient(90deg, #61B2F9 0%, #98D7FB 100%);
            .vipinfo-inner-level {
                margin: 0;
                font-weight: 500;
                font-size: 14px;
                color: $c-f;
                background: none;
            }
        }
        .vipinfo-inner {
            color: $c-3D;
            background: $c-EE;
            display: flex;
            align-items: center;
            .vipinfo-inner-level {
                height: 34px;
                line-height: 34px;
                text-align: center;
                flex-grow: 1;
                margin-left: 1px;
                background-color: #fff;
                margin-bottom: 1px;
                font-size: 12px;
                width: 10%;
                font-weight: 400;
            }
        }
        .vipinfo-word {
            font-size: 14px;
            color: $c-3D;
            line-height: 21px;
            margin-bottom: 10px;
        }
    }
    .middle {
        border-radius: 0 0 8px 8px;
        box-shadow: 0px 12px 20px rgba(207, 212, 225, 0.89);
    }
    .un-return-watter-container {
        background: $c-EE;
        border: 0.5px solid #f4f6fd;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(135, 73, 0, 0.06), inset -1px -1px 0px #ffffff, inset 1px 1px 0px #ffffff;
        border-radius: 6px;
        padding: 20px;
        .watter-title {
            height: 40px;
            line-height: 40px;  
            font-size: 14px;
            margin-bottom: 12px;
        }
        .table-header {
            background: $c-61;
            display: flex;
            border-radius: 5px 5px 0 0;
            align-items: center;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            height: 30px;
            .thead:first-child {
                width: 81px;
                text-align: center;
            }
            .thead:last-child {
                width: 206px;
                text-align: center;
            }
        }
        .table-body {
            .vipinfo-list-word {
                display: flex;
                margin-bottom: 2px;
                .item-title {
                    width: 100px; 
                    text-align: center;
                    word-break: break-all;
                    white-space: nowrap;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    background-color: $c-f;
                    margin-left: 2px; 
                }
                .item {
                    width: 81px;
                    line-height: 40px; 
                    box-shadow: 0px 4px 20px rgba(207, 212, 225, 0.89);
                    text-align: center;
                    background-color: $c-f;
                    font-size: 14px;
                    font-weight: normal;
                    word-break: break-all;
                    display: flex;
                    flex-wrap: wrap;
                    span {
                        margin-right: 6px;
                        display: block;
                    }
                    &:last-child {
                        flex-grow: 1;
                        text-align: left;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}

.el-carousel__item--card.is-active {
    width: 422px;
}

@for $i from 0 through 9 {
    .v-#{$i} {
        @if ($i > 8) {
            color: #989eac;
        }
        @else if ($i < 4 or $i>=7) {
            color: #9b9b9b;
        }
        @else if($i >=4 and $i < 7) {
            color: #855400;
        }
    }
}

.downgrade-day {
    position: absolute;
    right: 11px;
    font-size: 11px;
    bottom: -25px;
}