.partner-wrapper {
    .partner-banner {
        box-sizing: border-box;
        padding-top: 124px;
        width: 100%;
        background: url("./img/bg.png") no-repeat center center;
        background-size: cover;
        .partner-main {
            max-width: 1200px;
            height: 100%;
            margin: 0 auto;
            position: relative;
            padding: 30px 0;
            @include flex();
            .partner-banner_left-box {
                width: 810px;
                height: 603px;
                margin-left: -200px;
            }
            .partner-banner_left {
                width: 100%;
                height: 100%;
            }
            .partner-banner_right {
                .partner-title {
                    position: relative;
                    text-align: center;
                    white-space: nowrap;
                    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    h1 {
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 50px;
                        &::before, &::after {
                            position: absolute;
                            content: '';
                            width: 126px;
                            height: 46px;
                            background: url("./img/partner-title-img-l.png") no-repeat center center;
                            background-size: contain;
                        }
                        &::before {
                            transform: translateX(-110%);
                        }
                        &::after {
                            transform: translateX(10%);
                            width: 153px;
                            background: url("./img/partner-title-img-r.png") no-repeat center center;
                            background-size: contain;
                        }
                    }
                    h2 {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 24px;
                        letter-spacing: 0.68em;
                        text-transform: uppercase;
                    }
                    p {
                        margin-top: 10px;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
            .contact-box {
                display: flex;
                margin-top: 45px;
                font-size: 12px;
                font-weight: 400;
                // color: $c-ff4;
                justify-content: space-around;
                .contact-item {
                    width: 162px;
                    min-height: 222px;
                    background: rgba(84, 86, 102, .6);
                    border-radius: 15px;
                    // margin-right: 14px;
                    padding-bottom: 12px;
                    @include flex(none,
                    column);
                    .contact-item-bg {
                        width: 148px;
                        height: 121px;
                        background-size: cover;
                        background-image: url('./img/item_icon.png');
                        margin-top: 7px;
                        margin-bottom: 10px;
                        @include flex(center,
                        column);
                        color: $c-f;
                        .circle-bg {
                            width: 62px;
                            height: 62px;
                            border-radius: 50%;
                            margin: 7px;
                            @include flex(center);
                            .hy-logo {
                                width: 45px;
                                margin-top: -2px;
                            }
                        }
                    }
                    .copy-btn {
                        // margin: 15px 0 10px;
                        // background-image: url("./img/btn_bg.png");
                        color: #393A42;
                        background-size: 100% 100%;
                        width: 140px;
                        min-height: 18px;
                        line-height: 18px;
                        text-align: left;
                        box-sizing: border-box;
                        position: relative;
                        .copy-btn-text {
                            color: #fff;
                            float: left;
                            word-break: break-all;
                            width: 110px;
                        }
                        .copy-click {
                            color: #E7D3A0;
                            cursor: pointer;
                            float: right;
                        }
                    }
                }
            }
            .agent {
                width: 240px;
                height: 60px;
                line-height: 60px;
                cursor: pointer;
                margin: 30px auto 0;
                background: url("./img/join.png") no-repeat center center;
                background-size: 100% 100%;
                font-weight: 500;
                font-size: 18px;
                color: #393A42;
                text-align: center;
            }
        }
    }
    .parent-bg-container {
        background-color: #000;
    }
    .partner-content {
        width: 1200px;
        margin: 0 auto;
        color: $c-a;
        padding-bottom: 43px;
        .partner-content_title {
            font-weight: bold;
            font-size: 28px;
            // color: $c-4d;
            color: #E7D3A0;
            padding: 60px 0 33px 37px;
            position: relative;
            @include flex();
            .partner-content_title_left {
                &:before {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #E7D3A0;
                    position: absolute;
                    top: 75px;
                    left: 10px;
                }
            }
            .partner-content_title_right {
                font-weight: 500;
                font-size: 16px;
                margin-top: 16px;
            }
        }
        .partner-bg {
            width: 1200px;
            height: 852px;
            background: rgba(40, 41, 47, 0.8);
            backdrop-filter: blur(4px);
            border-radius: 10px;
            border-radius: 15px;
            .partner-first-list {
                @include flex();
                .partner-first-item {
                    width: 300px;
                    @include flex(flex-start,
                    column);
                    .partner-first-line-one {
                        transform: scale(0.5);
                        width: 95px;
                    }
                    .partner-first-line-two {
                        height: 50px;
                        margin-top: 40px;
                    }
                    .partner-first-line-three {
                        font-size: 16px;
                        font-weight: bold;
                        color: #E7D3A0;
                        margin-top: 12px;
                    }
                    .partner-first-line-four {
                        font-size: 12px;
                        font-weight: 400;
                        // color: $c-ff4;
                        color: #FFFFFF;
                        align-self: center;
                        margin-top: 5px;
                    }
                }
            }
            .partner-line {
                width: 100%;
                height: 1px;
                background: linear-gradient(135.44deg, rgba(57, 58, 66, 0), rgba(57, 58, 66, 1), rgba(57, 58, 66, 0));
                margin: 50px auto 50px;
            }
            .partner-bottom-content {
                @include flex();
                padding-right: 43px;
                .partner-img {
                    padding: 20px 0 0 36px;
                    height: 463px;
                }
                .partner-right-box {
                    flex-grow: 1;
                    margin-left: 62px;
                    .partner-right-box_title_1 {
                        font-size: 24px;
                        font-weight: 500;
                        color: #E7D3A0;
                        position: relative;
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            // background: $c-4d;
                            position: absolute;
                            top: 12px;
                            left: -25px;
                        }
                    }
                    .partner-right-box_title_2 {
                        color: #9A9DAA;
                        font-size: 14px;
                        line-height: 21px;
                    }
                    .partner-right-box_title_3 {
                        font-size: 16px;
                        font-weight: 500;
                        color: #E7D3A0;
                        margin-top: 40px;
                        position: relative;
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            // background: $c-4d;
                            position: absolute;
                            top: 8px;
                            left: -20px;
                        }
                    }
                    .two-box {
                        @include flex();
                        padding: 30px 0 0 0;
                        .item-name {
                            color: #9A9DAA;
                            &.item-one {
                                font-size: 14px;
                                font-weight: 600;
                                color: #E7D3A0;
                            }
                            font-size: 12px;
                            padding: 0 20px;
                            // color: $c-ff4;
                        }
                        .item-title,
                        .item-title2 {
                            font-weight: 300;
                            font-size: 12px;
                            color: #9A9DAA;
                        }
                        .two-item {
                            text-align: center;
                            img {
                                width: 60px;
                            }
                            .icon-2,
                            .icon-3 {
                                width: 48px;
                            }
                        }
                    }
                }
            }
        }
    }
    /deep/ .el-dialog {
        border-radius: 10px;
        background: transparent;
        border: none;
        .dialog-result {
            position: relative;
            width: 182px;
            height: 123px;
            background: url("./img/copy_sucess.png") no-repeat center center;
            background-size: 100% 100%;
            span {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                font-weight: 600;
                font-size: 14px;
                color: #393A42;
                white-space: nowrap;
            }
        }
    }
    /deep/ .el-dialog__header {
        padding: 0;
    }
    /deep/ .el-dialog__body {
        padding: 0;
        height: 0;
    }
}
