.my-friend-wrapper {
    width: 100%;
    padding: 28px 20px;
    box-sizing: border-box;

    .title {
        cursor: pointer;

        &:after {
            content: "";
            display: flex;
            height: 1px;
            background-color: #27553F;
            margin-top: 20px;
        }

        .title-text {
            color: #C8D2D2;
        }
    }

    .content {
        padding-top: 20px;

        .search-myfriend {
            /deep/ .el-form-item {
                display: flex;
                flex-direction: column;
                justify-self: flex-start;
                align-items: flex-start;

                .el-form-item__label {
                    text-align: left;
                    color: #ffffff;
                }

                .el-form-item__content {
                    margin-left: 0 !important;

                    input::-webkit-input-placeholder {
                        color: #A5B3B2;
                    }

                    .el-input__inner {
                        width: 100%;
                        color: #FFFFFF;
                        background: rgba(8, 45, 32, 0.9);
                        border: 1px solid #427453;

                        .el-range-input {
                            background-color: transparent;
                            color: #FFFFFF;
                        }

                        .el-range-separator {
                            color: #FFFFFF;
                        }

                        .el-icon-date {
                        }
                    }

                    .friend-account {
                        width: 240px;
                    }

                    .btn {
                        width: 134px;
                        height: 40px;
                        border-radius: 4px;
                        font-weight: normal;
                        margin-bottom: 20px;
                    }

                    .search-btn {
                        background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
                        border-color: transparent;
                        color: #27553F;
                        font-weight: 600;
                    }

                    .reset-btn {
                        background: #27553F;
                        border-color: transparent;
                        color: #C8D2D2;
                    }
                }
            }
        }
    }
}
