  .recommend-wrapper {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .amount-wrapper {
          height: 160px;
          border: 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px 30px;
          box-sizing: border-box;

          .item {
              display: flex;
              justify-content: center;
              align-items: center;

              .title {
                  font-size: 16px;
                  color: #C8D2D2;
              }

              .cumulativeAmount {
                  font-size: 14px;
                  font-weight: 600;
                  color: #AA905A;
              }

              .amount {
                  font-size: 24px;
                  color: #EDB77F;
                  font-weight: 600;
                  margin: 10px 0;
              }

              &:after {
                  display: flex;
                  content: "";
                  width: 1px;
                  height: 130px;
                  background: #27553F;
                  margin-left: 20px;
              }
          }

          .btns {
              color: #fff;
              width: 19%;
              font-size: 12px;

              .top {
                  display: flex;
              }

              .bottom {
                  display: flex;
              }

              .btn {
                  width: 80px;
                  height: 36px;
                  border: 1px solid #A5B3B2;
                  background-color: transparent;
                  border-radius: 4px;
                  text-align: center;
                  font-weight: 600;

                  &.top-btn {
                      color: #A5B3B2;

                      &:nth-child(2) {
                          margin-left: 10px;
                      }
                  }

                  &.bottom-btn {
                      background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
                      border-color: transparent;
                      margin-top: 20px;
                      color: #27553F;

                      &:nth-child(2) {
                          margin-left: 10px;
                      }
                  }
              }
          }
      }

      .daily-earnings {
          margin-top: 24px;
          height: 608px;
          padding: 23px 46px 0;

          .earnings-title {
              display: flex;
              justify-content: space-between;
              color: #ffffff;
              margin-bottom: 20px;
              cursor: pointer;
          }
      }
  }
