.table-container {
    width: 100%;
    background: #27553F;
    border-radius: 10px;

    thead {
        background: linear-gradient(90deg, #D9B47D 0%, #FBE7C4 53.02%, #D9B47D 100%);
        th {
            background: transparent;
            height: 47px;
            text-align: center;
            color: #27553F;
            font-weight: 600;

            &:first-child {
                border-top-left-radius: 10px;
            }

            &:last-child {
                border-top-right-radius: 10px;
            }
        }
    }

    .c-f {
        td:first-child {
            color: #C8D2D2;
        }
    }

    td {
        background: transparent;
        color: #C8D2D2;
        font-size: 14px;
        text-align: center;
        height: 47px;
        // border-bottom: 1px solid $c-54;

        &.no-border {
            border: none;
        }

        &.sbuStyle {
            color: #C8D2D2;
            cursor: pointer;
        }
    }
}

.recommend-wrapper {
    .common-page.el-pagination {
        margin-top: 40px;
    }

    .img-container {
        padding: 20px 0;

        .no-data-img {
            width: 150px;
        }

        .loading-img {
            width: 150px;
            height: 100px;
        }
    }
}

.recommend-load {
    @include flex(center);
    height: 300px;
    position: static;
    min-height: 0;
    transform: translate(0, 0);
}
