.detail-container {
    width: 1200px;
    margin: 30px auto;
    .detail-nav-container {
        color: #A09699;
        font-size: 12px;
        .orange {
            color: #fba000;
        }
    }
    .content-detail {
        margin: 20px 0 30px;
        background: #2B2D3A;
        border-radius: 16px;
        padding: 22px;
        box-sizing: border-box;
        color: #FFFFFF;
        .content {
            font-size: 14px;
            line-height: 20px;
        }
        .img-container {
            margin: 10px 0 0;
            max-width: 1000px;
            img {
                max-width: 100%;
            }
        }
        .content-desc-container {
            margin-top: 50px;
            @include flex();
            .content-desc_right {
                @include flex();
                cursor: pointer;
                &>div {
                    @include flex();
                    color: #A09699;
                    font-size: 14px;
                    &:nth-child(2) {
                        margin: 0 10px;
                    }
                }
                .star {
                    @include flex();
                }
            }
        }
    }
    .comment-container {
        margin-bottom: 60px;
        .comment-title {
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            margin-bottom: 16px;
            @include flex(flex-start);
            &:before {
                content: "";
                width: 1px;
                height: 14px;
                display: block;
                margin-right: 4px;
                background: #FBA002;
            }
        }
        .comment-list-container {
            .comment-list {
                @include flex();
                border-bottom: 1px solid #323545;
                box-sizing: border-box;
                padding: 16px 0;
                .comment-content {
                    @include flex();
                    .avatar {
                        width: 70px;
                        border-radius: 50%;
                    }
                    .user-profile {
                        margin-left: 10px;
                        font-size: 12px;
                        .profile-title {
                            @include flex(flex-start);
                            margin-bottom: 15px;
                            .user-name {
                                color: #FBA002;
                            }
                            .time {
                                color: #A09699;
                                margin-left: 10px;
                            }
                        }
                        .comment-text {
                            color: #FFFFFF;
                            font-size: 14px;
                        }
                    }
                }
                .callback-message {
                    font-size: 12px;
                    color: #A09699;
                    @include flex();
                    margin-right: 20px;
                }
            }
        }
    }
    /deep/.el-pagination {
        text-align: right;
        .btn-prev,
        .btn-next {
            border-radius: 4px;
            padding: 0;
            .el-icon {
                color: #999999;
                font-size: 14px;
            }
        }
        .el-pagination__jump {
            color: #999;
        }
        .el-pager {
            .number {
                margin: 0 3px;
                border-radius: 4px;
                background-color: transparent;
                border: 1px solid #999999;
                color: #fff;
                font-weight: bold;
                height: 30px;
                &.active {
                    background-color: #FBA002;
                }
            }
            .el-icon-more {
                background-color: transparent;
                color: #fff;
            }
        }
    }
    .download-app {
        height: 300px;
        background: #323545;
        margin-top: 60px;
        padding: 20px 0 0 20px;
        span:first-child {
            color: #FBA002;
            cursor: pointer;
        }
        span:last-child {
            color: #A09699;
        }
    }
}