/deep/ {
    .el-input__inner {
        background-color: rgba(196, 196, 196, .5);
        border: 0;
        color: #949494;
        position: relative;
        padding-left: 44px;
        text-indent: 10px;
        font-size: 16px;
        border-radius: 8px;
        height: 41px;
        &::-webkit-input-placeholder {
            color: $c-f;
        }
        &:-internal-autofill-selected, &:-webkit-autofill, &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            box-shadow: 0 0 0px 1000px #dfdfdf inset;
            -webkit-text-fill-color: #949494;
        }
    }
    .el-input__prefix {
        width: 40px;
        background: $c-a5;
        left: 0;
        font-size: 23px;
        border-radius: 8px 0px 0px 8px;
        @include flex(center);
    }
    .el-input__icon {
        color: $c-f;
    }
    .el-icon-circle {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        border: 1px solid $c-f;
        vertical-align: middle;
        box-sizing: border-box;
        transform: translate(-10px, 1px);
    }
    .el-form-item__error {
        color: $c-ff5;
        white-space: nowrap;
    }
    .mobile-login-form {
        position: relative;
        .el-select {
            width: 70px;
            position: absolute;
            left: 40px;
            z-index: 1000;
            .el-input__inner {
                padding-left: 0;
                padding-right: 10px;
                background-color: transparent;
            }
        }
        .el-select__caret {
            color: $c-f !important;
            font-weight: bold !important;
        }
        .mobile-select {
            .el-input__inner {
                padding-left: 125px;
            }
        }
        .el-popper {
            margin-top: 0 !important;
            .el-scrollbar,
            .el-select-dropdown__item.hover,
            .el-select-dropdown__item:hover {
                background-color: rgba(196, 196, 196, 0.5) !important;
            }
            .el-select-dropdown__item {
                color: $c-f;
            }
            .el-select-dropdown__list {
                background-color: transparent;
            }
            .popper__arrow {
                display: none;
            }
        }
    }
    .code-input {
        .el-input__suffix {
            right: 0;
            .el-input__clear {
                position: absolute;
                top: 0;
                right: 130px;
            }
        }
    }
}

.layout-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $c-f;
    background-image: url(../img/login_bg.png);
    // background-image: url(../img/login_bg_year.png);
    background-size: 100% 100%;
    .layout_center_main {
        @include flex(center, column);
        height: 100%;
        .slogan-container {
            @include flex(center, column);
            margin-bottom: 40px;
            .slogan_img {
                width: 248px;
            }
            .slogan_txt {
                font-weight: 600;
                font-size: 26px;
                letter-spacing: 0.16em;
                color: $c-81;
                margin-top: 20px;
            }
        }
    }
}


/* 登录注册共有表单样式 */

.form-container {
    .forget-div {
        color: $c-81;
        font-weight: 500;
        font-size: 14px;
        margin: -10px 0 10px;
        letter-spacing: 0px;
        text-align: right;
    }
    /deep/.code-from {
        margin-bottom: 0;
    }
    .goto-other {
        @include flex();
        margin-top: 11px;
        color: $c-ff5;
        font-size: 14px;
        font-weight: 500;
        .no-login {
            color: $c-81;
            cursor: pointer;
        }
        &.have-account {
            cursor: pointer;
            justify-content: flex-end;
            .have-account-txt {
                color: $c-81;
            }
        }
    }
}
