.wolrdcup-news{ 
    margin-top: 80px;
    .container{
        width: 1200px;
        margin: auto;
        padding: 20px 0 50px;
        min-height: 500px;
        .news-head{
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: #333333;
            .txt-gold{
                color:#A58A70;
            }
            .new-info{
                margin-top: 10px;
                span{
                    margin-right: 20px;
                }
            }
            .location{
                a{
                    color: #333333;
                }
            }
        }
    }
    .news-content{
        color: #666666;
        background: #FCF9F7;
        border-radius: 10px;
        padding: 18px 20px;
        margin: 15px 0 0 0;
        .article{
            line-height: 20px;
            /deep/ img{
                max-width: 100%;
            }
        }
        .sublings{
            margin: 30px 0;
            border-bottom: 1px solid #DDDDDD;
            color: #E7D3A0;
            display: flex; 
            justify-content: space-between;
            line-height: 30px;
            padding-bottom: 15px;
            .next{
                text-align: right;
                margin-left: auto;
            }
            p{
                color:#666666;
            }
        }
        .relate-news{
            .relate-title{
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #AC8765;
                border-top: 1px solid #DDDDDD;
                padding-top: 25px;
                margin-top: 50px;
                &::before{
                    content: '';
                    width: 1px;
                    height: 14px;
                    background:#AC8765;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
            .relate-list{                
                .item{
                    display: flex;
                    font-size: 14px;
                    line-height: 20px; 
                    color: #666;
                    cursor: pointer;
                    padding: 24px 0;
                    border-bottom: 1px solid #CCCCCC;
                    .item-left{
                        width: 180px;
                        height: 115px;
                        margin-right: 10px;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                        }
                    }
                    .item-right{
                        margin-top: 20px;
                        flex: 1;
                        .title{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px; 
                            color: #999999;
                        }
                        .txt{                    
                            text-align: justify;
                            span{
                                
                            }
                        }
                        .item-info{
                            display: flex;
                            margin-top: 25px;
                            .item-info-left{
                                img{
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 100%;
                                    margin-right: 5px;
                                    vertical-align: middle;
                                }
                                span{

                                }
                            }
                            .item-info-right{
                                margin-left: auto;
                                .icon-dis{
                                    margin-left: 20px;
                                    padding-left: 26px;
                                    background: url('./img/icon-dis.png') no-repeat left center/20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}