.match-comp {
    height: 90%;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgba(34, 35, 40, 1);
    backdrop-filter: blur(20px);
    padding: 30px 68px 10px 40px;
    color: $c-cec;
    position: absolute;
    top: 110px;
    width: 100%;
    z-index: 99;
    border-top: 1px solid #393a42;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .tabs {
        @include flex(center);
        margin-bottom: 29px;
        .tab-item {
            width: 120px;
            line-height: 36px;
            border-radius: 6px;
            margin-right: 20px;
            transition: 0.2s;
            cursor: pointer;
            box-sizing: border-box;
            background-size: 21px auto;
            color: #9A9DAA;
            &.active {
                color: rgba(231, 211, 160, 1);
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                    border-radius: 2.43097px;
                    transform: rotate(90deg);
                    height: 3px;
                    width: 62px;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -5px;
                }
                &:nth-child(2) {
                    background-image: url("../../img/live/hot2.png");
                }
                &:nth-child(3) {
                    background-image: url("../../img/live/icon-zq2.png");
                }
                &:nth-child(4) {
                    background-image: url("../../img/live/icon-lq2.png");
                }
                &:nth-child(5) {
                    background-image: url("../../img/live/icon-dj2.png");
                }
            }
            &:first-child {
                text-align: center;
            }
            &:not(:first-child) {
                padding-left: 58px;
                text-align: left;
                background-repeat: no-repeat;
                background-position: 28px center;
            }
            &:nth-child(2) {
                background-image: url("../../img/live/hot.png");
            }
            &:nth-child(3) {
                background-image: url("../../img/live/icon-zq.png");
            }
            &:nth-child(4) {
                background-image: url("../../img/live/icon-lq.png");
            }
            &:nth-child(5) {
                background-image: url("../../img/live/icon-dj.png");
            }
        }
    }
    .list-wrapper {
        height: 700px;
        width: 1080px;
        margin: 0 auto;
        .match-item {
            @include flex();
            min-height: 68px;
            position: relative;
            &:nth-child(even) {
                background: rgba(255, 255, 255, 0.04);
                border-radius: 6px;
            }
            &.has-date-title {
                padding-top: 30px;
                &:not(:first-child) {
                    .date-title {
                        top: 18px;
                    }
                }
                &:first-child {
                    padding-top: 12px;
                }
            }
            &.is-live {
                .icon {
                    &.icon-match-1 {
                        background-image: url("../../img/live/icon-zq.png");
                    }
                    &.icon-match-2 {
                        background-image: url("../../img/live/icon-lq.png");
                    }
                    &.icon-match-37 {
                        background-image: url("../../img/live/icon-dj.png");
                    }
                }
                .vs {
                    color: #FA6400;
                }
                .action {
                    cursor: pointer;
                    pointer-events: auto;
                    background-image: url("../../img/live/icon-play.png");
                }
            }
            &.active {
                .action {
                    background-image: url("../../img/live/living.gif");
                    background-size: 20px 24px;
                }
            }
            .date-title {
                position: absolute;
                top: 0;
                left: 0;
                color: rgba(107, 133, 192, 1);
                margin-bottom: 18px;
                &:first-child {
                    margin-top: 0;
                }
            }
            .match-content {
                @include flex();
                width: 100%;
                box-sizing: border-box;
                padding: 0 40px;
                .match-time {
                    margin-right: 95px;
                }
                .team-wrapper {
                    margin-right: 62px;
                    @include flex(center);
                    flex-grow: 1;
                    .team-name {
                        word-break: break-all;
                        flex: 1;
                        &:last-child {
                            margin-right: 10px;
                        }
                        &.team-name-left {
                            text-align: right;
                            margin-right: 11px;
                        }
                        &.team-name-right {
                            text-align: left;
                            margin-left: 11px;
                        }
                    }
                    .img-box {
                        width: 30px;
                    }
                    .vs {
                        width: 120px;
                        text-align: center;
                        color: #FF2F2F;
                    }
                }
                .leagueName {
                    width: 116px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-right: 40px;
                    .icon {
                        margin-right: 10px;
                        vertical-align: middle;
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url("../../img/live/icon-other.png");
                        &.icon-match-1 {
                            background-image: url("../../img/live/icon-zq2.png");
                        }
                        &.icon-match-2 {
                            background-image: url("../../img/live/icon-lq2.png");
                        }
                        &.icon-match-37 {
                            background-image: url("../../img/live/icon-dj2.png");
                        }
                    }
                }
            }
            .action {
                padding-left: 31px;
                background: url("../../img/live/icon-play2.png") no-repeat left center;
                background-size: 22px 22px;
                pointer-events: none;
                height: 22px;
            }
        }
    }
    .no-more {
        text-align: center;
        line-height: 60px;
    }
}