$c-f: #ffffff;
$c-fa: #fabb19;
$c-fc: radial-gradient(92.17% 69.47% at 66.25% 35.41%, #FBFAFF 0%, #ECF2FF 100%);
$ft-8:#8b7968;
$bg-c:#c4c4c4;
$bg-e:#e0ccb9;
$c-6:#91A5D0;
$c-3:#333333;
$c-a:#a09699;
$c-7:#777777;
$c-8:#888888;
$c-9:#999999;
$c-aaa:#aaaaaa;
$ft-b:#bca997;
$bg-ddd:#dddddd;
$c-c:#cccccc;
$bg-e7:#e7dbd0;
$bg-dc:#dcdcdc;
$c-ce:rgba(77, 97, 141, .4);
$c-d6:#d6c9bd;
$c-a7:#a79280;
$c-c8:#c8c8c8;
$c-c6:#c6ad97;
$c-e6:#e6d5c5;
$c-c5:#c5a78a;
$bg-f1:#f1e9e0;
$bg-e2:#e2ceba;
$b-f5:rgba(77, 97, 141, 0.15);
$b-eee:#eee5df;
$b-c0:#c0aa95;
$b-e7:#e7d9cc;
$c-r:#FF0008;
$b-e5:#e5cfb8;
$c-af:#af8c70;
$bg-ea:#eae3dd;
$c-81:#4d618d;
$c-d1:#d1beac;
$bg-bc:rgba(77, 97, 141, .4);
$c-60:#606060;
$bg-926:#6B85C0;
$bg-bf:#bfa38a;
$bg-b0:#b0957b;
$bg-ab:#ab8b6e;
$bg-ca:#cab7a4;
$bg-ead:#eadbcd;
$bg-c4: #C4C4C4;
$c-ff1:rgba(77, 97, 141, .1);
$c-ff3: rgba(77, 97, 141, 0.3);
$c-ff4: rgba(77, 97, 141, 0.4);
$c-ff5: rgba(77, 97, 141, 0.5);
$c-ff6: rgba(77, 97, 141, 0.6);
$c-ff7: rgba(77, 97, 141, 0.7);
$c-ff35: rgba(77, 97, 141, 0.35);
$c-ff12:rgba(77, 97, 141, 0.2);
$c-ff15:rgba(77, 97, 141, 0.15);
$c-ff05:rgba(77, 97, 141, 0.05);
$c-f1074: rgba(107, 133, 192, 0.4);
$c-101:rgba(101, 113, 128, 0.7);
$c-bfc:#bfc6d7;
$c-1d:#1dc675;
$c-4d:#4d618d;
$c-bf:#bfc8e0;
$c-ab:#ABB9E0;
$c-65:#657180;
$c-8c:#8c92a4;
$c-cd:#cddbeb;
$c-cf:#cfddff;
$c-e1:#e1e7f4;
$c-f1:#f1f5ff;
$c-97:#97a8d1;
$c-cec:#CECED3;

/* 覆盖 70-80 % */