$c-f: #ffffff;
$c-fa: #fabb19;
$ft-8:#8b7968;
$bg-c:#c4c4c4;
$bg-d:#deccba;
$bg-e:#e0ccb9;
$c-6:#666666;
$c-3:#333333;
$c-a:#a09699;
$c-7:#777777;
$c-8:#888888;
$c-9:#999999;
$c-aaa:#aaaaaa;
$ft-b:#bca997;
$bg-ddd:#dddddd;
$c-c:#cccccc;
$bg-e7:#e7dbd0;
$bg-dc:#dcdcdc;
$c-ce:#cebeae;
$c-d6:#d6c9bd;
$c-a7:#a79280;
$c-c8:#c8c8c8;
$c-c6:#c6ad97;
$c-e6:#e6d5c5;
$c-c5:#c5a78a;
$bg-f1:#f1e9e0;
$bg-e2:#e2ceba;
$b-f5:#f5f1ed;
$b-eee:#eee5df;
$b-c0:#c0aa95;
$b-e7:#e7d9cc;
$c-r:#FF0008;
$b-e5:#e5cfb8;
$c-1888:rgba(188, 169, 151, 0.8);
$c-1886:rgba(188, 169, 151, 0.6);
$c-1884:rgba(188, 169, 151, 0.4);
$c-1882:rgba(188, 169, 151, 0.2);
$c-18815:rgba(188, 169, 151, 0.15);
$c-af:#af8c70;
$bg-ea:#eae3dd;
$c-81:#815B39;
$c-d1:#d1beac;
$c-9f:#9f856d;
$bg-bc:#bcbcbc;
$c-60:#606060;
$bg-926:#926942;
$bg-bf:#bfa38a;
$bg-b0:#b0957b;
$bg-ab:#ab8b6e;
$bg-ca:#cab7a4;
$bg-ead:#eadbcd;
$bg-c4: #C4C4C4;
$bg-fcf:#fcf9f7;
$c-ff5:#FF5C00;
$c-1d:#1DC675;

/* 覆盖 70-80 % */

$c-3D9: #3D9AEC;
$c-61:#61B2F9;
$c-59: #595B65;
$c-a5: '';
$c-fc: '';
$c-5E: #5E6D78;
$c-39: #394854;
$c-54:#54626C;
$c-63: #63C4FA;
$c-3D: #3D4957;
$c-34: #343E4A;
$c-EE: #EEF5FF;
$c-84: #8491AA;
$c-ED: #ED1C24;
$c-cec:#CECED3;