.contact-us-box {
    width: 100%;
    min-height: 928px;
    @include common-bg;
    .contact-us-content {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        padding: 179px 30px 0 30px;
        @include flex();
        .contact-us-content-inner_title {
            font-weight: 600;
            font-size: 78px;
            @include primary-text;
        }
        .contact-us-content-inner_title_two {
            font-family: Adobe Heiti Std;
            font-weight: 400;
            font-size: 40px;
            @include primary-text;
            margin-bottom: 146px;
        }
        .contact-us-content-inner_box {
            display: flex;
            font-size: 12px;
            font-weight: 400;
            .contact-item {
                width: 162px;
                margin-right: 28px;
                background: #27553F;
                box-sizing: border-box;
                color: #FFFFFF;
                border-radius: 15px;
                @include flex(flex-start,
                column);
                padding: 7px;
                .contact-item_logo_bg {
                    width: 148px;
                    height: 148px;
                    background-image: url("../partner/img/skype_bg.png");
                    background-size: cover;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .contact-item_circle {
                        width: 62px;
                        height: 62px;
                        background: #FFFFFF;
                        border-radius: 30px;
                        background-size: cover;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .contact-item_logo {
                            width: 44px;
                        }
                    }
                    .contact-item_logo_title {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        color: $c-f;
                        margin-top: 8px;
                    }
                    .contact-item_logo_des {
                        width: 140px;
                        height: 16px;
                        word-wrap: break-word;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        color: $c-f;
                        text-align: center;
                    }
                }
                .copy-btn {
                    margin-top: 5px;
                    width: 138px;
                    line-height: 18px;
                    text-align: left;
                    .copy-btn-text {
                        float: left;
                        width: 110px;
                        word-break: break-all;
                    }
                    .copy-click {
                        color: #EDB77F;
                        cursor: pointer;
                        float: right;
                    }
                    // .copy-img {
                    //     width: 100%;
                    // }
                }
            }
        }
        .contact-us-input-box {
            width: 500px;
            background: $primary-bg;
            padding: 40px 18px;
            box-sizing: border-box;
            border-radius: 10px;
            margin-left: 40px;
            .el-form {
                /deep/.el-input__inner {
                    position: relative;
                    height: 48px;
                    border-radius: 6px;
                    background: rgba(8, 45, 32, 0.9);
                    border: 1px solid #427453;
                    color: #ffffff;
                    padding-left: 12px;
                    &::-webkit-input-placeholder {
                        color: #889796;
                    }
                }
                /deep/ .el-form-item {
                    margin-bottom: 26px;
                }
                /deep/.el-form-item__content {
                    .resize-none {
                        .el-textarea__inner {
                            resize: none;
                            font-size: 14px;
                            color: #ffffff;
                            height: 142px !important;
                            border-radius: 8px;
                            padding: 12px 0 0 12px;
                            background: rgba(8, 45, 32, 0.9);
                            border: 1px solid #427453;
                            box-shadow: none;
                            font-family: inherit;
                        }
                        textarea::-webkit-input-placeholder {
                            color: #889796;
                        }
                    }
                }
                /deep/.el-input__icon {
                    font-size: 20px;
                    color: #ffffff;
                }
                .btn-class {
                    text-align: right;
                }
                .btn-pubilc {
                    width: 160px;
                    height: 40px;
                    background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
                    border-radius: 6px;
                    border: none;
                    font-weight: 600;
                    font-size: 14px;
                    color: #0E3E2E;
                }
            }
        }
    }
}

/deep/ .el-dialog {
    border-radius: 10px;
    background: transparent;
    border: none;
    box-shadow: none;
    &::after {
        background: transparent;
    }
    .dialog-result {
        margin: 0 auto;
        position: relative;
        width: 182px;
        height: 123px;
        background: url("../partner/img/copy_sucess.png") no-repeat center center;
        background-size: 100% 100%;
        span {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 600;
            font-size: 14px;
            color: #27553F;
            white-space: nowrap;
        }
    }
}

/deep/ .el-dialog__header {
    padding: 0;
}

/deep/ .el-dialog__body {
    padding: 0;
    height: 0;
}

.multi-language {
  .contact-us-box .contact-us-content .contact-us-content-inner_box .contact-item .copy-btn .copy-btn-text {
    width: 100px;
  }
}
