.electronic-box {
    width: 100%;
    box-sizing: border-box;
    padding-top: 132px;
    .electronic-banner {
        width: 100%;
        height: 510px;
        background: #333 url("./img/banner.png") no-repeat 50%;
        background-size: auto 100%;
    }
    .electronic-content {
        height: 100%;
        margin: 0 auto;
        padding-top: 64px;
        background-image: url('../electronic/img/main-bg.png');
        background-size: contain;
        background-color: rgba(34, 35, 40, 0.8);
        backdrop-filter: blur(20px);
    }
}

.multi-language {
    .electronic-box {
        padding-top: 88px;
        .electronic-banner {
            height: 600px;
            background: url("./img/banner_en.png") no-repeat center center;
            background-size: auto 100%;
        }
    }
}
