.notice {
    width: 1200px;
    overflow: hidden;
    height: 40px;
    @include flex();
    background: linear-gradient(180deg, #fffefd 0%, $c-f 100%);
    box-shadow: 0px 2px 5px rgba(188, 169, 151, 0.3);
    border-radius: 50px;
    margin: 0 70px;
    position: relative;
    top: 5px;
    .notice-icon {
        padding-top: 4px;
        margin-left: 35px;
        margin-right: 14px;
        width: 16px;
    }
    .notice-content {
        margin-right: 35px;
        box-sizing: border-box;
        width: 100%;
        color: $c-39;
        overflow: hidden;
        font-weight: 400;
        margin-top: 5px;
        .notice-item {
            cursor: pointer;
            @include flex(flex-start);
            float: left;
            margin-right: 120px;
            text-align-last: left;
        }
        .notice-title {
            margin-right: 15px;
            flex-shrink: 0;
        }
        .notice-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    /deep/ .notice-dialog{  
        .el-dialog{
            min-width: 474px;
            .el-dialog__body{
                padding: 0;
                
            }
            .el-button--default{
                background:  linear-gradient(0deg, #97D6FC 0%, #3E80FF 13.54%, #61B2F9 81.77%, #96D6FB 100%);
            }
        }   
        .notice-dialog-cont{
            max-height: 500px;
            overflow:  hidden auto; 
            &::-webkit-scrollbar{
                width: 5px;
            }
            &::-webkit-scrollbar-thumb{
                background: #bbb;
            }
        }
        .notice-dialog-img{
            display: block;
            width: 474px; 
        }
        .notice-title{
            text-align: center;
            font-size: 20px;
            padding: 10px 0 0 0;
        }
        .noticec-dialog-text{
            text-align: justify;
            font-size: 18px;
            padding: 0 10px 15px;
            margin-top: 10px;
            line-height: 28px; 
        }
    }
}