.deposit-container {
    background-color: $c-fc;
    padding: 20px;
    font-size: 14px;
    .deposit-title {
        @include flex(flex-start);
        .service-container {
            margin-left: 10px;
            cursor: pointer;
            @include flex(flex-start);
        }
        .service-txt {
            font-size: 14px;
            font-weight: 500;
            color: #815B39;
        }
        .question-img {
            width: 18px;
            height: 18px;
            margin: 0 6px;
        }
        .question-txt {
            color: #815B39;
            opacity: .6;
        }
    }
    .tab-container {
        @include flex(flex-start);
        height: 50px;
        margin-top: 20px;
        .tab-item {
            width: 93px;
            cursor: pointer;
            position: relative;
            color: rgba(188, 169, 151, .5);
            @include flex(center);
            position: relative;
            height: 100%;
            margin-right: 24px;
            &.on {
                color: $c-81;
                &:after {
                    position: absolute;
                    content: '';
                    width: 93px;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    border-radius: 4px 4px 0 0;
                    background-color: $c-81;
                }
            }
            .logo {
                margin-right: 7px;
                width: 14px;
            }
        }
    }
    .box-no-deposit-rode {
        @include flex(center, column, nowrap, center);
        margin: 20px;
        .rode-text {
            position: relative;
            top: 10px;
            left: -15px;
        }
    }
}