.discount-wrapper {
    box-sizing: border-box;
    padding-top: 124px;
    width: 100%;
    @include common-bg;
    .discount-banner {
        width: 100%;
        height: 598px;
        background: url("./img/banner.png") no-repeat center center;
        background-size: cover;
         ::v-deep {
            .el-carousel__item {
                // display: flex;
                // align-items: center;
                // justify-content: center;
                overflow: hidden;
            }
            .el-carousel__container {
                height: 598px;
            }
            .el-carousel__indicator--horizontal {
                padding: 12px 16px;
            }
            .el-carousel__button {
                width: 12px;
                height: 14px;
                background-image: url("../home/img/dotted.png");
                background-size: 100% 100%;
                background-color: transparent;
            }
            .el-carousel__indicator.is-active button {
                background-image: url("../home/img/dotted_active.png");
                width: 20px;
                height: 22px;
            }
        }
        img {
            height: 598px;
            width: 1920px;
            position: relative;
            left: 50%;
            margin-left: -960px;
            cursor: pointer;
        }
    }
    .discount-content {
        width: 1200px;
        height: 100%;
        min-height: 500px;
        margin: 0 auto;
        padding-bottom: 45px;
        position: relative;
        .discount-tabs {
            /deep/ .el-tabs__header {
                padding-top: 20px;
                background: $primary-bg;
                border-radius: 10px;
                width: 200px;
                .icon-catName {
                    display: flex;
                    align-items: center;
                    .icon {
                        width: 30px;
                    }
                    .cat-name {
                        flex-grow: 1;
                        text-align: center;
                    }
                    .right-arrow {
                        width: 17px;
                    }
                    .icon,
                    .right-arrow {
                        flex-shrink: 0;
                    }
                }
            }
        }
        .no-data {
            @include flex(center,
            column);
            text-align: center;
            min-height: 840px;
            position: absolute;
            top: 0;
            width: calc(100% - 200px);
            left: 200px;
            .no-data-title {
                font-size: 22px;
                line-height: 31px;
                color: #C7CCDF;
                margin-top: 31px;
            }
            .no-data-img {
                width: 500px;
            }
            .load {
                width: 400px;
            }
        }
    }
}

/deep/ .el-tabs--left .el-tabs__item.is-left {
    height: 72px;
    line-height: 72px;
    font-size: 16px;
    color: #A5B3B2;
    margin-bottom: 10px;
    &:not(.is-active):after {
        content: "";
        display: block;
        width: 182px;
        height: 1px;
        background: linear-gradient(90deg, rgba(64, 90, 83, 0) 6.5%, #365149 49.55%, rgba(64, 90, 83, 0) 94.75%);
        margin: 0 auto;
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
    &.is-active {
        width: 100%;
        color: #27553F;
        background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
    }
}

/deep/ .el-tabs__active-bar {
    background: none;
}

/deep/ .el-tabs--left .el-tabs__header.is-left {
    margin-right: 0;
}

/deep/ .el-tabs__nav-wrap::after {
    display: none;
}

/deep/ .discount-dialog {
    .el-dialog__body {
        padding: 0 !important;
    }
}

.multi-language {
  .discount-wrapper {
    .discount-content {
      .discount-tabs .el-tabs__header .icon-catName {
        height: 100%;
        justify-content: space-between;
        .cat-name {
          max-width: 80px;
          line-height: 20px;
          text-overflow: ellipsis;
          white-space: normal;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2
        }
      }
    }
  }
  &.language-vi {
    .discount-wrapper .discount-banner {
      background: url("./img/banner-vi.png") no-repeat center center;
      background-size: cover;
    }
  }
}
