.footer-container {
    width: 100%;
    height: 550px;
    background: #031310;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 90px;
    box-sizing: border-box;
    @include flex(flex-start, column);

    .footer_icon_container{
        img{
            width: 1151.3px;
        }
    }
    .footer_main_container {
        margin-top: 14px;
        position: relative;
        width: 100%;
        .line{
            margin: auto;
            width: 1142px;
            border: 1.5px solid #27553F;
        }

        .notice-msg {
            margin: auto;
            padding-top: 20px ;
            width: 984px;
            line-height: 22px;
            font-size: 14px;
            text-align: center;
        }
        .brand_wrapper {
            @include flex(center);
            margin:40px 0 26px 0;
            .brand_item {
                max-width: 240px;
                @include flex(center);
                margin-right: 60px;
                font-size: 22px;
                color: #FFFFFF;
                &:last-child {
                    margin-right: 0;
                }
                img{
                    margin-right: 17px;
                    width: 70px;
                }
            }
        }
    }
    .footer_link_box {
        width: 1160px;
        @include flex(center);
        margin-top: 40px;
        .link_item {
            position: relative;
            cursor: pointer;
            padding: 0 30px;
            &::after{
                content: "";
                position: absolute;
                right: 0;
                top: 4px;
                width: 1px;
                height: 14px;
                background-color: rgba(255, 255, 255, 0.6);
            }
            &:last-child {
                margin-right: 0;
                &::after{
                    content: "";
                    width: 0;

                }
            }
        }
    }
    .copyright{
        margin-top: 23px;
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        font-size: 12px;
    }
}
