.el-pagination {
    /deep/ .btn-prev {
        width: 35px;
        height: 30px;
        background: #ADB0C9 !important;
        border-radius: 4px;
        padding-left: 12px;
        .el-icon {
            color: $c-f !important;
            font-size: 15px;
        }
    }
    /deep/ .btn-next {
        background: #ADB0C9 !important;
        border-radius: 4px;
        padding-left: 12px;
        width: 35px;
        height: 30px;
        .el-icon {
            color: $c-f;
            font-size: 15px;
        }
    }
    /deep/ button:disabled {
        background: #D5D7E9 !important;
        border-radius: 4px;
        padding-left: 12px;
        width: 35px;
        height: 30px;
        .el-icon {
            color: $c-f;
            font-size: 15px;
        }
    }
    /deep/ span:not([class*="suffix"]) {
        height: 30px;
        color: #6C6C8F;
    }
    /deep/ .el-pager li {
        width: 35px;
        height: 30px;
        background: #D5D7E9;
        border-radius: 4px;
        color: #505679;
        margin: 0 1px;
    }
    /deep/ .el-pager li.active {
        color: $c-3B;
        background:  $bg-ead;
        border-radius: 4px;
    }
    /deep/ .el-pagination__jump {
        .el-pagination__editor {
            .el-input__inner {
                width: 35px;
                height: 30px;
                background: #D5D7E9;
                border-radius: 4px;
                color: $c-3B;
                font-weight: 500;
                border: none;
            }
        }
    }
}
