.footer-container {
    width: 100%;
    height: 550px;
    background: #545a74;
    padding-top: 62px;
    box-sizing: border-box;
    @include flex(flex-start, column);
    .footer_icon_container{
        img:last-child{
            margin: 0;
        }
    }
    .footer_main_container {
        margin: 20px 0 10px;
        padding: 30px 0 26px;
        position: relative;
        width: 100%;
        &:before,
        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background: linear-gradient( 90deg, #656b87 19.27%, #a8adc9 50.52%, #626986 81.25%);
            top: 0;
            left: 0;
        }
        &:after {
            top: auto;
            bottom: 0;
        }
        .notice-msg {
            @include flex();
            font-weight: 400;
            color: $c-c;
            padding: 0 100px 0 0;
            justify-content: center;
            max-width: 1050px;
            margin: 0 auto 32px auto;
            .desc-text-wrapper {
                flex: 1;
                margin-left: 42px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 1px;
            }
        }
        .brand_wrapper {
            @include flex(center);
            margin-bottom: 26px;
            .brand_item {
                font-size: 12px;
                text-align: center;
                color: $c-f;
                width: 225px;
                height: 152px;
                background: #636881;
                border-radius: 8px;
                @include flex(center, column);
                margin-right: 98px;
                .brand-img {
                    @include transition;
                    &:hover {
                        opacity: .2;
                    }
                }
                .msg-box {
                    width: 102px;
                    margin-top: 16px;
                }
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
    .footer_link_box {
        width: 1160px;
        @include flex(center);
        color: $c-f;
        margin-top: 13px;
        .link_item {
            cursor: pointer;
            margin-right: 80px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.language-vi .footer-container {
  padding-top: 90px;
  height: 550px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  .footer-content {
    width: 1200px;
    margin: 0 auto;
    .footer-platforms {
      padding-bottom: 15px;
      border-bottom: 1px solid #BBBDC7;
      img {
        margin: 0 auto;
        width: 900px;
        height: 36px;
      }
    }
    .footer-desc {
      margin: 18px auto;
      width: 1100px;
    }
    .footer-association {
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      .footer-association-item {
        margin-right: 50px;
        display: flex;
        align-items: center;
        img {
          margin-right: 18px;
          width: 75px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .footer-link {
      margin-bottom: 25px;
      margin-top: 60px;
      display: flex;
      justify-content: center;
      .link-item {
        position: relative;
        margin-right: 20px;
        &::before {
          content: '';
          width: 1px;
          height: 14px;
          right: -10px;
          background: #FFFFFF;
          position: absolute;
          top: 50%;
          transform: scaleX(0.5) translateY(-50%);
        }
        &:last-child:before {
          display: none;
        }
      }
    }
  }
}
