.add-bank-card-dialog {
    padding: 10px 20px;
    .add-bank-card-form-wrapper {
        .add-bank-card-form {
            /deep/ .el-form-item {
                .el-form-item__label {
                    color: $c-1f;
                    &::before {
                        color: inherit;
                    }
                }
                .el-form-item__error {
                    white-space: nowrap;
                }
            }
            .sm-code-input {
                cursor: pointer;
                /deep/ .el-form-item__content {
                    @include flex();
                    .sm-code-container {
                        flex-shrink: 0;
                        .g-button {
                            margin-left: 30px;
                            width: 120px;
                            height: 36px;
                            box-sizing: border-box;
                            text-align: center;
                            .el-button--success {
                                border: 1px solid $ft-b;
                                border-radius: 34px;
                                color: $ft-b;
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .add-bank-card-btn {
        width: 170px;
        height: 48px;
        font-size: 22px;
        margin: 46px auto 0;
        background: $bg-ead;
        border-radius: 34px;
    }
    .province,
    .city {
        width: 100%;
    }
    .tab-container {
        @include flex(flex-start);
        margin-bottom: 18px;
        .tab-txt {
            font-size: 14px;
            text-align: right;
            padding-right: 12px;
            box-sizing: border-box;
        }
        .tab-main {
            @include flex(flex-start);
            .money-type {
                width: 135px;
                height: 40px;
                border-radius: 4px;
                text-align: center;
                line-height: 40px;
                margin-right: 20px;
                color: #3B4165;
                background: #ADB0C9;
                border:none;
                cursor: pointer;
                font-size: 18px;
                &:last-child {
                    margin-right: 0;
                }
                &.on {
                    color: #fff;
                    background: $bg-ead;;
                    border-color: $bg-ead;;
                }
            }
        }
    }
}
