.bankcard-manage {
    padding-top: 20px;
    &.wallet {
        padding: 20px 20px 7px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .bank-card-list-container {
        @include flex(flex-start, row, wrap);
        .bank-card-list {
            margin-bottom: 15px;
            cursor: pointer;
            .bank-card-inner {
                position: relative;
                width: 296px;
                height: 159px;
                background-image: url(./img/card_bg.png);
                background-size: 100% 100%;
                padding: 14px;
                box-sizing: border-box;
                .bank-label {
                    margin-left: 8px;
                    color: #3B4165;
                }
                .bank-select {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    &.on {
                        background-image: url("./img/selected.png");
                        background-size: 100% 100%;
                        width: 25px;
                        height: 25px;
                        margin: 7px;
                    }
                }
                .img-wrapper {
                    @include flex();
                    .static-img {
                        width: 175px;
                        margin: 18px 0px 0px 8px;
                    }
                    .bank-logo {
                        width: 48px;
                        margin-right: 11px;
                        margin-top: 10px;
                    }
                }
                .no-card {
                    img {
                        position: absolute;
                        top: 40%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .static-img {
                        width: 175px;
                    }
                    .add-bank-card {
                        width: 30px;
                    }
                }
                .add-bank-button {
                    width: 172px;
                    height: 22px;
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    background: #E8EDF9;
                    color: $c-1f;
                }
                .bank-card-footer {
                    @include flex();
                    margin: 10px 8px 0;
                    .bank-cardNo {
                        @include flex(flex-start);
                        font-size: 12px;
                        color: #3B4165;
                    }
                    .bank-unbind {
                        padding: 4px 8px;
                        height: 22px;
                        border-radius: 6px;
                        text-align: center;
                        line-height: 22px;
                        color: $c-1f;
                        background-color: #E8EDF9;
                        font-size: 14px;
                    }
                    .bank-disabled {
                        font-size: 12px;
                        position: absolute;
                        bottom: 16px;
                        right: 20px;
                        color: $c-1f;
                    }
                }
            }
        }
    }
}
/deep/.count-time{
    background-color: #5A6596 !important;
    color: #E8EDF9 !important;
    &:hover{
        background: none;
    }
}
