.banner-box-bog {
    min-height: 588px;
    height: 588px;
    overflow: hidden;
    .banner-box_loading_img {
        width: 100%;
        min-height: 588px;
    }
}

/deep/ .el-carousel {
    height: 100%;
}

/deep/ .el-carousel__container {
    height: 100%;
}

/deep/ .el-carousel__indicator--horizontal {
    padding: 30px 16px;
}

/deep/ .el-carousel__button {
    width: 12px;
    height: 12px;
    background-size: 100% 100%;
    background-color: #ccc;
    border-radius: 6px;
}

/deep/ .el-carousel__indicator.is-active button {    
    background-color: $c-61;    
    width: 50px;
    height: 12px;
}

.el-carousel__item img {
    width: 1920px;
    height: 598px;
    position: relative;
    left: 50%;
    margin-left: -960px;
    cursor: pointer;
}