.real-info-description {
    font-size: 14px;
    color: $c-a;
    .title {
        margin: 31px 0 22px;
        color: $c-cec;
        span {
            color: $c-cec;
            font-size: 16px;
        }
    }
    .real-form {
        .gender-box {
            /deep/ .el-input--prefix {
                .el-input__inner {
                    padding-left: 30px;
                }
            }
        }
        .birthday {
            /deep/ .el-input__inner {
                padding-left: 40px;
            }
        }
    }
}

.submit-userinfo-button {
    width: 79px;
    height: 29px;
    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
    border-radius: 6px;
    color: $c-39;
}