.form-container {
    .money-notice {
        font-size: 14px;
        @include flex(space-between);
        color: $c-f;
        .money-notice-text {
            @include flex(flex-start);
            .masker-container {
                margin-left: 10px;
                position: relative;
                cursor: pointer;
                .warning {
                    color: #ff0008;
                }
                .text {
                    color: $ft-f6;
                    &:hover~.notice-msg {
                        display: block;
                    }
                }
                .notice-msg {
                    display: none;
                    position: absolute;
                    top: -6px;
                    left: 120px;
                    color: #fff;
                    border-radius: 5px;
                    padding: 5px;
                    white-space: nowrap;
                    background: rgba(0, 0, 0, 0.6);
                    z-index: 1000;
                }
            }
            .money-notice {
                margin-left: 10px;
                color: $ft-f6;
            }
        }
        .notice-number {
            @include flex();
            color: $c-f;
            .right {
                margin: 0 24px 0 10px;
            }
        }
    }
    .fee-form {
        margin-top: 20px;
        .fee {
            /deep/ .el-form-item__content {
                @include flex(flex-start);
                .money-form {
                    width: 250px;
                    .el-input__inner {
                        background: $c-348;
                    }
                }
                .fee-submit {
                    width: 79px;
                    height: 29px;
                    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                    margin-left: 24px;
                    color: $c-39;
                }
            }
        }
        .virtual-text-container {
            font-size: 14px;
            margin: 0 0 10px 0;
        }
        .tip {
            color: $ft-f6;
            font-size: 14px;
            .service {
                color: $c-6b;
                cursor: pointer;
            }
        }
    }
}