  @font-face {
      font-family: "myFont";
      src: url("@/assets/style/fonts/din.otf");
      font-stretch: "normal";
      font-weight: 400;
  }
  
  @font-face {
      font-family: "hy";
      src: url("@/assets/style/fonts/hy.ttf");
      font-stretch: "normal";
      font-weight: normal;
  }
  
  @font-face {
      font-family: "impact";
      src: url("@/assets/style/fonts/impact.ttf");
      font-stretch: "normal";
      font-weight: normal;
  }
  
  @font-face {
      font-family: "hei";
      src: url("@/assets/style/fonts/hei.ttf");
      font-stretch: "normal";
      font-weight: normal;
  }
  
  @font-face {
      font-family: "zh";
      src: url("@/assets/style/fonts/zh.ttf");
      font-stretch: "normal";
      font-weight: normal;
  }