.provider-box {
    padding-top: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #3B4165;
    .class-box {
        @include flex();
        .class-lv {
            margin: 26px 80px 0 0;
            white-space: nowrap;
            @include flex(center);
            &:last-child {
                margin-right: 0 !important;
            }
            .text {
                color: #3B73E0;
            }
            .green{
                color: #00C265;
            }
        }
    }
    .bind-box {
        @include flex();
        margin-top: 30px;
        .bind-item {
            @include flex();
            .label {
                color: #505679;
            }
            .center {
                color: #3B73E0;
            }
        }
    }
    .bind-btn {
        width: 56px;
        height: 29px;
        line-height: 29px;
        background: #5A6596;
        border-radius: 5.75947px;
        text-align: center;
        margin-left: 28px;
        font-size: 12px;
        cursor: pointer;
        color:#D5D7E9;
        transition: 0.2s linear;
        &:hover {
            background-color: #ADB0C9;
            color:$c-1f;
        }
    }
    .el-divider {
        background-color: #D5D7E9;
    }
}
