.rule-wrapper {
    border-radius: 16px;

    /deep/ .el-dialog {
        .el-dialog__header {
            background: #6470A4;
            height: 58px;

            .dialog-title {
                font-size: 24px;
                color: #E5AA67;
                font-weight: 400;
            }

            .el-dialog__headerbtn {
                top: 12px;

                .el-dialog__close {
                    color: $c-cec;
                    font-size: 30px;
                    font-weight: 400;
                }
            }

            .el-icon-close {
                color: $c-f !important;
            }
        }

        .el-dialog__body {
            padding: 25px 25px 0px;

            .content {
                font-size: 16px;
                color: #1F2941;

                .text {
                    margin: 5px 0;
                }

                .line {
                    height: 1px;
                    // background: rgba(62, 66, 82, 0.2);
                    margin: 36px 0 34px;
                }

                .one-line {
                    display: flex;
                    justify-content: space-between;

                    .line-content {
                        width: 50%;

                        >div {
                            color: $c-81;
                        }

                        &:nth-child(2) {
                            margin-left: 15px;
                        }
                    }
                }

                .two-line {
                    margin-top: 20px;
                }

                .three-line {
                    margin-top: 20px;
                }

                .table-wrapper {
                    width: 100%;
                    margin-top: 10px;
                    border-collapse: separate;

                    .table-header {
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                        height: 40px;
                        color: $c-3B;
                        font-weight: 600;
                        background: linear-gradient(90deg, #F2AE89 0%, #FFCCB0 50.83%, #F2AE89 100%);

                        th {
                            font-weight: 600;
                            text-align: center;
                            border-color: transparent;
                            border-width: 0;
                            background: transparent;

                            &:first-child {
                                border-top-left-radius: 8px;
                            }

                            &:last-child {
                                border-top-right-radius: 8px;
                            }
                        }
                    }

                    .table-content {
                        height: 40px;
                        background: #D5D7E9;
                        color: $c-3B;
                        font-size: 14px;

                        td {
                            text-align: center;
                            border-right: 1px solid #ADB0C9;
                            border-bottom: 1px solid #ADB0C9;

                            &:first-child {
                                border-left: 1px solid $bg-d;
                                border-bottom-left-radius: 8px;
                            }

                            &:last-child {
                                border-bottom-right-radius: 8px;
                            }

                            &.no-border {
                                border-radius: 0px;
                            }

                            &.left-border {
                                border-left: 0px;
                            }

                            &.right-border {
                                border-bottom-right-radius: 8px;
                            }
                        }
                    }
                }

                &.promote-wrapper {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    word-break: normal;

                    .promote-title {
                        color: $ft-b;
                        font-size: 16px;
                        margin-top: 15px;
                    }

                    .promote-qr {
                        .code-main {
                            width: 248px;
                            height: 248px;
                            background: none;
                            margin-top: 15px;

                            .login-code {
                                width: 248px;
                                height: 248px;
                            }
                        }
                    }

                    .qr-code {
                        width: 248px;
                        height: 248px;
                        margin: 15px 0 25px;
                    }

                    .wrap-text {
                        margin: 5px 0 16px;

                        .copy-url {
                            color: #E49A73;
                        }
                    }

                    .friend-url {
                        font-size: 24px;
                        color: $c-3B;
                        display: flex;
                        align-items: center;
                        margin-bottom: 19px;

                        span {
                            margin: 0 20px;
                        }

                        &:after,
                        &:before {
                            display: flex;
                            content: '';
                            width: 50px;
                            height: 1px;
                            background: $c-80;
                        }
                    }

                    .url {
                        width: 400px;
                        border-radius: 4px;
                        color: $c-f;
                        text-align: center;
                        text-align: left;
                        margin-bottom: 21px;
                        padding: 5px 10px;
                        box-sizing: border-box;
                        line-height: 1.2;
                        background: #ADB0C9;
                    }
                }
            }
        }

        .footer {
            display: flex;
            justify-content: space-around;
            margin: 0px 0 20px;

            .btn {
                width: 120px;
                height: 36px;
                border-radius: 30px;

                &.rule-btn {
                    border: 1px solid $c-81;
                    color: $c-f;
                    background: #5A6596;
                }

                &.confirm-btn {
                    background: linear-gradient(180deg, #FBBB98 0%, #E1956E 100%);
                    color: $c-3B;
                    border: 1px solid #EFD8C2;
                    font-weight: 600;
                }
            }

            &.promote-footer {
                .btn {
                    width: 180px;
                    height: 36px;
                    background: linear-gradient(180deg, #FBBB98 0%, #E1956E 100%);
                    color: $c-3B !important;
                    border-radius: 4px;
                    border: 0;
                    font-weight: 600;
                }
            }

            &.mt-20 {
                margin-top: 20px;
            }
        }
    }
}
