.my-friend-wrapper {
    width: 100%;
    color: $c-3B;
    // background: $bg-32;
    border-radius: 16px;
    padding: 28px 20px;
    box-sizing: border-box;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    .title {
        cursor: pointer;

        &:after {
            content: "";
            display: flex;
            height: 1px;
            background-color: #ADB0C9;
            margin-top: 20px;
        }
    }

    .content {
        padding-top: 20px;

        .search-myfriend {
            /deep/ .el-form-item {
                display: flex;
                flex-direction: column;
                justify-self: flex-start;
                align-items: flex-start;

                .el-form-item__label {
                    text-align: left;
                    color: #1F2941;
                }

                .el-form-item__content {
                    margin-left: 0px !important;

                    input::-webkit-input-placeholder {
                        color: #1F2941;
                    }

                    .el-input__inner {
                        width: 100%;
                        color: #1F2941;
                        background: #D5D7E9;
                        border-color: transparent;
                        box-shadow: inset 3px 3px 4px rgba(141, 92, 77, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);

                        .el-range-input {
                            background-color: transparent;
                            color: #1F2941;
                        }

                        .el-range-separator {
                            color: #1F2941;
                        }

                        .el-icon-date {
                            color: #1F2941;
                        }
                    }

                    .el-input__inner .el-range-input {
                        color: #1F2941;
                    }

                    .friend-account {
                        width: 240px;

                        input::-webkit-input-placeholder {
                            color: #6F6F87;
                        }
                    }

                    .btn {
                        width: 134px;
                        height: 40px;
                        border-radius: 4px;
                        font-weight: normal;
                        margin-bottom: 20px;
                        display: inline-block;
                    }

                    .search-btn {
                        background: linear-gradient(180deg, #FBBB98 0%, #E1956E 100%);
                        border-color: transparent;
                        color: $c-3B;
                        font-weight: 600;
                    }

                    .reset-btn {
                        background: #5A6596;
                        border-color: transparent;
                        color: $c-f;
                    }
                }
            }
        }
    }
}