.info-msg-wrap {
    background: rgba(188, 169, 151, 0.15);
    border-radius: 10px;
    min-height: 440px;
    padding: 23px 20px;
    .info-msg-inner {
        margin-bottom: 20px;
        @include flex();
        cursor: pointer;
        font-size: 14px;
        .text-content {
            width: 590px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 15px;
        }
    }
    .message-dialog {
        /deep/ .el-dialog__body {
            .unbing-div-center {
                text-align: center;
            }
            .unbing-div-content {
                margin: 15px 0;
            }
            .unbing-time-right {
                text-align: right;
            }
        }
    }
}