.service {
    color: #A5B3B2;
    position: relative;
    padding-bottom: 80px;
    margin-top: 50px;
    .service-top-box {
        margin: auto;
        width: 1200px;
        background-color: $primary-bg;
        background-image: url('../../img/service/bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 10px;
        .service-items {
            @include flex(flex-start);
            margin-bottom: 10px;
            padding: 25px 70px;
            border-bottom: 1.2px solid #27553F;
            &:last-child {
                border: none;
            }
            .desc-img-box {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
                width: 84px;
                height: 68px;
                background: #27553F;
                border-radius: 8px;
                .desc-img {
                    height: 50px;
                }
            }
            .content {
                flex: 1;
                @include flex();
                .main {
                    font-size: 22px;
                    font-weight: 600;
                    color: #FFFFFF;
                    .english {
                        margin-top: 2px;
                        font-size: 12px;
                        font-weight: 400;
                        color: #C8D2D2;
                    }
                }
                .main-two {
                    font-size: 14px;
                    width: 580px;
                }
            }
        }
    }
    .service-bottom-box {
        width: 1200px;
        margin: 40px auto 0;
        @include flex();
        .service-bottom-item {
            position: relative;
            width: 280px;
            height: 200px;
            background: url("../../img/service/service-bottom-item-bg.png") no-repeat center center;
            background-size: 100% 100%;
            text-align: center;
            color: #C8D2D2;
            .service-bottom-item-text {
                p {
                    &:first-child {
                        color: #FFFFFF;
                        font-weight: 600;
                        font-size: 16px;
                    }
                    &:last-child {
                        margin-top: 3px;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                }
            }
            .service-bottom-item-time {
                margin-top: 20px;
                font-size: 72px;
                font-weight: 300;
                line-height: 101px;
                background: linear-gradient(187.32deg, #EFDEAB 17.14%, rgba(180, 146, 95, 0) 84.84%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
    }
}

.multi-language {
    .service .service-top-box .service-items .content {
        flex: 1;
    }
}
