.discount-wrapper {
    width: 100%;
    font-size: 0;
    .discount-banner {
        width: 100%;
        height: 598px;
        min-height: 598px;
        background: url("./img/default_banner.png") no-repeat center center;
        background-size: cover;
         ::v-deep {
            .el-carousel__item {
                // display: flex;
                // align-items: center;
                // justify-content: center;
                overflow: hidden;
            }
            .el-carousel__container {
                height: 598px;
            }
            .el-carousel__indicator--horizontal {
                padding: 12px 16px;
            }
            .el-carousel__button {
                width: 15px;
                height: 15px;
                background: #b4b4b4;
                border-radius: 100%;
            }
            .el-carousel__indicator.is-active button {
                background: rgba(244, 184, 116, 0.73);
            }
        }
        img {
            height: 598px;
            width: 1920px;
            position: relative;
            left: 50%;
            margin-left: -960px;
            cursor: pointer;
        }
    }
    .outer-wrapper {
        background-image: url('./img/bg.png');
        background-size: contain;
    }
    .discount-content {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        padding: 37px 0 45px;
        position: relative;
        .discount-tabs {
            /deep/ .el-tabs__header {
                background: rgba(40, 41, 47, 0.8);
                backdrop-filter: blur(4px);
                border-radius: 10px;
                padding-top: 20px;
                width: 200px;
                .icon-catName {
                    display: flex;
                    align-items: center;
                    .icon {
                        width: 30px;
                    }
                    .cat-name {
                        flex-grow: 1;
                        text-align: center;
                        color: #8C92A4;
                    }
                    .right-arrow {
                        width: 17px;
                    }
                    .icon,
                    .right-arrow {
                        flex-shrink: 0;
                    }
                }
            }
        }
        .no-data {
            @include flex(center,
            column);
            text-align: center;
            min-height: 840px;
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            width: calc(100% - 200px);
            left: 200px;
            .no-data-title {
                font-size: 22px;
                line-height: 31px;
                color: #C7CCDF;
                margin-top: 31px;
            }
            .no-data-img {
                width: 500px;
                // color: $c-bf;
            }
            .load {
                width: 400px;
            }
        }
    }
}

/deep/ .el-tabs--left .el-tabs__item.is-left {
    height: 72px;
    line-height: 72px;
    font-size: 16px;
    &:after {
        content: "";
        display: block;
        width: 182px;
        height: 1px;
        background: linear-gradient( 90deg, rgba(57, 58, 66, 0), rgba(57, 58, 66, 1), rgba(57, 58, 66, 0) 100%);
        margin: 0 auto;
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
    &.is-active {
        width: 100%;
        color: $c-f !important;
        background-image: url("./img/item_active_bg.png") !important;
        background-size: cover;
        .cat-name {
            color: #393A42 !important;
        }
    }
}

/deep/ .el-tabs__active-bar {
    background: none;
}

/deep/ .el-tabs--left .el-tabs__header.is-left {
    margin-right: 0;
}

/deep/ .el-tabs__nav-wrap::after {
    display: none;
}

/deep/ .discount-dialog {
    .el-dialog__body {
        padding: 0 !important;
    }
}