.footer-container {
    width: 100%;
    height: 548px;
    background: $c-4d;
    padding-top: 90px;
    box-sizing: border-box;
    @include flex(flex-start, column);
    .footer_icon_container {
        border-bottom: 1.5px solid #102755;
        box-shadow: 0px 0.7px 0px #DDE6FF;
        width: 1200px;
        img {
            width: 100%;
        }
    }
    .footer_main_container {
        margin: 20px 0 10px;
        width: 100%;
        .desc-text-wrapper {
            width: 984px;
            margin: 0 auto 40px;
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
            text-align: center;
        }
        .brand_wrapper {
            @include flex();
            margin: 0 auto 43px;
            width: 1074px;
            .brand-img {
                height: 73px;
            }
        }
    }
    .footer_link_box {
        width: 659px;
        @include flex();
        color: rgba(255, 255, 255, 0.6);
        margin-top: 13px;
        .link_item {
            cursor: pointer;
            padding-right: 27px;
            height: 14px;
            line-height: 14px;
            border-right: 1px solid rgba(255, 255, 255, .6);
            &:last-child {
                border-right: none;
            }
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
    .copyright {
        margin-top: 23px;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
    }
}