.top-game {
    padding: 0 30px;
    width: 1200px;
    margin: 0 auto;
    // background: url('../../img/topGame/topGame-bg.png') no-repeat center bottom/100% 400px;
    .top-game-title {
        background-image: url('../../img/topGame/title-bg.png');
        background-repeat: no-repeat;
        background-size: 387px auto;
        background-position: center 0px;
        .main-title {
            font-size: 32px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 5px;
            margin-top: 40px;
            color: #CECED3;
            font-family: FZHanZhenGuangBiaoS-GB;
            padding-top: 10px;
            font-weight: bold;
        }
        .slogan {
            color: #808293;
            font-size: 14px;
            margin: 4px 0 34px;
            text-align: center;
        }
    }
    .type-chose {
        padding: 0 25px;
        @include flex(space-between);
        .type {
            @include flex(center);
            width: 168px;
            height: 44px;
            font-size: 16px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #9a9d9a;
            position: relative;
            cursor: pointer;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 4px 4px 0 0;
                box-sizing: border-box;
                width: 168px;
                height: 6px;
                background: $bg-3d;
            }
            &:hover {
                color: #E7D3A0;
                &:after {
                    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                }
            }
            &.active {
                color: #E7D3A0;
                &:after {
                    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                }
            }
            .type-logo {
                height: 24px;
                line-height: 24px;
                background-position: left center;
                background-size: 24px 24px;
                background-repeat: no-repeat;
            }
        }
    }
    .content-container {
        height: 300px;
        border-radius: 8px;
        background-image: url('../../img/topGame/top_game_bg.png');
        background-size: 100% 100%;
        backdrop-filter: blur(20px);
        background-color: rgba(34, 35, 40, 0.8);
        .dn-bg {
            height: 125px;
            @include flex(flex-start);
            color: $c-81;
            overflow: hidden;
            align-items: center;
            margin-left: 20px;
            $logoList: ( sport: 114, real: 128, poker: 126, esport: 130, lottery: 130, electronic: 130, );
            @each $k,
            $o in $logoList {
                .#{$k}-logo {
                    height: $o+px;
                    // margin: 10px 0 0 15px;
                }
            }
            border-bottom: 1px solid #393A42;
            .right-box {
                height: 120px;
                z-index: 99;
                @include flex();
                .one {
                    width: 118px;
                    margin: 0 15px 0 29px;
                    .one-1 {
                        font-size: 24px;
                        font-weight: 500;
                        color: #CECED3;
                    }
                    .one-2 {
                        font-size: 12px;
                        font-weight: 400;
                        color: #9A9DAA;
                        margin-top: 5px;
                    }
                }
                .three {
                    width: 621px;
                    font-weight: normal;
                    line-height: 26px;
                    color: #9A9DAA;
                }
            }
        }
        .plat-content-box {
            @include flex(flex-start);
            // margin-left: 30px;
            // margin-top: 55px;
            margin: 25px 0 0 37px;
            .game-item {
                width: 120px;
                height: 120px;
                margin-right: 20px;
                cursor: pointer;
                position: relative;
                .isClick-img {
                    width: 100%;
                    height: 100%;
                }
                .is-Try-icon {
                    position: absolute;
                    width: 46px;
                    right: 0;
                }
            }
        }
    }
}