.usdt-teach{
    padding: 144px 0 50px;
    background-size: contain;
    .contaienr{
        width: 1200px;
        margin: 0 auto;
        border-radius: 10px;
        background:#fcf9f7;
        overflow: hidden;
    }
    h1{
        background: linear-gradient(180deg, #CEBEAF 0%, #C6A277 86.11%, #D2C2B2 100%);
        height: 62px;
        line-height: 62px;
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        text-align: center;
        position: relative;
        .close{
            position: absolute;
            right: 25px;
            top: 18px;
            font-size: 28px;
            cursor: pointer;
        }
    }
    .step{
        height: 1280px;
        margin: 20px 0;
        &.step1 {
            background: url('./img/1.jpg') no-repeat center center;
        }
        &.step2 {
            background: url('./img/2.jpg') no-repeat center center;
        }
        &.step3 {
            background: url('./img/3.jpg') no-repeat center center;
        }
        &.step4 {
            background: url('./img/4.jpg') no-repeat center center;
        }
        &.step5 {
            background: url('./img/5.jpg') no-repeat center center;

        }
        &.step6 {
            background: url('./img/6.jpg') no-repeat center center;
        }
        &.step7 {
            background: url('./img/7.jpg') no-repeat center center;
        }
    }
}
