.discounts-container {
    @include flex();
    .discounts-item {
        position: relative;
        width: 144px;
        margin-right: 15px;
        cursor: pointer;
        img {
            width: 100%;
        }
        span {
            position: absolute;
            left: 15px;
            bottom: 38px;
            font-size: 14px;
            color: #FFFFFF;
            white-space: nowrap;
        }
    }
}
