div.header-container._sponsor {
    background-color:rgba(0,0,0,0)!important;
}
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(180deg, rgba(227, 216, 205, 0.67) 0%, rgba(236, 224, 213, 0.36) 23.06%, rgba(255, 252, 249, 0.34) 47.92%, rgba(255, 253, 251, 0) 100%);
    &:after {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("./img/nav_bg.png");
        background-size: 100% 100%;
        opacity: 0.6;
        z-index: -1;
    }
    &:before {
        content: "";
        //background: linear-gradient( 180deg, rgba(227, 216, 205, 0.67) 0%, rgba(236, 224, 213, 0.36) 23.06%, rgba(255, 252, 249, 0.34) 47.92%, rgba(255, 253, 251, 0) 100%);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        height: 160px;
        z-index: -1;
    }
    &.drop-menu-show {
        background-color: $c-f !important;
        height: 374px;
    }
    &.drop-menu-hidden {
        background-color: rgba(255, 255, 255, 0);
        &:after {
            display: none;
        }
        &:before {
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            height: 80px;
            z-index: -1;
            background: linear-gradient( 180deg, rgba(227, 216, 205, 0.67) 0%, rgba(236, 224, 213, 0.36) 23.06%, rgba(255, 252, 249, 0.34) 47.92%, rgba(255, 253, 251, 0) 100%);
        }
    }
    .header-menu-container {
        height: 250px;
        overflow: hidden;
        width: 100%;
        position: fixed;
        left: 0;
        top: 115px;
        z-index: 1000;
        @include flex();
        .header_menu_body {
            width: 1200px;
            margin: 0 auto;
            height: 100%;
            @include flex();
            padding: 0 16px 0 40px;
            box-sizing: border-box;
        }
        .header_menu_main {
            position: relative;
            padding: 0 20px;
            box-sizing: border-box;
            max-width: calc(100% - 140px);
            flex-grow: 1;
        }
        .home-code {
            margin: 0 22px 0 50px;
            /deep/ .code-top_text {
                margin: 0px;
                font-weight: bold;
            }
        }
    }
}

