.sport-item-outer {
    flex-shrink: 0;
    width: 33.3%;
    @include flex(center);
    color: $c-6;
    font-weight: 600;
}

.sport-item {
    position: relative;
    width: 237px;
    height: 228px;
    cursor: pointer;
    background-size: auto 100%;
    background-repeat: no-repeat;
    @each $x in sabong_sab, sabong_dscf{
        &.#{$x} {
            background-image: url('../img/menu/sabongMenu/' + $x + '.png');
        }
    }
}

.sport-context {
    position: absolute;
    top: 5px;
    left: 65px;
    font-weight: 500;
}

.icon-container {
    left: 40%;
    bottom: -3px;
    position: absolute;
}
