  .real-item-outer {
      width: 25%;
      min-width: 25%;
      @include flex(center);
      .real-item {
          font-weight: 600;
          font-size: 16px;
          color: #fff;
          position: relative;
          width: 158px;
          height: 231px;
          cursor: pointer;
          background-size: auto 100%;
          background-repeat: no-repeat;
          @each $x in real_ag real_wm real_bbin real_bg real_ob {
              &.#{$x} {
                  background-image: url('../img/menu/realMenu/' + $x + '.png');
              }
          }
          .icon-container {
              right: -14px;
              bottom: 4px;
          }
      }
      .real-context {
          position: absolute;
          top: 12px;
          left: 75px;
      }
  }