.hot-match-container {
    padding-bottom: 40px;
    .hot-title {
        @include flex(center, column);
        background-image: url('../../img/live/hot-title-bg.png');
        background-size: 387px auto;
        padding: 32px 0 35px;
        background-repeat: no-repeat;
        background-position: center 14px;
        .main-title {
            color: #ceced3;
            font-size: 32px;
            letter-spacing: 5px;
            font-weight: bold;
        }
        .sub-title {
            font-size: 12px;
            color: #9a9a9a;
            margin-top: 10px;
        }
    }
    .hot-top {
        position: relative;
        height: 540px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        @include flex();
        .match-list {
            width: 290px;
            height: 510px;
            padding-top: 3px;
            margin: 0px 15px 0px 10px;

        }
        .chat-comp {
            .play {
                width: 200px;
                z-index: 11;
                position: absolute;
                top: 175px;
                left: 450px;
                margin-left: -100px;
                justify-content: center;
                img {
                  width: 200px;
                  transform: translateY(-30px);
                }
            }
        }
    }
    .hot-bottom {
        margin-left: 12px;
        height: 22px;
        width: 48px;
        border-radius: 12px;
        display: inline-block;
        background-color: #e1cb94;
        line-height: 22px;
        transition: all 0.5s;
        span {
            display: inline-block;
            margin-left: 27px;
            line-height: 22px;
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;
            background-color: #000000;
            color: #FFFFFF;
        }
        &.not-active {
            background-color: #75788A;
            span {
                margin-left: 2px;
            }
        }
    }
    .live-box {
        width: 900px;
        height: 510px;
        background: $c-c;
        overflow: hidden;
        margin-left: 12px;
        .gift-list {
            width: 873px;
            height: 100px;
            position: absolute;
            bottom: 18px;
            background-color: #161618;
            box-sizing: border-box;
            z-index: 99;
        }
    }
    .chat-container {
        width: 290px;
        // height: 510px;
        margin: 0 15px 0 10px;
        padding-top: 3px;
        position: absolute;
        left: 29px;
        top: 132px;
        z-index: 11;
        .msg-list {
            // background: rgba(19, 21, 23, 0.5);
            width: 290px;
            // height: 449px;
            margin: 0 auto;
        }
    }
    .hot-match-wrapper {
        @include flex();
        background: $c-f;
        color: $c-ce;
        .hot-match-left {
            height: 126px;
            line-height: 38px;
            color: $c-81;
            background-size: auto 100%;
            @include flex();
            .hot-match-img {
                width: 18px;
                margin-right: 21px;
            }
            .title {
                font-size: 30px;
                font-weight: 600;
                margin-right: 11px;
            }
            .text {
                color: $c-d6;
                font-size: 16px;
            }
        }
        .hot-match-right {
            font-size: 12px;
            @include flex(flex-start,
            column,
            nowrap,
            flex-end);
            .line {
                width: 35px;
                height: 2px;
                background: $c-d6;
                margin-bottom: 8px;
            }
        }
    }
    .hot-match-box {
        @include flex();
        padding: 10px 20px 0;
        .arrow-left,
        .arrow-right {
            width: 32px;
            height: 48px;
            background-size: 100% 100%;
            cursor: pointer;
            &.disabled {
                pointer-events: none;
                opacity: .6;
            }
        }
        .arrow-left {
            background-image: url('../../img/live/pre.png');
            &.disabled {
                background-image: url('../../img/live/pre.png');
            }
            &:hover {
                background-image: url('../../img/live/pre_on.png');
            }
        }
        .arrow-right {
            background-image: url('../../img/live/next.png');
            &.disabled {
                background-image: url('../../img/live/next.png');
            }
            &:hover {
                background-image: url('../../img/live/next_on.png');
            }
        }
        .hot-match-list {
            width: 1072px;
            height: 170px;
            overflow: hidden;
            position: relative;
            .list-box {
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                transition: 0.3s ease-in-out;
                .hot-match-item {
                    box-sizing: border-box;
                    width: 260px;
                    height: 170px;
                    border-radius: 10px;
                    background: rgba(54, 59, 70, 0.5);
                    float: left;
                    margin-right: 10px;
                    font-size: 14px;
                    overflow: hidden;
                    background-image: url('../../img/live/live-card.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100% 100%; 
                    position: relative;
                    cursor: pointer;
                    &:last-child{
                        margin: 0;
                    }
                    &.active {
                        border: 1px solid $bg-fb;
                    }
                    .anchor-label{
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        width: 44px;
                        height: 24px;
                        text-align: center;
                        color: #393A42;
                        font-size: 12px;
                        line-height: 24px;
                        background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                        border-radius: 6px;
                    }
                    .match-img{
                        width: 100%;
                        height: 100%;
                    }
                    .match-info{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 42px;
                        padding: 0 10px;
                        @include flex();
                        background: rgba(34, 35, 40, 0.5);
                        backdrop-filter: blur(10px);
                        color: #fff;
                        .teams-name{
                            width: 180px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        .match-hot{
                            margin-left: auto;
                            padding-left: 20px;
                            background: url('../../img/live/icon-people.svg') no-repeat left center;
                        }
                    }
                    // .league-item-box {
                    //     height: 32px;
                    //     margin: 0 auto;
                    //     padding: 0 15px;
                    //     box-sizing: border-box;
                    //     @include flex();
                    //     .league-name {
                    //         font-size: 16px;
                    //         color: #fff;
                    //         font-weight: bold;
                    //         text-overflow: ellipsis;
                    //         white-space: nowrap;
                    //         overflow: hidden;
                    //     }
                    //     .time {
                    //         font-size: 12px;
                    //         color: rgba(255, 255, 255, 0.5);
                    //     }
                    // }
                    // &.is-live {
                    //     pointer-events: auto;
                    //     cursor: pointer;
                    //     .match-state {
                    //         background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                    //         border-radius: 4px;
                    //     }
                    //     .vs {
                    //         color: $ft-f6;
                    //     }
                    // }
                    
                    // .team-logo,
                    // .team-name {
                    //     width: 70px;
                    //     overflow: hidden;
                    //     text-overflow: ellipsis;
                    //     white-space: nowrap;
                    //     text-align: center;
                    // }
                    // .teams {
                    //     margin-top: 5px;
                    //     padding: 0 10px;
                    //     .teams-top {
                    //         @include flex();
                    //         .team-logo {
                    //             height: 40px;
                    //             img {
                    //                 max-width: 100%;
                    //                 max-height: 100%;
                    //             }
                    //         }
                    //         .match-state {
                    //             box-sizing: border-box;
                    //             width: 78px;
                    //             height: 27px;
                    //             line-height: 27px;
                    //             text-align: center;
                    //             border-radius: 21px;
                    //             font-size: 12px;
                    //             background: #545666;
                    //             border-radius: 4px;
                    //             color: #9A9DAA;
                    //             &.live {
                    //                 color: #545666;
                    //                 background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                    //             }
                    //         }
                    //     }
                    //     .teams-bottom {
                    //         margin-top: 8px;
                    //         color: $c-a7;
                    //         @include flex();
                    //     }
                    // }
                    // .anchor {
                    //     color: #CECED3;
                    //     margin-top: 4px;
                    //     background-color: rgba(34, 35, 40, .5);
                    //     height: 50px;
                    //     box-sizing: border-box;
                    //     padding: 0 30px;
                    //     @include flex(center);
                    //     .anchor-header {
                    //         height: 32px;
                    //         text-align: center;
                    //         position: relative;
                    //         margin: 0 auto;
                    //         width: 100%;
                    //         @include flex(center);
                    //         .icon-video {
                    //             width: 10px;
                    //             margin-right: 6px;
                    //         }
                    //         &:after,
                    //         &:before {
                    //             content: "";
                    //             flex: 1;
                    //             height: 1px;
                    //             background: #fff;
                    //             opacity: .2;
                    //         }
                    //         &:after {
                    //             margin-left: 15px;
                    //         }
                    //         &:before {
                    //             margin-right: 15px;
                    //         }
                    //     }
                    //     .room-name {
                    //         margin: -10px 0 0 20px;
                    //     }
                    // }
                }
            }
        }
    }
}