.deposit-dialog {
    .bog.el-dialog {
        .el-dialog__body {
            padding-top: 25px;
            .dialog-wrapper {
                @include flex(center, column, nowrap, flex-start);
                font-size: 14px;
                .dialog-content {
                    width: 100%;
                    @include flex();
                    margin-bottom: 10px;
                    .title {
                        color: $c-cec;
                    }
                    .text {
                        color: $c-f;
                    }
                    .required-text {
                        margin-left: 12px;
                        color: $c-r;
                        font-size: 14px;
                    }
                    .copy {
                        width: 80px;
                        color: $c-f;
                        font-size: 12px;
                        cursor: pointer;
                        @include flex(center);
                        .copy-img {
                            width: 13px;
                            margin-right: 6px;
                        }
                    }
                }
                .setup {
                    color: $ft-f6;
                    margin-top: 10px;
                    div {
                        margin-bottom: 5px;
                        &.attention {
                            color: $c-r;
                        }
                        .service {
                            color: #38b63f;
                        }
                    }
                }
            }
        }
        .el-dialog__footer {
            margin: 0;
            div {
                .el-button--success {
                    background-color: transparent;
                    color: $c-e7;
                    border-color: $c-e7;
                    border-radius: 30px;
                    height: 36px;
                }
                .el-button--danger {
                    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                    color: $c-39;
                    border-color: transparent;
                    border-radius: 30px;
                    height: 36px;
                }
            }
        }
    }
}