.real-info-description {
    margin-top: 30px;
    font-size: 14px;
    color: #3B4165;
    .title {
        margin-bottom: 22px;
    }
    .real-form {
        .gender-box {
            /deep/ .el-input--prefix {
                .el-input__inner {
                    width: 100%;
                    padding-left: 30px;
                    box-shadow: none;
                }
            }
        }
        .user-name,
        .gender-box {
            /deep/ .el-input__inner {
                box-shadow: none;
            }
        }
        .birthday {
            /deep/ .el-input__inner {
                padding-left: 40px;
                box-shadow: none;
            }
        }
        /deep/.el-form-item{
            margin-bottom: 10px;
            .el-form-item__label{
                padding: 0;
                color: #6F6F87;
            }
        }
    }
}