.app-down-load {
    color: $c-a;
    margin-top: 50px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #fff 50%,#CEBEAE 80%); 
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    .download-main {
        height: 622px;
        background: $c-fc;
        border-radius: 10px;
        position: relative;
        margin: 1px;
        .main-container {
            height: 400px;
            .main-title {
                height: 54px;
                position: relative;
                @include flex(flex-end);
                transform: translateY(-10px);
                .time {
                    @include flex();
                    position: absolute;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    color: $ft-b;
                    .customer {
                        width: 64px;
                        margin: 0 26px 0 14px;
                        cursor: pointer;
                    }
                }
            }
            .content {
                display: flex;
                .left {
                    display: inline-block;
                    width: 400px;
                    position: relative;
                    .phone-1 {
                        height: 535px;
                        position: absolute;
                        left: 34px;
                        top: 0;
                    }
                }
                .right {
                    padding: 30px 0 0 80px;
                    color: $c-3;
                    .one {
                        font-size: 26px;
                        font-weight: 500;
                        color: $c-81;
                    }
                    .two {
                        font-size: 12px;
                        margin-bottom: 22px;
                        color: $c-81;
                    }
                    .three {
                        font-weight: 500;
                        line-height: 22px;
                    }
                    .sm-code-container {
                        width: 170px;
                        height: 200px;
                        font-size: 13px;
                        margin: 24px 0 45px;
                        background-image: url("../../img/code_container.png");
                        background-size: 100% 100%;
                        justify-content: center;
                        .code-top_text {
                            margin-bottom: 0px;
                            margin-top: -13px;
                        }
                        .code-main {
                            background: transparent;
                            .home-un-login {
                                width: 110px;
                                margin-top: -8px;
                            }
                        }
                        &.login-code-container {
                            .code-top_text {
                                margin-top: -39px;
                            }
                            .login-code {
                                width: 100px;
                            }
                        }
                    }
                    .url-container {
                        padding-left: 20px;
                        .operate-tip {
                            line-height: 20px;
                            color: $c-3;
                            position: relative;
                            &:before {
                                content: "";
                                position: absolute;
                                width: 5px;
                                height: 5px;
                                background: $c-3;
                                border-radius: 50%;
                                left: -11px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                        .www {
                            @include flex(flex-start);
                            transform: translateX(-14px);
                            margin-top: 5px;
                            max-width: 480px;
                            .inter {
                                width: 26px;
                                height: 26px;
                                background-image: url("../../img/inter.png");
                                margin-right: 12px;
                                background-size: 100% 100%;
                                flex-shrink: 0;
                            }
                            .href-list {
                                @include flex(flex-start,
                                wrap);
                                a {
                                    color: $c-3;
                                    cursor: pointer;
                                    margin: 0 10px 5px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}