.coupons {
    background: $c-EE;
    // box-shadow: 0px 4px 4px rgba(135, 73, 0, 0.06), inset -1px -1px 0px #ffffff,
    // inset 1px 1px 0px #ffffff;
    border-radius: 10px;
}

/deep/ .el-dialog__body {
    color: $c-3D9;
    padding: 25px 25px 30px;
}

/deep/ .el-dialog__footer {
    display: none;
}

/deep/ .el-dialog__header {
    background: linear-gradient(180deg, #cebeaf 0%, #c6a277 86.11%, #d2c2b2 100%);
    border-radius: 12px 12px 0 0;
}

/deep/ .dialog-title {
    font-size: 24px;
    font-weight: normal;
    color: #fff;
}

.d-div {
    font-size: 14px;
    // color: #f6b56a;
    text-align: center;
    margin-bottom: 4px;
}

.d-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    div {
        width: 70px;
        text-align: center;
        color: $c-3D9;
        background-color: #fff;
        border: 1px solid $c-3D9;
        margin-left: 12px;
        padding: 2px 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    .sure {
        color: #fff;
        background-color: $c-3D9;
    }
}

.top-div { 
    background: $c-EE;
    border-radius:0 0 10px 10px;
    padding: 24px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 20px rgba(207, 212, 225, 0.89);
    .coupons-inner {
        display: flex;
        justify-content: space-evenly; 
        padding-left: 20px;
        div {
            width: 168px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin-right: 10px;
            cursor: pointer;
            position: relative;
            font-size: 14px;
            color: $c-84;
            .dot {
                width: 28px;
                height: 3px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 6px 6px 0 0;
            }
        }
        .active-bg {
            .dot {
                background: $c-3D9;
            }
            color: $c-3D9;
        }
    }
    .coupons-wrap {
        min-height: 160px;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 8px;
        box-sizing: border-box;
        background: #fff;
        box-shadow: 0px 4px 4px rgba(135, 73, 0, 0.06), inset -1px -1px 0px #ffffff, inset 1px 1px 0px #ffffff;
        border-radius: 15px;
        position: relative;
        .coupons-received {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 168px;
        }
        .coupons-wrap-border {
            width: 902px;
            border: 1px solid #B8DDFD;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 0 8px;
            .coupons-wrap-first {
                display: flex;
                justify-content: space-between;
                .first-div {
                    line-height: 20px;
                    text-align: center;
                    margin: 20px 0;
                    color: $c-3D;
                    box-sizing: border-box;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }
        .scoend-div { 
            font-weight: 500;
            position: relative;
            font-size: 32px;
            top: 15px;
            right: 15px;
            color: $c-3D9; 
            font-family: 'PingFang SC';
            &.t0 {
                top: 0;
            }
        }
        .coupons-wrap-second {
            color:  $c-84;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
        }
        .mixing-detailitem {
            margin-top: 18px;
        }
        .mixing-topbox {
            display: flex;
            justify-content: space-between;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 636px;
                height: 1px;
                left: 10px;
                bottom: -10px;
                background: linear-gradient(180deg, rgba(123, 168, 209, 0.6) 0%, rgba(154, 190, 222, 0.438) 6.14%, rgba(233, 237, 248, 0.144) 16.63%, rgba(233, 237, 248, 0.6) 34.82%);
            }
            &:last-child::after{
                display: none;
            }
            button {
                margin-right: 10px;
            }
        }
        .mixing-title {
            font-size: 26px;
            margin:0 30px 0 15px;
            top: 0;
            right: 0;
            font-weight: 500;
            color: $c-3D9;
            font-family: 'PingFang SC';
        }
        .white-color { 
            line-height: 40px;
            flex: 1;
            
        }
        .first-btn {
            width: 120px;
            height: 35px;
            box-shadow: inset 3px 3px 4px rgba(77, 110, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
            color: $c-3D;
            border-radius: 6px;
            background-color: transparent;
            margin-right: 20px;
            font-size: 14px;
            border: 0.5px solid #E6E8F3;
            .service-manual {
                margin-right: 20px;
                line-height: 18px;
            }
            i {
                font-size: 18px;
                font-weight: 900;
            }
        }
        .coupons-wrap-three {
            text-align: right;
            padding-right: 15px;
            margin: 8px 0;
            color: #8491AA;
            position: relative;
            border-top: 1px solid #E8EBFB;
            padding-top: 8px;
            .special-rule-list {
                margin-top: 10px;
                font-style: 14px;
                // width: 300px;
                overflow-x: auto;
                display: flex;
                flex-wrap: nowrap;
                &::-webkit-scrollbar {
                  height: 0;
                }
                &::-webkit-scrollbar-thumb {
                  background: transparent;
                }
                .special-rule-item {
                  flex-shrink: 0;
                  flex-grow:0;
                  padding: 12px 5px 9px;
                  min-width: 100px;
                  height: 100px;
                  box-sizing: border-box;
                  background: #FFFFFF;
                  border: 0.5px dashed #9c9faf;
                  box-sizing: border-box;
                  text-align: center;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  &.special-rule-item__active {
                    background: #FFF6E6;
                    i {
                      background: url("../img/rule-icon-active.svg") no-repeat center center;
                      background-size: 100% 100%;
                    }
                  }
                  i {
                    margin: 0 auto;
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: url("../img/rule-icon.svg") no-repeat center center;
                    background-size: 100% 100%;
                  }
                }
              }
        }
        .sconed-btn {
            width: 84px;
            height: 35px;
            background:  linear-gradient(0deg, #97D6FC 0%, #3E80FF 13.54%, #61B2F9 81.77%, #96D6FB 100%);
            border-radius: 6px;
            border: 0;
            color: #fff;
            font-size: 14px;
        }
        .sconed-btn-bg {
            background: linear-gradient(0deg, #A09F9B 0%, #504F4E 12.5%, #8E8E8E 81.77%, #CBCBCB 100%);;
            color: #ffffff;
            line-height: 14px; 
            opacity: 0.4;
        }
        .received-bg {
            background: rgba(188, 169, 151, 0.4);
        }
        .coupons-wrap-last {
            display: none;
            color: $c-84;
            font-size: 14px;
            .first-last {
                margin-bottom: 5px;
            }
            .check-html {
                font-size: 14px;
                text-align: right;
                cursor: pointer;
                color: $c-84;
                margin-right: 15px;
                margin-bottom: 10px;
            }
        }        
        .detail-content{
            padding: 25px 15px 0;
            position: relative;
            .check-html{
                position: absolute;
                right: 0;
                top: 20px;
            }
            .last-last{
                width: 80%;
            }
        }
        .is-show {
            display: block;
            padding-bottom: 15px;
        }
    }
    .no-data {
        text-align: center;
        padding-top: 200px;
        padding-bottom: 240px;
        display: flex;
        flex-direction: column;
        align-self: center;
        background: #FFFFFF;
        border: 0.5px solid #E6E8F3;
        box-sizing: border-box;
        box-shadow: 0px 4px 14px rgba(207, 212, 225, 0.4);
        border-radius: 10px;
        img {
            width: 212px;
            margin: 0 auto;
        }
        .text {
            margin-top: 11px;
        }
    }
    .no-data-gif {
        img {
            width: 450px;
        }
        text-align: center;
        margin-top: 30px;
    }
}

.unbing-wrap {
    /deep/ .el-dialog {
        .el-dialog__body {
            .d-btn-div {
                font-size: 14px;
            }
        }
    }
}
.status-two{
    position: relative;
    .status-two-inner{
        margin-top: -40px;
        width: 65%;
        line-height: 20px;
        min-height: 70px;
    }
    .check-html{
        position: absolute;
        right: 0px;
        top: 48px;
    }
}