.physical-container{
  background-position: center top;
  background-image: url('./img/ob-bg.jpg');
  &.m8-bg{
      background-image: url('./img/m8-bg.jpg');
  }
  &.sb-bg{
    background-image: url('./img/sb-bg.jpg');
  }
  /deep/ .special-main-pic {
    left: 800px !important; 
  }
} 