.add-bank-card-dialog {
    padding: 10px 0 20px;
    .add-bank-card-form-wrapper {
        .add-bank-card-form {
            /deep/ .el-form-item {
                .el-form-item__label {
                    color: $c-f;
                }
            }
            .sm-code-input {
                cursor: pointer;
                /deep/ .el-form-item__content {
                    @include flex();
                    .sm-code-container {
                        flex-shrink: 0;
                        .g-button {
                            margin-left: 30px;
                            width: 120px;
                            height: 36px;
                            box-sizing: border-box;
                            text-align: center;
                            .el-button--success {
                                border: 1px solid $ft-b;
                                border-radius: 34px;
                                color: $ft-b;
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .add-bank-card-btn {
        width: 120px;
        height: 36px;
        margin: 40px auto 0;
        background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
        border-radius: 34px;
        color: $c-39;
    }
    .province,
    .city {
        width: 100%;
    }
    .tab-container {
        @include flex(flex-start);
        margin-bottom: 18px;
        .tab-txt {
            width: 130px;
            font-size: 14px;
            text-align: right;
            padding-right: 12px;
            box-sizing: border-box;
            color: $c-f;
        }
        .tab-main {
            @include flex(flex-start);
            width: 450px;
            justify-content: space-between;
            .money-type {
                width: 130px;
                height: 30px;
                line-height: 27px;
                cursor: pointer;
                display: inline-block;
                box-sizing: border-box;
                text-align: center;
                border: 1px solid $c-80;
                border-radius: 4px;
                font-size: 14px;
                color: $c-80;
                margin-right: 8px;
                &:last-child {
                    margin-right: 0px;
                }
                &.on {
                    width: 132px;
                    height: 32px;
                    color: $c-39;
                    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                    border-color: transparent;
                }
            }
        }
    }
    /deep/ .sm-code-input {
        .el-input__inner {
            width: 280px;
        }
        .el-input__suffix-inner {
            @include flex(center);
        }
        .el-button {
            background: transparent;
            border-color: $c-cec;
            span {
                color: $c-cec !important;
            }
        }
    }
}