.deposit-dialog {
    .el-dialog {
        .el-dialog__body {
            .dialog-wrapper {
                padding: 20px 24px 0 24px;
                @include flex(center, column, nowrap, flex-start);
                .dialog-content {
                    width: 100%;
                    @include flex();
                    margin-bottom: 20px;
                    .title {
                        color: #3B4165;
                    }
                    .text {
                        color: $c-1f;
                    }
                    .required-text {
                        margin-left: 12px;
                        color: $c-r;
                        font-size: 14px;
                    }
                    .copy {
                        @include flex();
                        .copy-img {
                            width: 14px;
                            margin-right: 8px;
                        }
                        .copy-text {
                            font-size: 14px;
                            color: #E49A73;
                            font-weight: 600;
                        }
                    }
                }
                .setup {
                    color: $c-3;
                    font-size: 16px;
                    margin-top: 10px;
                    word-wrap: break-word;
                    word-break: normal;
                    div {
                        margin-bottom: 10px;
                        &.attention {
                            color: $c-r;
                        }
                        .service {
                            color: #38b63f;
                        }
                    }
                }
            }
        }
        .el-dialog__footer {
            div{
                @include flex(space-around);
            }
            .el-button {
                &:nth-of-type(1){
                    color: #E8EDF9;
                    background: #5A6596;
                }
                border-radius: 34px;
                font-weight: 600;
                font-size: 14px;
                width: auto;
            }
        }
        .el-dialog__header{
            background: #6470A4;
        }
    }
}
