.mobile-tip {
    font-size: 16px;
    margin-bottom: 20px;
}

.mobile-form.el-form {
    /deep/ .el-form-item__content {
        @include flex();
        .el-select {
            .el-input {
                width: 80px;
                .el-input__inner {
                    padding-left: 15px;
                }
            }
            .mobile-drop {
                left: 0px !important;
                position: absolute!important;
                top: 0px;
            }
        }
        .mobile-phone {
            .el-input__inner {
                padding-left: 15px;
            }
        }
        .smcode-input {
            .el-input__inner {
                padding-left: 70px;
                width: 310px;
            }
            .el-input__clear{
                left: -55px;
                position: absolute;
                bottom: 0px;
            }
            .profile-smcode {
                &.el-button--success {
                    width: 120px;
                    height: 40px;
                    color: $c-81;
                    background-color: $c-f !important;
                    border: 1px solid $c-81;
                    border-radius: 25px;
                    &:hover {
                        border-color: $c-81;
                        color: $c-81;
                    }
                }
            }
        }
    }
}