.provider-box {
    font-size: 14px;
    font-weight: 400;
    color: $c-cec;
    .title {
        span {
            color: $c-f;
            font-size: 16px;
        }
    }
    .class-box {
        @include flex();
        color: $ft-f6;
        .class-lv {
            margin: 26px 80px 0 0;
            @include flex(center);
            .text {
                color: $c-6b;
                &.pwd {
                    color: $ft-0d;
                }
            }
        }
    }
    .bind-box {
        @include flex();
        margin-top: 30px;
        .bind-item {
            @include flex();
            .label {
                color: $ft-f6;
            }
            .center {
                color: $c-6b;
            }
        }
    }
    .bind-btn {
        width: 56px;
        height: 29px;
        line-height: 29px;
        background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
        border-radius: 5px;
        text-align: center;
        margin-left: 28px;
        font-size: 12px;
        cursor: pointer;
        color: $c-39;
        transition: 0.2s linear;
        &:hover {
            background-color: $bg-32;
        }
    }
    .el-divider {
        background-color: $c-39;
    }
}