.notice {
    width: 1200px;
    height: 41px;
    margin: 17px auto;
    @include flex();
    background: linear-gradient(180deg, #F3F9FF 0%, #FFFFFF 100%);
    box-shadow: 0px 4px 5px rgba(0, 56, 255, 0.08);
    border-radius: 50px;
    .notice-icon {
        padding-top: 4px;
        margin-left: 35px;
        margin-right: 14px;
        width: 16px;
    }
    .notice-content {
        padding-right: 35px;
        box-sizing: border-box;
        width: 100%;
        color: #657180;
        font-weight: 400;
        overflow: hidden;
        margin-top: 5px;
        .notice-item {
            cursor: pointer;
            @include flex(flex-start);
            float: left;
            margin-left: 120px;
            text-align-last: left;
        }
        .notice-title {
            flex-shrink: 0;
        }
        .notice-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    /deep/ .notice-dialog{  
        .el-dialog{
            min-width: 474px;
            .el-dialog__body{
                padding: 0;
            }
        }   
        .notice-dialog-cont{
            max-height: 500px;
            overflow:  hidden auto; 
            &::-webkit-scrollbar{
                width: 5px; 
            }
            &::-webkit-scrollbar-thumb{
                background: #bbb;
            }
        }
        .notice-dialog-img{
            display: block;
            width: 474px; 
        }
        .notice-title{
            text-align: center;
            font-size: 20px;
            padding: 10px 0 0 0;
        }
        .noticec-dialog-text{ 
            text-align: justify;
            font-size: 18px;
            padding: 0 10px 15px;
            margin-top: 10px;
            line-height: 28px; 
        }
    }
}