.phone {
    /deep/.el-input__inner {
        padding-left: 88px !important;
    }
}

/deep/ .el-select {
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
}

/deep/ .el-select {
    input::-webkit-input-placeholder {
        color: $ft-b !important;
    }
    .el-input__inner {
        text-align: center;
        padding: 0;
    }
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    color: #ccc;
}

.el-select-dropdown__item.selected {
    color: #ccc;
}

.el-form-item {
    margin-bottom: 26px;
}

.el-popper {
    background-color: $c-fc;
    .el-select-dropdown__item {
        color: $c-81;
        &.hover {
            background-color: $ft-b;
            color: $c-f;
        }
    }
}

/deep/ .el-input {
    height: 100%;
    .el-input__inner {
        background: rgba(8, 45, 32, 0.9);
        color: #ffffff;
        border: 1px solid #427453;
        font-size: 16px;
        font-weight: 500;
    }
    &::-webkit-input-placeholder {
        color: #889796;
    }
}

.box {
    padding: 184px 0 83px;
    @include common-bg;
    .content {
        width: 940px;
        height: 616px;
        background: $primary-bg;
        border-radius: 8px;
        margin: 0 auto;
        .title {
            height: 123px;
            line-height: 123px;
            font-size: 34px;
            font-weight: 600;
            margin: 0;
            position: relative;
            text-align: center;
            @include primary-text;
            &:after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(90deg, rgba(57, 58, 66, 0) 6.5%, #393A42 46.49%, rgba(57, 58, 66, 0) 94.75%);
            }
        }
        .stpe {
            display: flex;
            justify-content: center;
            color: #ffffff;
            font-weight: bold;
            font-size: 16px;
            margin: 32px 0;
            .stpe-one,
            .stpe-two,
            .stpe-three {
                width: 268px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                background: #3d4154;
            }
            .stpe-one {
                color: #27553F;
                background: url("./img/stpe_first.png") no-repeat;
                background-size: 100% 100%;
            }
            .stpe-two {
                margin-right: 2px;
                background: url("./img/stpe_second.png") no-repeat;
                background-size: 100% 100%;
            }
            .stpe-three {
                margin-right: 2px;
                background: url("./img/stpe_second.png") no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}

.code-from {
    position: relative;
    img {
        display: inline-block;
        width: 65px;
        height: 30px;
        position: absolute;
        right: 25px;
        top: 5px;
    }
    .refresh {
        color: #fcce92;
        position: absolute;
        right: 2px;
        top: 10px;
        font-size: 20px;
    }
}

.row {
    width: 100%;
    display: flex;
    .reg-card {
        transition: 0.5s ease-in-out;
    }
    .py-3 {
        padding-bottom: 1rem !important;
    }
    .col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}

.justify-content-center {
    display: flex;
    justify-content: center !important;
    margin: 0 auto;
}

.mes-code-btn {
    width: 113px;
    height: 48px;
    position: absolute;
    right: 0;
    background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
    border-radius: 6px;
    color: #0E3E2E;
    font-weight: 600;
    font-size: 14px;
    border: none;
}

.mes-code-send {
    background-color: transparent;
}

.mes-code-btn-disabled {
    cursor: not-allowed;
}

.user-message {
    /deep/.el-input__inner {
        width: 340px;
    }
}

.loginBtn {
    width: 465px;
    height: 40px;
    margin: 40px auto 0;
    background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
    border-radius: 8px;
    display: block;
    border: 0;
    color: #0E3E2E;
    font-size: 16px;
    font-weight: 600;
}

.loginBtn-on {
}

.question-customer {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    span {
        cursor: pointer;
    }
    .question {
        color: #889796;
        margin-right: 3px;
    }
    .customer {
        color: #ffffff;
        cursor: pointer;
        margin-left: 4px;
    }
}

.question-customer-password {
    width: 90%;
    text-align: center;
    span {
        cursor: pointer;
    }
    .question {
        color: #9b9b9d;
        margin-right: 3px;
    }
    .customer {
        display: inline-block;
        color: #ffffff;
        margin-left: 4px;
        cursor: pointer;
        margin-top: 40px;
    }
}

.from-div {
    margin: 50px auto;
}

.el-form {
    margin: 0 238px;
    /deep/.el-input__inner {
        height: 100%;
    }
    /deep/.el-form-item__content {
        height: 48px;
    }
    /deep/.el-input__icon {
        line-height: 48px;
        font-size: 24px;
        color: #ffffff;
    }
    .btn-class {
        width: 464px;
        margin-top: 59px;
        /deep/ .el-form-item__content {
            @include flex();
        }
    }
    .btn-pubilc {
        width: 211px;
        height: 40px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 6px;
        color: #C8D2D2;
        border: 0;
        font-size: 16px;
        font-weight: 600;
    }
    .change-btn {
        background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
        color: #0E3E2E;
    }
}

.multi-language {
    .box .content .stpe {
        font-size: 14px;
    }
}
