.mobile-tip {
    font-size: 16px;
    margin-bottom: 20px;
}

.email-form.el-form {
    /deep/ .el-form-item__content {
        @include flex();
        .smcode-input {
            .el-input__inner {
                padding-left: 70px;
                width: calc(100% - 135px);
            }
            .el-input__clear{
                left: -40px;
                position: absolute;
                bottom: -2px;
            }
            .profile-smcode {
                &.el-button--success {
                    width: 120px;
                    height: 40px;
                    color: $c-81;
                    background-color: $c-f !important;
                    border: 1px solid $c-81;
                    border-radius: 25px;
                    &:hover {
                        border-color: $c-81;
                        color: $c-81;
                    }
                }
            }
        }
    }
}

.multi-language {
    .email-form.el-form .el-form-item__content {
        .smcode-input {
            /deep/ {
                .el-input__inner {
                    padding-left: 135px;
                    width: calc(100% - 145px);
                }
            }
            .profile-smcode.el-button--success {
                width: 130px;
                white-space: normal;
                word-wrap: break-word;
                word-break: normal;
            }
        }
    }
}

.language-vi {
    .email-form.el-form .el-form-item__content {
        .smcode-input {
            /deep/ {
                .el-input__inner {
                    padding-left: 90px;
                }
            }
        }
    }
}
