.mobile-tip {
    font-size: 16px;
    margin-bottom: 20px;
}

.mobile-form.el-form {
    /deep/ .el-form-item__content {
        @include flex();
        .el-select {
            .el-input {
                width: 80px;
                .el-input__inner {
                    padding-left: 15px;
                }
            }
        }
        .mobile-phone {
            .el-input__inner {
                padding-left: 15px;
            }
        }
        .smcode-input {
            .el-input__inner {
                padding-left: 70px;
                width: 370px;
            }
            .el-input__clear{
                left: -40px;
                position: absolute;
                bottom: 0px;
            }
            .profile-smcode {
                &.el-button--success {
                    width: 120px;
                    height: 40px;
                    background-color: $c-f !important;
                    border: 1px solid #facd90;
                    border-radius: 25px;
                    &:hover {
                        color: $ft-f6;
                        border: 1px solid $ft-f6;
                    }
                }
            }
        }
    }
}

.multi-language {
    .mobile-form.el-form .el-form-item__content {
        .smcode-input {
            /deep/ {
                .el-input__inner {
                    padding-left: 135px;
                    width: calc(100% - 145px);
                }
            }
            .profile-smcode.el-button--success {
                width: 130px;
                white-space: normal;
                word-wrap: break-word;
                word-break: normal;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}

.language-vi {
    .mobile-form.el-form .el-form-item__content {
        .smcode-input {
            /deep/ {
                .el-input__inner {
                    padding-left: 90px;
                }
            }
        }
    }
}
