.electronic-box {
    width: 100%;
    .electronic-banner {
        width: 100%;
        height: 637px;
        background: url("./img/banner.png") no-repeat center center;
        background-size: center 100%;
    }
    .real-main-pic{
        width: 590px;
        position: relative;
        top: 40px;
        left: 30px;
    }
    .electronic-content {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
    }
}