.contact-us-box {
    width: 100%;
    min-height: 928px;
    background: url("./img/contact_us_bg.png") no-repeat;
    background-size: cover;
    .contact-us-content {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        padding: 179px 30px 0 30px;
        @include flex();
        .contact-us-content-inner_title {
            font-weight: 600;
            font-size: 78px;
            color: $c-81;
        }
        .contact-us-content-inner_title_two {
            font-family: Adobe Heiti Std;
            font-weight: 500;
            font-size: 40px;
            color: $c-81;
            margin-bottom: 146px;
        }
        .contact-us-content-inner_box {
            display: flex;
            font-size: 12px;
            font-weight: 400;
            color: $c-81;
            .contact-item {
                width: 162px;
                margin-right: 28px;
                background: rgb(249, 249, 245);
                border: 1px #b08e6c solid;
                background-size: cover;
                box-sizing: border-box;
                color: $c-f;
                border-radius: 15px;
                @include flex(flex-start,
                column);
                padding: 7px 7px 0;
                .contact-item_logo_bg {
                    width: 148px;
                    height: 148px;
                    background-image: url("../partner/img/skype_bg.png");
                    background-size: cover;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .contact-item_circle {
                        width: 62px;
                        height: 62px;
                        background-image: url("../partner/img/circle.png");
                        background-size: cover;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .contact-item_logo {
                            width: 44px;
                        }
                    }
                    .contact-item_logo_title {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        color: $c-f;
                        margin-top: 8px;
                    }
                    .contact-item_logo_des {
                        width: 140px;
                        height: 16px;
                        word-wrap: break-word;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        color: $c-f;
                        text-align: center;
                    }
                }
                .copy-btn {
                    background-size: cover;
                    width: 138px;
                    line-height: 18px;
                    text-align: left;
                    .copy-btn-text {
                        color: #666666;
                        float: left;
                        width: 110px;
                        word-break: break-all;
                    }
                    .copy-click {
                        color: #9F856D;
                        cursor: pointer;
                        float: right;
                    }
                    // .copy-img {
                    //     width: 100%;
                    // }
                }
            }
        }
        .contact-us-input-box {
            width: 500px;
            background: $bg-ead;
            padding: 20px 20px 3px 20px;
            box-sizing: border-box;
            border-radius: 16px;
            margin-left: 40px;
            .el-form {
                /deep/.el-input__inner {
                    position: relative;
                    height: 56px;
                    border-radius: 8px;
                    color: $c-9;
                    padding-left: 20px;
                    border: 0;
                }
                /deep/ .el-form-item {
                    margin-bottom: 26px;
                }
                /deep/.el-form-item__content {
                    .resize-none {
                        .el-textarea__inner {
                            resize: none;
                            font-size: 14px;
                            color: $c-9;
                            height: 142px !important;
                            border-radius: 8px;
                            padding: 21px 0 0 20px;
                            background: #fff;
                            box-shadow: none;
                        }
                        textarea::-webkit-input-placeholder {
                            color: $c-9;
                        }
                    }
                }
                /deep/.el-input__icon {
                    color: $c-f;
                }
                .btn-class {
                    text-align: right;
                }
                .btn-pubilc {
                    width: 162px;
                    height: 56px;
                    font-size: 16px;
                    font-family: Source Han Sans CN;
                    font-weight: 400;
                    color: $c-81;
                    background: $bg-ead;
                    border-radius: 8px;
                    border: 1px solid $c-81;
                }
            }
        }
    }
}

/deep/ .el-dialog {
    border-radius: 10px;
    background: transparent;
    border: none;
}

/deep/ .el-dialog__header {
    padding: 0;
}

/deep/ .el-dialog__body {
    padding: 0;
    height: 0;
}