.service {
    color: $c-a;
    position: relative;
    padding-bottom: 80px;
    margin-top: 50px;
    .service-top-box {
        .service-items {
            @include flex(flex-start);
            font-size: 13px;
            margin-bottom: 10px;
            background-color: $c-fc;
            border-radius: 8px;
            padding: 20px 0 20px 34px;
            box-shadow: 0 1px 0 0.5px #CEBEAE;
            .content {
                @include flex();
                margin-left: 10px;
                .main {
                    font-size: 24px;
                    font-weight: 500;
                    color: $c-81;
                    .english {
                        font-size: 12px;
                        font-weight: 500;
                        color: $c-81;
                    }
                }
                .main-two {
                    font-size: 14px;
                    width: 580px;
                    font-weight: 500;
                    color: $c-3;
                    margin-left: 22px;
                }
            }
            .desc-img {
                margin-right: 18px;
                width: 80px;
            }
        }
    }
    .service-bottom-box {
        @include flex();
        .item-bg {
            margin-top: 40px;
            width: 100%;
        }
    }
}