.paybus-step-dialog{
  font-weight: normal;

  .paybust-steps{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10px;
    .paybust-steps-value{
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: #CCCCCC;
      color: #fff;
      text-align: center;
      border-radius: 50%;
      font-size: 16px;
      &.active {
        background: #815B39;
      }
    }
    .paybus-steps-line{
      width: 106px;
      height: 2px;
      margin: 19px 9px 0 9px;
      background: url("../img/line-pendding.png");
      background-size: 100% 100%;
      &.active {
        background: url("../img/line-ok.jpg");
        background-size: 100% 100%;
      }
    }
  }
  .paybust-steps-content{
    display: flex;
    flex-direction: row;
    margin: 10px 0 20px 0;
    >div {
      flex-basis: 60px;
      flex-grow: 1;
      text-align: center;
      color: #DDDDDD;
      font-size: 16px;
      &.active {
        color: #666;
      }
    }
  }
  .paybus-main-wrapper{
    padding: 0 40px 0 76px;
    .paybus-steps-form-row {
      display: flex;
      line-height: 40px;
      height: 40px;
      margin-top: 26px;
      .paybus-steps-form-title {
        width: 100px;
        font-size: 16px;
        color: #815B39;
        text-align: right;
        margin-right: 9px;
      }
      .paybus-steps-form-value-xx {
        /deep/ .el-input__inner {
          background: $b-f5;
          border: 1px solid rgba(255, 255, 255, 0.34);
          box-shadow: inset 3px 3px 4px rgba(141, 92, 77, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
          border-radius: 4px;
        }
      }
    }
    .tips {
      margin-top: 20px;
      margin-bottom: 10px;
      .tips-icon{
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("../img/tips.png");
        background-size: 100% 100%;
        vertical-align: middle;
        margin-top: -6px;
      }
      line-height: 24px;
    }
    .txt {
      font-size: 14px;
      color: #666666;
    }
  }
  .paybus-steps-ok-btn{
    margin: 29px auto 0 auto;
    width: 232px;
    height: 48px;
    background: linear-gradient(180deg, #EFD8C2 0%, #997750 100%);
    border-radius: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 48px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .qr_tips{
    margin: 6px auto;
    text-align: center;
    font-size: 14px;
    color: rgba(165, 138, 112, 1);
    .warn_txt {
      color: #FF0008;
    }
  }

  .step-ok-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .paybus-ok-icon {
      width: 26px;
      height: 26px;
      background: url("../img/ok.jpg");
      background-size: 100% 100%;
    }
    .paybus-ok-title{
      color: #815B39;
      font-size: 20px;
      margin-top: 20px;
    }
    .paybus-ok-dd, .paybus-ok-je {
      color: rgba(102, 102, 102, 1);
      font-size: 22px;
      width: 363px;
    }
    .paybus-ok-dd{
      margin-top: 24px;
    }
    .paybus-ok-je{
      margin-top: 10px;
    }
  }
}
