.hot-match-container {
    background: radial-gradient(16.09% 86.15% at 50% 13.85%, rgba(219, 229, 255, 0) 0, rgba(220, 229, 255, .26) 100%);
    box-shadow: 0 4px 4px rgba(103, 104, 109, 0.06), inset -1px -1px 0 #fff, inset 1px 1px 0 #fff;
    border-radius: 10px;
    background: $c-fc;
    padding-bottom: 20px;
    .hot-top {
        height: 540px;
        padding: 0px 15px;
        @include flex();
    }
    .live-box {
        width: 900px;
        height: 510px;
        background: $c-c;
        border-radius: 10px;
        overflow: hidden;
    }
    .hot-live {
        height: 95px;
        width: 1200px;
    }
    .chat-container {
        width: 290px;
        height: 510px;
        background: $c-4d;
        border-radius: 10px;
        margin-left: 10px;
        padding-top: 3px;
        .msg-list {
            background-image: url('../../img/live/chatroom_inner.png');
            width: 264px;
            height: 437px;
            background-size: 100% 100%;
            margin: 15px auto;
        }
    }
    .hot-match-wrapper {
        @include flex();
        background: $c-f;
        color: $c-ce;
        .hot-match-left {
            height: 126px;
            line-height: 38px;
            color: $c-ff4;
            background-size: auto 100%;
            @include flex();
            .hot-match-img {
                width: 18px;
                margin-right: 21px;
            }
            .title {
                font-size: 30px;
                font-weight: 600;
                margin-right: 11px;
            }
            .text {
                color: $c-d6;
                font-size: 16px;
            }
        }
        .hot-match-right {
            font-size: 12px;
            @include flex(flex-start,
            column,
            nowrap,
            flex-end);
            .line {
                width: 35px;
                height: 2px;
                background: $c-d6;
                margin-bottom: 8px;
            }
        }
    }
    .hot-match-box {
        @include flex();
        .left-btn,
        .right-btn {
            width: 50px;
            height: 170px;
            cursor: pointer;
            @include flex(center);
            &.disabled {
                opacity: .4;
            }
            .arrow-left,
            .arrow-right {
                width: 26px;
            }
        }
        .hot-match-list {
            width: 1074px;
            height: 170px;
            overflow: hidden;
            position: relative;
            .list-box {
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                transition: 0.3s ease-in-out;
                .hot-match-item {
                    box-sizing: border-box;
                    width: 260px;
                    height: 170px;
                    border-radius: 10px;
                    background: #EAF0FF;
                    box-shadow: 0px 5px 5px rgba(77, 97, 141, 0.21), inset 0.7px 0.7px 18px #F2FAFF, inset 0px 0.6px 2px rgba(255, 255, 255, 0.72), inset 0px -1.5px 0px #FFFFFF;
                    border-radius: 10px;
                    background-size: cover;
                    float: left;
                    margin-right: 10px;
                    padding-top: 11px;
                    font-size: 14px;
                    pointer-events: none;
                    .league-item-box {
                        width: 234px;
                        height: 32px;
                        margin: 0 auto;
                        padding: 0 10px;
                        box-sizing: border-box;
                        background: #4D618D;
                        border-radius: 4px;
                        @include flex();
                        .league-name {
                            font-size: 16px;
                            color: #fff;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .time {
                            font-size: 12px;
                            color: #fff;
                        }
                    }
                    &.is-live {
                        pointer-events: auto;
                        cursor: pointer;
                        .match-state {
                            background: #4D618D;
                            border-radius: 4px;
                            background-size: 15px auto;
                        }
                        .vs {
                            color: $c-ff4;
                        }
                    }
                    &.active {
                        border: solid 2px $c-ff4;
                    }
                    .team-logo,
                    .team-name {
                        width: 70px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-align: center;
                    }
                    .teams {
                        margin-top: 14px;
                        padding: 0 10px;
                        .teams-top {
                            @include flex();
                            .team-logo {
                                height: 38px;
                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }
                            .match-state {
                                box-sizing: border-box;
                                width: 78px;
                                height: 27px;
                                line-height: 27px;
                                text-align: center;
                                background: $c-c;
                                border-radius: 21px;
                                color: $c-f;
                                &.live {
                                    background: #4D618D;
                                    border-radius: 4px;
                                    font-size: 12px;
                                    font-weight: normal;
                                }
                            }
                        }
                        .teams-bottom {
                            margin-top: 8px;
                            color: $c-a7;
                            @include flex();
                        }
                    }
                    .anchor {
                        color: $c-c8;
                        margin-top: 4px;
                        .anchor-header {
                            width: 234px;
                            height: 32px;
                            text-align: center;
                            position: relative;
                            background: #4D618D;
                            border-radius: 4px;
                            margin: 0 auto;
                            @include flex(center);
                            color: $c-f;
                            .icon-video {
                                width: 10px;
                                margin-right: 6px;
                            }
                            &:after,
                            &:before {
                                content: "";
                                width: 58px;
                                height: 1px;
                                background: $c-f;
                            }
                            &:after {
                                margin-left: 6px;
                            }
                            &:before {
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
    .bg-f {
        background-color: $c-f;
        margin: 40px 0;
        border: none;
    }
}