.match-comp {
    height: 865px;
    border-radius: 10px;
    background: $c-fc;
    box-sizing: border-box;
    padding: 30px 68px 10px 40px;
    color: $c-3;
    position: absolute;
    top: 110px;
    width: 100%;
    z-index: 99;
    margin-top: 20px;
    &::before {
        content: "";
        display: flex;
        width: 100%;
        height: 1px;
        background: linear-gradient(270deg, rgba(242, 234, 226, 0.13) 0%, #EADED2 47.4%, rgba(242, 234, 226, 0.56) 100%);
        position: relative;
        top: -30px;
    }
    .tabs {
        @include flex(flex-start);
        margin-bottom: 20px;
        .tab-item {
            width: 120px;
            line-height: 36px;
            text-align: center;
            border: 1px solid $c-8;
            border-radius: 6px;
            margin-right: 20px;
            cursor: pointer;
            transition: 0.2s;
            box-sizing: border-box;
            background-size: 21px 22px;
            color: $c-8;
            &.active {
                background-color: $c-ab;
                color: $c-f;
                border-color: $c-ab;
                &:nth-child(2) {
                    background-image: url("../../img/live/hot.png");
                }
                &:nth-child(3) {
                    background-image: url("../../img/live/icon-zq.png");
                }
                &:nth-child(4) {
                    background-image: url("../../img/live/icon-lq.png");
                }
                &:nth-child(5) {
                    background-image: url("../../img/live/icon-dj.png");
                }
            }
            &:not(:first-child) {
                padding-left: 58px;
                text-align: left;
                background-repeat: no-repeat;
                background-position: 28px center;
            }
            &:nth-child(2) {
                background-image: url("../../img/live/hot2.png");
            }
            &:nth-child(3) {
                background-image: url("../../img/live/icon-zq2.png");
            }
            &:nth-child(4) {
                background-image: url("../../img/live/icon-lq2.png");
            }
            &:nth-child(5) {
                background-image: url("../../img/live/icon-dj2.png");
            }
        }
    }
    .list-wrapper {
        height: 700px;
        padding-right: 100px;
        margin-left: 90px;
        .match-item {
            @include flex();
            min-height: 68px;
            border-bottom: 1px solid $bg-dc;
            position: relative;
            &.has-date-title {
                padding-top: 30px;
                &:not(:first-child) {
                    .date-title {
                        top: 18px;
                    }
                }
                &:first-child {
                    padding-top: 12px;
                }
            }
            &.is-live {
                .icon {
                    &.icon-match-1 {
                        background-image: url("../../img/live/icon-zq.png");
                    }
                    &.icon-match-2 {
                        background-image: url("../../img/live/icon-lq.png");
                    }
                    &.icon-match-37 {
                        background-image: url("../../img/live/icon-dj.png");
                    }
                }
                .vs {
                    color: #FA6400;
                }
                .action {
                    cursor: pointer;
                    pointer-events: auto;
                    background-image: url("../../img/live/icon-play.png");
                }
            }
            &.active {
                .action {
                    background-image: url("../../img/live/living.gif");
                    background-size: 20px 24px;
                }
            }
            .date-title {
                position: absolute;
                top: 0;
                left: 0;
                color: $bg-926;
                margin-bottom: 18px;
                &:first-child {
                    margin-top: 0;
                }
            }
            .match-content {
                @include flex();
                .match-time {
                    margin-right: 95px;
                }
                .team-wrapper {
                    width: 360px;
                    margin-right: 62px;
                    @include flex(center);
                    .team-name {
                        word-break: break-all;
                        flex: 1;
                        &:last-child {
                            margin-right: 10px;
                        }
                        &.team-name-left {
                            text-align: right;
                            margin-right: 11px;
                        }
                        &.team-name-right {
                            text-align: left;
                            margin-left: 11px;
                        }
                    }
                    .img-box {
                        width: 30px;
                        position: relative;
                    }
                    .vs {
                        width: 120px;
                        text-align: center;
                        color: #969696;
                    }
                }
                .leagueName {
                    width: 116px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-right: 40px;
                    .icon {
                        margin-right: 10px;
                        vertical-align: middle;
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url("../../img/live/icon-other.png");
                        &.icon-match-1 {
                            background-image: url("../../img/live/icon-zq2.png");
                        }
                        &.icon-match-2 {
                            background-image: url("../../img/live/icon-lq2.png");
                        }
                        &.icon-match-37 {
                            background-image: url("../../img/live/icon-dj2.png");
                        }
                    }
                }
            }
            .action {
                padding-left: 31px;
                background: url("../../img/live/icon-play2.png") no-repeat left center;
                background-size: 22px 22px;
                pointer-events: none;
                height: 22px;
            }
        }
    }
    .match-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        width: 200px;
        height: 100px;
        background: url("../../img/live/loading.gif") no-repeat;
        background-size: contain;
    }
    .no-more {
        text-align: center;
        line-height: 60px;
    }
}