.info-msg-wrap {
    background: #D5D7E9;
    border-radius: 10px;
    min-height: 440px;
    padding: 23px 20px;
    .info-msg-inner {
        margin-bottom: 20px;
        @include flex();
        cursor: pointer;
        font-size: 14px;
        .text-content {
            width: 590px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 15px;
            color: #6F6F87;
            &.text-content-text-gray {
                color: $c-1f;
            }
        }
        .create-time {
            color: #6F6F87;
            &.text-content-text-gray {
                color: $c-1f;
            }
        }
    }
    .message-dialog {
        /deep/ .el-dialog__body {
            .unbing-div-center {
                text-align: center;
            }
            .unbing-div-content {
                margin: 15px 0;
            }
            .unbing-time-right {
                text-align: right;
            }
        }
    }
}
/deep/.el-dialog:after{
    background: none;
}
/deep/.el-dialog__footer{
    div{
        &:nth-of-type(1){
            @include flex(center);
        }
        
        .el-button--default{
            width: 120px;
            height: 36px;
            background: $bg-ead;
            border-radius: 34px;
            color: #3B4165;
            font-size: 14px;
        }
    }
}