    .electronic-partList-wrapper {
        .list-wrapper {
            margin: 0 auto;
            width: 1200px;
            padding-bottom: 25px;
            &.select-list-wrapper {
                padding-bottom: 0px;
            }
            &:last-child {
                padding-bottom: 75px;
                .game-type {
                    margin-bottom: 0;
                }
            }
            .game-type {
                margin-bottom: 40px;
                .game-classify {
                    @include flex(flex-start);
                    color: #EDB77F;
                    .title-box {
                        @include flex(flex-start);
                        font-size: 20px;
                        .logo {
                            width: 46px;
                            margin-right: 16px;
                        }
                        .en-title {
                            font-size: 12px;
                        }
                        .go-back {
                            width: 24px;
                            margin-right: 10px;
                            cursor: pointer;
                        }
                    }
                    .go-btn {
                        font-size: 14px;
                        cursor: pointer;
                        display: flex;
                        &::before {
                            display: block;
                            content: "";
                            width: 1px;
                            height: 32px;
                            background: #27553F;
                            margin: 0 25px;
                        }
                        .more-left {
                            @include flex(flex-start, column);
                            .more-arrows {
                                margin-top: 3px;
                                width: 50px;
                            }
                        }
                        .more-button {
                            width: 15px;
                            height: 15px;
                            margin-top: 3px;
                            margin-left: 5px;
                        }
                    }
                }
                .game-list {
                    @include flex(flex-start);
                    margin-top: 14px;
                    &.select-list {
                        @include flex(flex-start, row, wrap);
                    }
                    .game-item-wrap {
                        position: relative;
                        margin-right: 25px;
                        overflow: hidden;
                        width: 220px;
                        border-radius: 15px;
                        @include flex(center);
                        &.select-list-wrap {
                            margin: 0 16px 22px 0;
                        }
                        // &:hover {
                        //     .masker {
                        //         display: block;
                        //     }
                        // }
                        .game-pic {
                            height: 220px;
                        }
                        .masker {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            background: rgba(20, 29, 62, 0.5);
                            backdrop-filter: blur(5px);
                            height: 100px;
                        }
                        .game-name {
                            height: 20px;
                            line-height: 28px;
                            padding: 5px;
                            border-radius: 12px;
                            position: absolute;
                            left: 6px;
                            bottom: 71px;
                            @include flex(flex-start, column, nowrap, flex-start);
                            color: #FFFFFF;
                            .game-title {
                                font-size: 20px;
                                font-weight: 600;
                                padding-bottom: 5px;
                            }
                            .game-context {
                                font-size: 13px;
                                line-height: 18px;
                            }
                        }
                        .enter-btn {
                            position: absolute;
                            left: -3px;
                            bottom: 0px;
                            width: 105px;
                            height: 38px;
                            line-height: 38px;
                            font-size: 14px;
                            font-weight: 600;
                            color: #889796;
                            text-align: center;
                            background: url("../electronic/img/entry_btn.png");
                            background-size: 100% 100%;
                            cursor: pointer;
                            &:hover {
                                color: #0E3E2E;
                                background: url("../electronic/img/entry_btn_active.png");
                                background-size: 100% 100%;
                            }
                        }
                        .try {
                            position: absolute;
                            left: -1px;
                            top: -1px;
                            padding: 3px 15px;
                            text-align: center;
                            font-size: 12px;
                            background: linear-gradient(306.46deg, #C4AE99 68.37%, #E9DACC 92.92%);
                            color: #FFFFFF;
                            border-radius: 15px 0;
                        }
                    }
                }
            }
        }
        .electronic-pages {
            text-align: center;
            padding-bottom: 36px;
        }
    }

    .multi-language {
      .electronic-partList-wrapper .list-wrapper .game-type .game-list .game-item-wrap .game-name {
        bottom: 82px;
        .game-context {
          font-size: 12px;
        }
      }
    }
