.unbing-dialog {
    .el-dialog__title {
        font-size: 24px;
        font-weight: 700;
    }
    .el-dialog__body {
        padding: 0 !important;
        .notList {
            .el-tabs {
                .el-tabs__header {
                    min-height: 400px;
                    width: 210px;
                    margin: 0;
                    background: rgba(77, 97, 141, 0.1);
                    .el-tabs__nav-wrap {
                        overflow: unset;
                        &::after {
                            height: 1000px;
                            background-color: transparent;
                        }
                    }
                    .el-tabs__item {
                        text-align: center;
                        color: #BBBBC0;
                        &.is-active {
                            background: #414146;
                            color: $c-f;
                        }
                    }
                    .el-tabs__active-bar {
                        display: none;
                    }
                }
                .el-tabs__content {
                    padding: 20px;
                    .notice-content {
                        font-size: 14px;
                        color: #606266;
                        min-height: 350px;
                        overflow: hidden auto;
                        max-height: 550px;
                        @include flex(flex-start, column, nowrap, flex-start);
                        &::-webkit-scrollbar {
                            width: 5px;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: #bbb;
                        }
                        .notice-title {
                            text-align: center;
                        }
                        .notice-detail {
                            margin-bottom: 15px;
                            text-align: justify;
                            padding: 10px 15px;
                            width: 450px;
                            color: #CECED3;
                            line-height: 24px;
                        }
                        img {
                            width: 474px;
                            cursor: pointer;
                            margin-bottom: 5px;
                        }
                        .btn-detail {
                            margin-top: auto;
                            align-self: center;
                            width: 154px;
                            height: 42px;
                            background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                            border-radius: 34px;
                            color: #393A42;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}