.mini-side-bar {
    position: fixed;
    right: 0;
    z-index: 100;
    top: 40%;
    // height: 366px;
    width: 71px;
    background-image: url('./img/side-bg.png');
    border-radius: 8px;
    background-size: 100% 100%;
    padding: 40px 0 50px 10px;
    color: $c-cec;
    box-sizing: border-box;
    @include flex(center,
    column);
    .side-bar-item {
        @include flex(center,
        column);
        margin-bottom: 10px;
        cursor: pointer;
        .text {
            font-size: 12px;
            color: $c-3B;
            transform: scale(.9);
        }
        .mini-sb-icon {
            width: 36px;
            height: 36px;
            margin-bottom: 5px;
        }
        .el-backtop {
            display: contents;
        }
        &:hover {
            .mini-sb-box-qr {
                display: flex;
            }
        }
    }
    .mini-sb-box-qr {
        position: absolute;
        background-image: url("./img/sm_code_bg.png");
        background-size: 100% 100%;
        text-align: center;
        width: 148px;
        height: 284px;
        padding: 25px 0;
        box-sizing: border-box;
        right: 70px;
        top: -78px;
        cursor: pointer;
        @include flex( space-around,
        column);
        .side-bar-code {
            left: -12px;
            font-size: 12px;
            .code-top_text {
                display: none;
                margin: 0px !important;
            }
            .code-main {
                .login-code {
                    height: auto;
                    margin: 0px;
                }
            }
            .code_bottom_txt {
                position: relative;
                color: $c-3B;
                top: 5px;
            }
        }
        .line {
            width: 80%;
            height: 1px;
            background: linear-gradient( 98deg, rgba(206, 190, 174, 0) 0%, #e2ceba 54.41%, rgba(206, 190, 174, 0) 99.62%);
            position: relative;
            left: -11px;
        }
    }
    .forum-container {
        // background-image: url('./img/forum_bg.png');
        position: absolute;
        width: 120px;
        color: #fff;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        left: -120px;
        padding: 10px 0 20px;
        bottom: 140px;
        @include flex(center);
        .forum-item {
            cursor: pointer;
            width: 100%;
            text-align: center;
        }
    }
}