.aside {
    width: 200px;
    margin-right: 43px;
    box-sizing: border-box;
    flex-shrink: 0;
    color: $c-1f;
    padding-top: 26px;
    padding-bottom: 16px;
    background: linear-gradient(180deg, #EFF0F9 2.4%, #DFE5F3 100%);
    box-shadow: 0px 4px 8px 0px rgba(76, 78, 129, 0.4);
    border-radius: 10px;
    font-size: 14px;
    /deep/ .el-divider--horizontal {
        width: 172px;
        margin: 28px 0 16px;
    }
    /deep/ .el-divider {
        height: 1.2px;
        background-color:  #D5D7E9;
        // box-shadow: 0px 1px 0px $c-f;
    }
}

.profile-top {
    padding: 0 10px 0 10px;
    margin-bottom: 34px;
    .user-container {
        @include flex(flex-start, column);
        position: relative;
        .user-avatar {
            width: 44px;
            border-radius: 5px;
        }
        .username {
            margin-top: 12px;
            font-weight: bold;
            line-height: 20px;
        }
    }
    .text-center {
        text-align: center;
        position: relative;
    }
    .level-badge {
        width: 50px;
        height: 14px;
        font-size: 12px;
        color: $c-81;
        font-weight: 500;
        position: absolute;
        @include flex(center);
        top: 33px;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(135.44deg, #454F7B 0.76%, #222943 97%);
        box-shadow:0px 4px 4px rgba(0, 12, 54, 0.16);
        backdrop-filter: blur(3px);
        border-radius: 2.5px;
    }
    .user-info {
        display: flex;
        justify-content: center;
        margin: 5px 0;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin: 7px 0 31px;
        flex-wrap: wrap;
        .col {
            text-align: center;
            flex-basis: 0;
            max-width: 100%;
            width: 100%;
            position: relative;
            box-sizing: border-box;
        }
        .username {
            color: $c-1f;
            text-align: center;
            line-height: 26px;
            font-weight: normal;
            font-size: 14px;
        }
    }
}

.link-item {
    text-align: center;
    .ico-wrap {
        display: flex;
        // height: 40px;
        justify-content: center;
        align-items: center;
        img {
            height: 50px;
            // width: 30px;
            // max-width: 40px;
            // max-height: 40px;
        }
    }
    .txt-wrap {
        font-size: 12px;
        color: #3B4165;
    }
}

.profile-nav {
    margin-bottom: 16px;
    .profile-nav-item {
        width: 124px;
        height: 47px;
        margin: 0 auto;
    }
    .menu-item {
        cursor: pointer;
        padding: 0 10px;
        margin: 20px 0;
    }
}

.menu-item {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    transition: all 0.3s;
    color: #505679;
    &:hover {
        background: $bg-ead;
        border-radius: 6px;
        .txt-wrap {
            color: $c-1f;
        }
        .img-bg {
            @each $icon in user vip discount wallet trade message bet suggest agent {
                &.#{$icon} {
                    background-image: url('../../img/sideBar/' + $icon + '.png');
                }
            }
        }
    }
    &.router-link-active {
        background: $bg-ead;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: -37px;
            top: 2px;
            border-radius: 0 3px 3px 0;
            width: 3px;
            height: 43px;
            background: $bg-ead;
            transform: rotate(-180deg);
        }
        .txt-wrap {
            color: $c-1f;
        }
        border-radius: 6px;
        .img-bg {
            @each $icon in user vip discount wallet trade message bet suggest agent {
                &.#{$icon} {
                    background-image: url('../../img/sideBar/' + $icon + '.png');
                }
            }
        }
    }
    .img-bg {
        width: 26px;
        height: 26px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        @each $icon in user vip discount wallet trade message bet suggest agent {
            &.#{$icon} {
                background-image: url('../../img/sideBar/' + $icon + '_active.png');
            }
        }
    }
    .txt-wrap {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        padding-left: 20px;
        color: #505679;
    }
}