.rule-wrapper {
    border-radius: 16px;
    /deep/ .el-dialog {
        .el-dialog__header {
            background: $bg-77;
            height: 58px;
            .dialog-title {
                font-size: 24px;
                color: #E5AA67;
                font-weight: 400;
            }
            .el-dialog__headerbtn {
                top: 12px;
                .el-dialog__close {
                    color: $c-cec;
                    font-size: 30px;
                    font-weight: 400;
                }
            }
        }
        .el-dialog__body {
            padding: 25px 25px 0px;
            .content {
                font-size: 16px;
                color: $c-f;
                .text {
                    margin: 5px 0;
                }
                .line {
                    height: 1px;
                    background: rgba(62, 66, 82, 0.2);
                    margin: 36px 0 34px;
                }
                .one-line {
                    display: flex;
                    justify-content: space-between;
                    .line-content {
                        width: 50%;
                        &:nth-child(2) {
                            margin-left: 15px;
                        }
                    }
                }
                .two-line {
                    margin-top: 20px;
                }
                .three-line {
                    margin-top: 20px;
                }
                .table-wrapper {
                    width: 100%;
                    margin-top: 10px;
                    border-collapse: separate;
                    .table-header {
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                        height: 40px;
                        color: $c-39;
                        font-weight: 600;
                        background: linear-gradient(90deg, #D9B47D 0%, #FBE7C4 53.02%, #D9B47D 100%);
                        th {
                            text-align: center;
                            border-color: transparent;
                            background: transparent;
                            &:first-child {
                                border-top-left-radius: 8px;
                            }
                            &:last-child {
                                border-top-right-radius: 8px;
                            }
                        }
                    }
                    .table-content {
                        height: 40px;
                        background: #43444E;
                        color: $c-cec;
                        td {
                            text-align: center;
                            border-right: 1px solid rgba(62, 66, 82, 0.2);
                            border-bottom: 1px solid rgba(62, 66, 82, 0.2);
                            &:first-child {
                                border-left: 1px solid rgba(62, 66, 82, 0.2);
                                border-bottom-left-radius: 8px;
                            }
                            &:last-child {
                                border-bottom-right-radius: 8px;
                            }
                            &.no-border {
                                border-radius: 0px;
                            }
                            &.left-border {
                                border-left: 0px;
                            }
                            &.right-border {
                                border-bottom-right-radius: 8px;
                            }
                        }
                    }
                }
                &.promote-wrapper {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    .promote-title {
                        color: $ft-f6;
                        font-size: 16px;
                        margin-top: 15px;
                    }
                    .promote-qr {
                        .code-main {
                            width: 248px;
                            height: 248px;
                            background: none;
                            margin-top: 15px;
                            .login-code {
                                width: 248px;
                                height: 248px;
                            }
                        }
                    }
                    .qr-code {
                        width: 248px;
                        height: 248px;
                        margin: 15px 0 25px;
                    }
                    .wrap-text {
                        margin: 5px 0 16px;
                        .copy-url {
                            color: $c-e7;
                        }
                    }
                    .friend-url {
                        font-size: 24px;
                        color: $c-80;
                        display: flex;
                        align-items: center;
                        margin-bottom: 19px;
                        span {
                            margin: 0 20px;
                        }
                        &:after,
                        &:before {
                            display: flex;
                            content: '';
                            width: 50px;
                            height: 1px;
                            background: $c-80;
                        }
                    }
                    .url {
                        width: 400px;
                        border: 1px solid $c-54;
                        border-radius: 4px;
                        color: $c-e7;
                        text-align: center;
                        text-align: left;
                        margin-bottom: 21px;
                        padding: 5px 10px;
                        box-sizing: border-box;
                        line-height: 1.2;
                    }
                }
            }
        }
        .footer {
            display: flex;
            justify-content: space-around;
            margin: 0px 0 20px;
            .btn {
                width: 120px;
                height: 36px;
                border-radius: 30px;
                &.rule-btn {
                    border: 1px solid $c-e7;
                    color: $c-e7;
                    background: transparent;
                }
                &.confirm-btn {
                    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                    color: $c-39;
                    border: 1px solid transparent;
                    font-weight: 600;
                }
            }
            &.promote-footer {
                .btn {
                    width: 180px;
                    height: 36px;
                    background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                    border-radius: 4px;
                    color: $c-39;
                    border: 0;
                    font-weight: 600;
                }
            }
            &.mt-20 {
                margin-top: 20px;
            }
        }
    }
}