/deep/ .el-table {
    color: $c-3D;
    background: transparent;
    border-radius: 10px;
    &::before {
        display: none;
    }
}

/deep/ .el-table th.is-leaf {
    border: 0;
    background: #F1F4F9;
    border-radius: 4px;
    // text-align: center;
    color: $c-3D;
}

/deep/.is-left {
    padding-left: 20px;
}

/deep/ .el-table tr {
    background-color: transparent;
} 
 
  

/deep/ .el-date-editor .el-range__icon {
    color: #f6b56a;
    display: none;
}

/deep/ .el-date-editor .el-range-input {
    color: $c-3D;  
    border-radius: 4px;
    box-shadow: inset 3px 3px 4px rgba(77, 110, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
    background: $c-f;
    width: 158px;
    height: 40px;
    font-size: 12px;
}

/deep/ .el-range-separator {
    color: $c-3D;
}
 
/deep/ .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell {
    background: rgba(#F1F4F9, 0.5);
}

.router-view {
    background: $c-EE;
    border-radius:0 0 16px 16px; 
}

.top-div {
    padding: 0 24px 24px;
    position: relative;
    .betting-title {
        // width: 96px;
        height: 60px;
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        color: #f6b56a;
        line-height: 60px;
        border-bottom: 1px solid #3d4154;
    }
    .date-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: -11px;
        .date-picker {
            border: 0;
            width: 360px !important;
            background: $c-EE;
        }
    }
    .date-span {
        display: block;
        color: $c-3D;
        padding-top: 20px;
        font-size: 14px;
    }
    .filter-content {
        display: flex;
        margin-top: 8px;
        justify-content: space-between;
        .date-box {
            display: flex;
            .date-btn {
                margin-right: 10px;
                flex-shrink: 0;
                &:last-child {
                    margin-right: 0;
                }
                button {
                    height: 40px;
                    font-size: 14px;
                    color: $c-3D;
                    line-height: 24px;
                    border: 0;
                    padding: 0 15px;
                    border-radius: 4px;
                    background: $c-f;
                    min-width: 75px;
                    box-shadow: 0px 4px 18px rgba(207, 212, 225, 0.54);
                }
                .btn-active {
                    background:  linear-gradient(104.17deg, #53BEFD 2.27%, #0D77F2 100%), #2897FA;
                    color: $c-f;
                    border: 0;
                }
            }
        }
        .inquire {
            width: 80px;
            height: 40px;
            font-size: 14px;
            font-weight: 500;
            background: linear-gradient(0deg, #97D6FC 0%, #3E80FF 13.54%, #61B2F9 81.77%, #96D6FB 100%);
            border-radius: 4px;
            border: 0;
            color: $c-f;
            margin-left: 10px;
        }
    }
}
.view-content{
    box-shadow: 0px 4px 20px rgba(207, 212, 225, 0.89);

}
.bottom-div {
    max-height: 635px;
    background: $c-EE;
    border-radius: 16px;    
    box-shadow: 0px 10px 15px rgba(207, 212, 225, 0.89);
    padding: 0px 20px 28px 20px;   
    .no-data-div {
        display: flex;
        justify-content: space-around;
        text-align: center;
        height: 48px;
        margin-top: 20px;
        line-height: 48px;
        span {
            font-size: 16px;
            color: $c-3D;
            display: inline-block;
            width: 135px;
            height: 48px;
            // background: #f0f0f0;
            cursor: pointer;
            .bot {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 42px;
                height: 3px;
                border-radius: 4px 4px 0 0;
            }
        }
        .active-span {
            color: $c-3D9;
            .bot {
                background: $c-3D9;
            }
        }
    }
    .no-data-gif,
    .no-data-img {
        text-align: center;
        margin: 170px auto 230px;
    }
    .no-data-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        border: 0.5px solid #E6E8F3;
        box-sizing: border-box;
        box-shadow: 0px 4px 20px rgba(207, 212, 225, 0.89);
        border-radius: 10px;
        padding: 170px 0 230px;
        margin: 0 auto;
        .text {
            margin-top: 10px;
            color:$c-84;
        }
        img{
            height: 130px;
        }
    }
    
}