.cr-pay-container {
    padding-top: 30px;
    min-height: 570px;
    position: relative;
    .tip {
        color: $c-f;
        .usdt-txt{
            color:$c-e7;
            margin-left: 20px;
            cursor: pointer;
            img{
                vertical-align: middle;
            }
        }
    }
    .select-pay-container {
        margin: 10px 0 26px;
        @include flex(flex-start);
        .select-pay-item {
            @include flex(flex-start);
            position: relative;
            cursor: pointer;
            min-width: 160px;
            padding: 10px;
            margin-right: 53px;
            background: $c-54;
            border: 0.5px solid $c-80;
            box-sizing: border-box;
            border-radius: 6px;
            position: relative;
            .tag {
                position: absolute;
                width: 36px;
                height: 33px;
                background-image: url('../images/tag.png');
                background-size: cover;
                top: 0px;
                left: 0px;
                display: flex;
                justify-content: center;
                overflow: hidden;
                border-radius: 5px 0 0 0;
                margin: 0;
                padding: 0;
                i {
                  font-style: normal;
                  font-size: 12px;
                  transform: rotate(-45deg) scale(0.86) translateY(-2px) translateX(-1px);
                  color: #fff;
                }
            }
            .logo {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
            .is-select {
                width: 15px;
                position: absolute;
                top: 6px;
                right: 7px;
                width: 15px;
            }
            .pay-name {
                @include flex(flex-start, column, nowrap, flex-start);
                font-size: 12px;
                .text {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-weight: bolder;
                    color: $c-f;
                    width: 160px;
                }
                .number {
                    color: $c-f;
                }
            }
            &.active {
                background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                .text,
                .number {
                    color: $c-39;
                }
            }
        }
    }
    .select-pay-form {
        .tip {
            .text {
                display: inline-block;
                margin-left: 15px;
                font-size: 12px;
                color: #fff;
                background: linear-gradient(to right, #9C080F 0%, #F81823 50%, #9C080F 100%);
                white-space: nowrap;
                height: 20px;
                padding: 0 3px;
                line-height: 20px;
                border-radius: 2px;
            }
        }
        .select-box {
            .select-card-container {
                @include flex(flex-start);
                margin: 15px 0 30px;
                .select-item {
                    padding: 10px 22px;
                    background: $c-39;
                    color: $c-cec;
                    @include flex(center, row, nowrap, center);
                    border-radius: 4px;
                    cursor: pointer;
                    margin-right: 8px;
                    &:hover,
                    &.active {
                        background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                        color: $c-39;
                    }
                }
            }
        }
        .select-form-container {
            @include flex(flex-start, row, nowrap, center);
            margin: 15px 0;
            .input-money {
                margin-right: 10px;
                /deep/ .el-input__inner {
                    background-color: $c-348;
                    color: $c-f;
                    border-color: $c-54;
                    &::-webkit-input-placeholder {
                        color: $ft-f6 !important;
                    }
                }
            }
            .handle-btn {
                width: 100px;
                border-radius: 6px;
                margin-left: 10px;
                color: $c-39;
                @include flex(center, row, nowrap, center);
                background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                &.btn-deposit {
                    width: 150px;
                }
                &.remindActive {
                    opacity: 0.7;
                }
            }
        }
        .select-info {
            .info-item {
                margin-bottom: 8px;
                color: $c-cec;
                &.tip-text {
                    color: $c-80;
                    font-size: 14px;
                }
            }
        }
    }
    .pay-card-list-container {
        margin: 60px 0 0;
        padding: 0 20px 10px;
        background: #393A42;
        border-radius: 4px;
        text-align: center;
        color: $c-f;
        .card-title {
            line-height: 42px;
            padding: 10px 0 0;
        }
        .card-list-wrapper {
            @include flex(flex-start, row, wrap);
            margin: 18px 0 0 50px;
            font-size: 12px;
            .card-list {
                @include flex(flex-start);
                margin-bottom: 10px;
                width: 25%;
                .card-logo {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }
                .text {
                    font-size: 14px;
                }
            }
        }
    }
    .box-no-deposit-rode {
        @include flex(center, column, nowrap, center);
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        .rode-text {
            position: relative;
            top: 10px;
            left: -15px;
        }
    }
    .cr-dialog {
        .cr-pay-dialog {
            font-size: 15px;
            @include flex(center, column, nowrap, center);
            .qr-bg {
                width: 125px;
                height: 133px;
                background-image: url(../../img/deposit/qr-bg.png);
                background-size: contain;
                @include flex(center);
                .qr-code {
                    width: 103px;
                    height: 108px;
                }
            }
            .cr-line {
                margin-top: 22px;
                font-size: 14px;
                .cr-title {
                    color: $ft-f6;
                }
                .cr-value {
                    color: $c-f;
                }
                .cr-copy {
                    width: 13px;
                    margin: 0 5px;
                }
                .cr-button {
                    color: $c-f;
                }
            }
            .tip {
                font-size: 14px;
                color: $c-80;
                margin-top: 14px;
            }
        }
        /deep/ .el-dialog__footer {
            .el-button {
                font-size: 15px;
            }
        }
    }
}