.el-pagination {
    /deep/ .btn-prev {
        width: 35px;
        height: 30px;
        background: #C4CEE1;
        border-radius: 4px;
        padding-left: 12px;
        .el-icon {
            color: $c-f;
            font-size: 15px;
        }
    }
    /deep/ .btn-next {
        background: $c-3D9;
        border-radius: 4px;
        padding-left: 12px;
        width: 35px;
        height: 30px;
        .el-icon {
            color: $c-f;
            font-size: 15px;
        }
    }
    /deep/ button:disabled {
        background: #C4CEE1;
        opacity: 0.8;
        border-radius: 4px;
        padding-left: 12px;
        width: 35px;
        height: 30px;
        .el-icon {
            color: $c-f;
            font-size: 15px;
        }
    }
    /deep/ span:not([class*="suffix"]) {
        height: 30px;
        color: $c-3D;
    }
    /deep/ .el-pager li {
        width: 35px;
        height: 30px;
        background: #C4CEE1;
        border-radius: 4px;
        color: $c-f;
        margin: 0 1px;
    }
    /deep/ .el-pager li.active {
        color: $c-f;
        background: $c-3D9;
        border-radius: 4px;
    }
    /deep/ .el-pagination__jump {
        .el-pagination__editor {
            .el-input__inner {
                background: #C4CEE1;
                border-radius: 4px;
                border: 0;
                color: $c-f;
                font-weight: 500;
            }
        }
    }
}