.electronic-item-outer {
    font-size: 16px;
    font-weight: 600;
    width: 20%;
    min-width: 20%;
    padding-top: 16px;
    box-sizing: border-box;
    @include flex(flex-start);
    .electronic-item {
        position: relative;
        height: 229px;
        cursor: pointer;
        color: #EDB77F;
        @include flex(flex-start, column);
        .icon-container {
            position: relative;
            right: 0px;
            bottom: -25px;
        }
        .electronic-context {
            position: relative;
            .electronic-title {
                position: absolute;
                left: 55px;
                top: 4px;
                width: 78px;
                white-space: nowrap;
                .electronic-title-en {
                    font-weight: 500;
                    font-size: 12px;
                }
            }
            .item-img {
                width: 128px;
                height: 158px;
            }
        }
    }
    .enter-game {
        width: 81px;
        height: 28px;
        background-image: url('../img/select_button.png');
        background-size: 100% 100%;
        font-size: 12px;
        font-weight: 600;
        color: #27553F;
        @include flex(center);
    }
}

.multi-language {
  .electronic-item-outer .electronic-item {
    .electronic-context {
      width: 130px;
    }
    .electronic-title-cn {
      font-size: 14px;
    }
  }
}
