.electronic-item-outer {
    width: 33.3%;
    min-width: 33.3%;
    @include flex(center);
    .electronic-item {
        position: relative;
        width: 234px;
        height: 236px;
        background-size: 100% 100%;
        cursor: pointer;
        color: #EDB77F;
        @each $x in electronic_tf electronic_im {
            &.#{$x} {
                background-image: url('../img/menu/electronicMenu/' + $x + '.png');
            }
        }
        .icon-container {
            right: -10px;
            bottom: 25px;
        }
    }
    .electronic-context {
        @include flex(center);
        position: relative;
        top: 5px;
        left: 27px;
        .electronic-title {
            font-size: 16px;
            font-weight: 600;
            .electronic-title-en {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
    .enter-game {
        width: 81px;
        height: 28px;
        background-image: url('../img/select_button.png');
        background-size: 100% 100%;
        font-size: 12px;
        font-weight: 600;
        color: #27553F;
        @include flex(center);
        margin-left: 14px;
    }
}

.multi-language {
  .electronic_im .electronic-context{
    left: 38px;
  }
}
