.header-navigator-container {
    height: 80px;
    width: 1200px;
    margin: 0 auto;
    @include flex();
    .header-navigator_main {
        @include flex(flex-start);
        height: 100%;
        flex-grow: 1;
        .logo {
            cursor: pointer;
            height: 45px;
        }
        .navigator_list_wrapper {
            @include flex(center);
            font-size: 14px;
            margin-left: 30px;
            align-self: flex-start;
            align-items: flex-start;
            height: 100%;
            position: relative;
            flex-grow: 1;
            .list_wrapper_item {
                width: 64px;
                height: 100%;
                font-size: 16px;
                margin-right: 15px;
                @include flex(center);
                cursor: pointer;
                box-sizing: border-box;
                text-align: center;
                color: #C8D2D2;
                &.on {
                    color: #EDB77F;
                    font-weight: 600;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        background: #EDB77F;
                        transform: rotate(90deg);
                        border-top-left-radius: 2.43097px;
                        border-top-right-radius: 2.43097px;
                        width: 3px;
                        height: 18px;
                        bottom: 12px;
                    }
                }
            }
        }
    }
}
.multi-language .header-navigator-container {
  .header-navigator_main{
    .list_wrapper_item {
      padding: 17px 10px 0 10px;
      width: auto;
      white-space: nowrap;
      font-weight: 500;
      font-size: 14px;
      &.discount {
        letter-spacing: -0.05em;
      }
    }
  }
}
