div.header-container._sponsor {
    //background-color:rgba(0,0,0,0)!important;
}
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: $primary-bg;
    backdrop-filter: blur(2px);
    .header-menu-container {
        height: 240px;
        overflow: hidden;
        width: 100%;
        position: fixed;
        left: 0;
        top: 124px;
        background-image: url('./img/nav_bg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: rgba(196, 196, 196, .9);
        z-index: 1000;
        backdrop-filter: blur(4px);
        @include flex();
        .header_menu_body {
            width: 1200px;
            margin: 0 auto;
            height: 100%;
            // @include flex($align:flex-end);
            @include flex();
            padding: 0 16px 0 40px;
            box-sizing: border-box;
        }
        .header_menu_main {
            position: relative;
            box-sizing: border-box;
            max-width: calc(100% - 140px);
            flex-grow: 1;
        }
        .home-code {
            margin: 0 22px 0 50px;
            // color: $c-4d;
            /deep/ .code-top_text {
                // margin: 0px;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}

