  .real-item-outer {
      width: 25%;
      min-width: 25%;
      @include flex(center);
      .real-item {
          font-weight: 600;
          font-size: 16px;
          color: #EDB77F;
          position: relative;
          width: 158px;
          height: 231px;
          cursor: pointer;
          background-size: 100% 100%;
          @each $x in real_ag real_bg real_ob real_cqyx real_eb real_abet real_pp {
              &.#{$x} {
                  background-image: url('../img/menu/realMenu/' + $x + '.png');
              }
          }
          .icon-container {
              right: 10px;
              bottom: 10px;
          }
      }
      .real-context {
          position: absolute;
          top: 12px;
          left: 75px;
      }
  }
