.info-msg-wrap {
    background: #27553F;
    border-radius: 10px;
    min-height: 440px;
    padding: 23px 20px;
    font-size: 14px;
    .clear-div {
        @include flex();
        .clear-btn {
            background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
            color: #27553F;
            padding: 0 8px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: 20px;
            white-space: nowrap;
            font-weight: 600;
        }
    }
    .info-msg-inner {
        @include flex();
        margin-bottom: 20px;
        cursor: pointer;
        color: #FFFFFF;
        .text-content {
            width: 590px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 15px;
            &.text-content-text-gray {
                color: #889796;
            }
        }
        .create-time {
            &.text-content-text-gray {
                color: #889796;
            }
        }
    }
}

.message-dialog {
    .el-dialog__body {
        .unbing-time-div {
            text-align: center;
        }
        .unbing-div {
            margin: 20px 0 30px;
        }
        .unbing-btn-div {
        }
    }
}
