.real-info-description {
    margin-top: 30px;
    font-size: 14px;
    color: $c-3D;
    .title {
        margin-bottom: 22px;
    }
    .real-form {
        .gender-box {
            /deep/ .el-input--prefix {
                .el-input__inner {
                    padding-left: 30px;
                }
            }
        }  
        .el-button{
            background: linear-gradient(0deg, #97D6FC 0%, #3E80FF 13.54%, #61B2F9 81.77%, #96D6FB 100%);
            width: 260px;
            height: 35px;
            border: none;
            opacity: 1;
        }
    }
}