.mini-side-bar {
    position: fixed;
    right: 0;
    z-index: 100;
    top: 40%;
    width: 71px;
    background-image: url('./img/side-bg.png');
    border-radius: 8px;
    background-size: 100% 100%;
    padding: 40px 0 40px 10px;
    color: #C8D2D2;
    box-sizing: border-box;
    @include flex(center,
    column);
    .side-bar-item {
        @include flex(center,
        column);
        margin-bottom: 10px;
        cursor: pointer;
        text-align: center;
        .text {
            font-size: 12px;
            color: #C8D2D2;
            transform: scale(.9);
        }
        .mini-sb-icon-box {
            @include flex(center);
            margin-bottom: 5px;
            width: 36px;
            height: 36px;
            background: linear-gradient(135.44deg, #b8976f 0.76%, #d39d64 97%);
            box-shadow: 2.17927px 2.17927px 4.35854px rgba(38, 41, 70, 0.15);
            border-radius: 60px;
            &:hover {
                background: linear-gradient(135.44deg, #F6C88F 0.76%, #EBA760 97%);
            }
            .mini-sb-icon {
                width: 20px;
                height: 20px;
                &.download {
                    width: 16px;
                    height: 16px;
                }
                &.backtop {
                    width: 13px;
                    height: 16px;
                }
            }
        }
        .el-backtop {
            display: contents;
        }
        &:hover {
            .mini-sb-box-qr {
                display: flex;
            }
        }
    }
    .mini-sb-box-qr {
        position: absolute;
        background-image: url("./img/sm_code_bg.png");
        background-size: 100% 100%;
        text-align: center;
        width: 150px;
        height: 285px;
        padding: 15px 0;
        box-sizing: border-box;
        right: 75px;
        top: -70px;
        cursor: pointer;
        @include flex( space-around,
        column);
        .side-bar-code {
            left: -7px;
            font-size: 12px;
            .code-top_text {
                display: none;
                margin: 0 !important;
            }
            .code-main {
                box-sizing: border-box;
                padding: 3px;
                width: 100px;
                height: 100px;
                background: #FFFFFF;
                border-radius: 8px;
            }
            .code_bottom_txt {
                margin-top: 5px;
                color: #C8D2D2;
            }
            &:last-child {
                top: 5px;
            }
        }
        .line {
            width: 80%;
            height: 1px;
            background: linear-gradient( 98deg, rgba(206, 190, 174, 0) 0%, #e2ceba 54.41%, rgba(206, 190, 174, 0) 99.62%);
            position: relative;
            left: -11px;
        }
    }
}
