.electronic-box {
    box-sizing: border-box;
    padding-top: 45px;
    width: 100%;
    .electronic-banner {
        width: 100%;
        height: 600px;
        background: url("./img/banner.png") no-repeat center center;
        background-size: 100% 100%;
    }
    .electronic-content {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
    }
}

.multi-language {
  .electronic-box {
    .electronic-banner {
      background: url("./img/banner_en.png") no-repeat center center;
      background-size: 100% 100%;
    }
  }
}

.language-vi {
    .electronic-box {
        .electronic-banner {
            background: url("./img/banner-vi.png") no-repeat center center;
            background-size: 100% 100%;
        }
    }
}
