.wrapper {
    font-family: "STYuanti-SC-Light";
    color:$c-3D;
    .title {
        padding: 20px 0 0; 
        text-align: center;
    } 
    .el-divider{
        margin: 10px 0 20px;
    }
    .type-one {
        margin: 20px 0;
        .type-one-title {
            font-size: 16px;
            color: $c-3D;
            margin-bottom: 15px;
            &:before {
                content: "";
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $c-3D;
                margin-right: 5px;
            }
        }
    }
    .normal {
        font-size: 14px;
        color: #687690;
        padding-left: 17px;
    }
    .wrapper-title {
        padding: 0;
        color: $c-3D;
    }
    .text {
        color: $c-3D;
        font-size: 14px;
        margin-bottom: 10px;
    }
}