.cr-pay-container {
    padding-top: 16px;
    min-height: 570px;
    position: relative;
    .select-pay-container {
        margin: 10px 0 26px;
        @include flex(flex-start);
        .select-pay-item {
            @include flex(flex-start);
            position: relative;
            cursor: pointer;
            min-width: 160px;
            height: 45px;
            padding: 10px;
            margin-right: 53px;
            background: $c-f;
            border: 0.5px solid $c-f;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(135, 73, 0, 0.06), inset -1px -1px 0px $c-f, inset 1px 1px 0px $c-f;
            border-radius: 6px;
            .tag {
                position: absolute;
                width: 36px;
                height: 33px;
                background-image: url('../images/tag.png');
                background-size: cover;
                top: 0px;
                left: 0px;
                display: flex;
                justify-content: center;
                overflow: hidden;
                border-radius: 5px 0 0 0;
                margin: 0;
                padding: 0;
                i {
                  font-style: normal;
                  font-size: 12px;
                  transform: rotate(-45deg) scale(0.86) translateY(-2px) translateX(-1px);
                  color: #fff;
                }
            }
            .logo {
                width: 26px;
                margin-right: 7px;
            }
            .is-select {
                width: 15px;
                position: absolute;
                top: 6px;
                right: 7px;
                width: 15px;
            }
            .pay-name {
                @include flex(flex-start, column, nowrap, flex-start);
                font-size: 12px;
                .text {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
    .select-pay-form {
        .tip {
            .text {
                display: inline-block;
                margin-left: 15px;
                font-size: 12px;
                color: #fff;
                background: linear-gradient(to right, #9C080F 0%, #F81823 50%, #9C080F 100%);
                white-space: nowrap;
                height: 20px;
                padding: 0 3px;
                line-height: 20px;
                border-radius: 2px;
                color: #fff;
            }
        }
        .select-box {
            .select-card-container {
                @include flex(flex-start);
                flex-wrap: wrap;
                margin: 10px 0 30px;
                .select-item {
                    //width: 100px;
                    width: calc((100% - 240px)/5);
                    margin-bottom: 8px;
                    height: 38px;
                    background: $c-1884;
                    color: $c-f;
                    @include flex(center, row, nowrap, center);
                    border-radius: 4px;
                    cursor: pointer;
                    margin-right: 60px;
                    font-size: 12px;
                    &:hover,
                    &.active {
                        background: $c-a5;
                    }
                }
                .last-line {
                    margin-right: 0px;
                }
            }
        }
        .select-form-container {
            @include flex(flex-start, row, nowrap, center);
            margin-bottom: 10px;
            .handle-btn {
                width: 79px;
                height: 29px;
                background: $c-a5;
                border-radius: 6px;
                margin-left: 10px;
                color: $c-f;
                @include flex(center, row, nowrap, center);
                cursor: pointer;
                font-size: 12px;
                &:first-child {
                    margin-left: 20px;
                }
                &.remindActive {
                    background: $c-1886;
                }
                &:hover {
                    background-color: $b-e5;
                }
            }
        }
        .select-info {
            .info-item {
                margin-bottom: 10px;
                &.tip-text {
                    color: $c-1886;
                }
            }
        }
    }
    .pay-card-list-container {
        padding: 16px 30px 30px;
        margin: 13px 0 24px;
        background: rgba(188, 169, 151, .1);
        border-radius: 4px;
        text-align: center;
        .card-title {
            font-size: 12px;
            font-weight: 500;
        }
        .card-list-wrapper {
            @include flex(flex-start, row, wrap);
            margin-top: 18px;
            font-size: 12px;
            .card-list {
                @include flex(center, column, nowrap, center);
                margin-bottom: 10px;
                width: 12%;
            }
        }
    }
    .box-no-deposit-rode {
        @include flex(center, column, nowrap, center);
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        .rode-text {
            position: relative;
            top: 10px;
            left: -15px;
        }
    }
    .cr-dialog {
        .cr-pay-dialog {
            font-size: 15px;
            @include flex(center, column, nowrap, center);
            .qr-code {
                width: 180px;
                height: 180px;
            }
            .cr-line {
                margin-top: 22px;
                .cr-title {
                    color: $c-81;
                }
                .cr-value {
                    color: $c-3;
                }
            }
            .tip {
                font-size: 18px;
            }
            .cr-button {
                width: 160px;
                height: 40px;
                border-radius: 8px;
                height: 40px;
                border-color: transparent;
                font-size: 16px;
                display: flex;
                margin: 22px 0;
            }
        }
        /deep/ .el-dialog__footer {
            .el-button {
                font-size: 15px;
            }
        }
    }
    .circle-outer {
        width: 48px;
        height: 48px;
        background: $c-fc;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(135, 73, 0, 0.06), inset -1px -1px 0px $c-f, inset 1px 1px 0px $c-f;
        border-radius: 45px;
        @include flex(center);
        margin-bottom: 9px;
        .circle-inner {
            width: 40px;
            height: 40px;
            border: 0.43466px solid rgba(188, 169, 151, .4);
            box-sizing: border-box;
            border-radius: 45px;
            @include flex(center);
            .card-logo {
                width: 30px;
                height: 30px;
            }
        }
    }
    .usdt-txt{
        color: #8b7968;
        margin-left: 20px;
        cursor: pointer;
    }
}
