.cr-pay-container {
    &.rm {
        padding: 0px;
        min-height: 490px;
    }
    .pay-type-container {
        height: 113px;
        background: $c-ff1;
        border-radius: 4px;
        padding-top: 16px;
        @include flex(flex-start);
        position: relative;
        margin-bottom: 28px;
        .py-type-list {
            @include flex(center, column, nowrap, center);
            margin: 12px;
            cursor: pointer;
            .txt {
                color: $c-ff6;
            }
            &.on {
                .txt {
                    color: $c-4d;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 32px;
                    height: 3px;
                    bottom: 0px;
                    border-radius: 4px 4px 0 0;
                    background-color: $c-4d;
                }
            }
            .circle-outer {
                width: 55px;
                height: 55px;
                .circle-inner {
                    width: 47px;
                    height: 47px;
                    .list-img {
                        width: 37px;
                        &.logo_1 {
                            width: 37px;
                        }
                        &.logo_2 {
                            width: 35px;
                        }
                        &.logo_3 {
                            width: 26px;
                        }
                        &.logo_4 {
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
    .select-pay-container {
        &.rm-pay-container {
            margin-top: 0px;
            flex-wrap: wrap;
        }
        .select-pay-item {
            &.rm-pay-item {
                min-width: 195px;
                margin-top: 15px;
            }
        }
    }
    .select-pay-form {
        .notice {
            margin-bottom: 18px;
            color: $c-4d;
        }
        .rm-form {
            /deep/ .el-form-item {
                margin-bottom: 0px;
            }
        }
        .select-card-container {
            .select-item.rm-select-item {
                &.on {
                    background-color: $c-4d;
                }
            }
        }
        .select-form-container {
            /deep/ .el-button {
                &.rm-handle-btn {
                    margin-left: 0px;
                }
            }
            /deep/ .el-input__inner {
                background-color: $b-f5;
            }
        }
        .tip-text {
            margin-top: 15px;
            color: $c-4d;
        }
    }
    .user-name-container {
        @include flex(flex-start);
        background: $c-ff1;
        color: $c-4d;
        border-radius: 4px;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 10px;
        .name-input {
            width: 193px;
            height: 40px;
            border: none;
            margin: 0 10px;
            .el-input__inner {}
        }
    }

    .tip-text-o {
        color: #cbba8f;
    }
    .tip-text-t {
        color: #777984;
    }
}