.feedback-wrap {
    background: $c-fc;
    padding: 7px 25px 20px;
    position: relative;
    .feedback-type {
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 400;
        color: $c-ff4;
        margin: 18px 0 11px;
    }
    .feedback-form {
        position: relative;
        /deep/ {
            .el-form-item__content {
                margin-left: 0 !important;
            }
        }
        .count-div {
            position: absolute;
            right: 20px;
            bottom: 20px;
            color: $c-ff35;
        }
    }
    .feedback-description {
        font-size: 16px;
        font-family: PingFang SC;
        font-weight: 400;
        color: $c-ff4;
        margin: 18px 0 11px;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .upload-img {
        width: 100%;
        background: $b-f5;
        border: 1px solid rgba(255, 255, 255, 0.34);
        box-shadow: inset 3px 3px 4px rgba(77, 97, 141, 0.15), inset -3px -3px 4px rgba(255, 255, 255, 0.25);
        border-radius: 4px;
        @include flex(center);
        padding-bottom: 10px;
        position: relative;
        .upload-inner {
            width: 100%;
            .upload-demo {
                /deep/ {
                    .el-upload-dragger {
                        background-color: transparent;
                        border: 0;
                        margin-top: 46px;
                        width: 100%;
                        position: relative;
                        left: 50%;
                        z-index: 1;
                        color: $c-ff4;
                        .upload-icon {
                            width: 60px;
                        }
                        .el-upload__text {
                            margin: 12px 0 25px;
                            color: $c-ff35;
                            em {
                                font-weight: normal;
                                color: $c-4d;
                            }
                        }
                        .el-icon-upload {
                            margin: 20px 0 16px;
                        }
                    }
                    .el-upload-list--picture {
                        position: absolute;
                        top: 0px;
                        left: 10px;
                        width: 100%;
                        height: 100%;
                        .el-upload-list__item {
                            background-color: transparent;
                            border: 1px solid transparent;
                            height: 91%;
                            @include flex(flex-start);
                            .el-upload-list__item-thumbnail {
                                width: 291px;
                                height: 180px;
                                border: 2px solid $c-ff6;
                            }
                            .el-upload-list__item-name {
                                margin-left: 22px;
                                color: $c-ff4;
                                overflow: inherit;
                                text-overflow: inherit;
                                white-space: inherit;
                            }
                            .el-icon-close {
                                position: absolute;
                                left: 320px;
                                font-size: 18px;
                                font-weight: 600;
                                color: $c-ff4;
                                top: 13px;
                            }
                        }
                    }
                }
                /deep/ .el-upload--picture-card:hover,
                /deep/ .el-upload:focus {
                    color: $c-ff4;
                    border-color: $c-ff4;
                }
            }
        }
    }
    .btnCommit {
        width: 79px;
        height: 29px;
        font-size: 12px;
        color: $c-f;
        background: $c-4d;
        border-radius: 5px;
        border: 0;
        margin: 31px auto 7px;
        @include flex(center);
    }
    .btnCommit-on {
        background: $c-ff4;
        color: $c-f;
    }
    .mask-div {
        width: 340px;
        height: 115px;
        background: $c-f;
        box-shadow: 0px 8px 20px rgba(58, 22, 1, 0.08);
        border-radius: 10px;
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 2;
        @include flex(flex-start, column);
        transform: translate(-50%, -50%);
        .smile-div {
            margin: 17px 0 10px;
            img {
                width: 18px;
            }
        }
        .title {
            margin-bottom: 14px;
        }
        div {
            color: $c-ff4;
            font-size: 14px;
            &:nth-child(3) {
                color: $c-ff35;
            }
        }
    }
}

/deep/ .el-loading-spinner {
    margin-top: -15px;
    .circular {
        width: 25px;
        height: 25px;
        .path {
            stroke: $c-ff4;
        }
    }
}