.info-msg-wrap {
    background: $c-f;
    border-radius: 10px;
    min-height: 440px;
    padding: 23px 20px;
    font-size: 14px;
    .clear-div {
        @include flex();
        .clear-btn { 
            color: $c-f;
            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: 20px;
        }
    }
    .info-msg-inner {
        @include flex();
        margin-bottom: 20px;
        cursor: pointer;
        .text-content {
            width: 590px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 15px;
            &.text-content-text-gray {
                color: $c-84;
            }
        }
        .create-time {
            &.text-content-text-gray {
                color: $c-84;
            }
        }
    }
}

.message-dialog {
    .el-dialog__body {
        .unbing-time-div {
            text-align: center;
        }
        .unbing-div {
            margin: 20px 0 30px;
        }
        .unbing-btn-div {
            width: 150px;
            height: 38px; 
            font-size: 18px;  
            border-radius: 14px;
            margin: 0 auto;
            background: linear-gradient(0deg, #A09F9B 0%, #504F4E 12.5%, #8E8E8E 81.77%, #CBCBCB 100%);
            opacity: 0.4;
            border: 0;
            &:hover {
                opacity: 0.3;
            }
        }
    }
}