.header-navigator-container {
    height: 88px;
    width: 1200px;
    margin: 0 auto;
    @include flex();
    .header-navigator_main {
        @include flex(flex-start);
        height: 100%;
        flex-grow: 1;
        .logo {
            height: 30px;
            cursor: pointer;
        }
        .navigator_list_wrapper {
            @include flex(center);
            font-size: 14px;
            color: $ft-f6;
            margin-left: 30px;
            align-self: flex-start;
            align-items: flex-start;
            height: 100%;
            position: relative;
            flex-grow: 1;
            .list_wrapper_item {
                width: 64px;
                height: 100%;
                font-size: 16px;
                margin-right: 15px;
                @include flex(center);
                cursor: pointer;
                box-sizing: border-box;
                text-align: center;
                color: #CECED3;
                &.on {
                    color: #e2cc95;
                    font-weight: bold;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                        border-top-left-radius: 2.43097px;
                        border-top-right-radius: 2.43097px;
                        transform: rotate(90deg);
                        width: 3px;
                        height: 18px;
                        bottom: 12px;
                    }
                    &.item_sponsor {
                        &:after {
                            border: none;
                            background: transparent;
                            width: auto;
                            height: auto;
                            bottom: auto;
                            border-radius: 0;
                            transform: translate(0);
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
                            border-top-left-radius: 2.43097px;
                            border-top-right-radius: 2.43097px;
                            transform: rotate(90deg);
                            width: 3px;
                            height: 18px;
                            bottom: 12px;
                        }
                    }
                }
                &:hover {
                    color: $c-f;
                }
                &.item_sponsor {
                    position: relative;
                    background: none;
                    box-shadow: none;
                    &::after {
                        position: absolute;
                        content: url('../img/bg-sponsor.gif');
                        left: -30px;
                        top: 10px;
                    }
                    span {
                        color: $c-cec;
                        white-space: nowrap;
                    }
                    &:hover span {
                        color: $c-f;
                    }
                }
            }
        }
    }
}