.bankcard-manage {
    padding-top: 20px;
    &.wallet {
        padding: 20px 20px 7px;
        background: #FCF9F7;
        box-shadow: 0px 4px 4px rgba(135, 73, 0, 0.06), inset -1px -1px 0px #FFFFFF, inset 1px 1px 0px #FFFFFF;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .bank-card-list-container {
        @include flex(flex-start, row, wrap);
        .bank-card-list {
            width: 296px;
            height: 159px;
            background-color: #fef5ef;
            box-shadow: 0px 4px 4px rgba(135, 73, 0, 0.06), inset -1px -1px 0px #FFFFFF, inset 1px 1px 0px #FFFFFF;
            border-radius: 15px;
            margin-bottom: 15px;
            padding: 7px;
            margin-right: 9px;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;
            .bank-card-inner {
                border: 1px solid rgba(188, 169, 151, 0.4);
                border-radius: 10px;
                height: 100%;
                position: relative;
                padding: 10px;
                box-sizing: border-box;
                .bank-select {
                    &.on {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        width: 25px;
                        height: 25px;
                        background-image: url("./img/selected.png");
                        background-size: 100% 100%;
                    }
                }
                .img-wrapper {
                    @include flex();
                    margin-top: 5px;
                    &.crypto {
                        margin-top: 0;
                    }
                    .static-img {
                        width: 175px;
                    }
                    .bank-logo {
                        width: 48px;
                    }
                }
                .no-card {
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .static-img {
                        width: 175px;
                    }
                    .add-bank-card {
                        width: 30px;
                    }
                }
                .add-bank-button {
                    width: auto;
                    height: 22px;
                    position: absolute;
                    bottom: 17px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .bank-card-footer {
                    @include flex();
                    margin-top: 12px;
                    &.alipay-footer{
                        margin-top: 5px;
                    }
                    .bank-cardNo {
                        @include flex(flex-start);
                        font-size: 14px;
                        &.crypto {
                            font-size: 12px;
                        }
                    }
                    .bank-unbind {
                        padding: 12px;
                        width: auto;
                        height: 22px;
                    }
                    .bank-disabled {
                        font-size: 12px;
                        position: absolute;
                        bottom: 2px;
                        right: 5px;
                        color: $c-1886;
                    }
                }
            }
        }
    }
}
