.help-box {
    width: 100%;
    padding-top: 125px;
    background: $c-30;
    .help-content {
        width: 1140px;
        height: 100%;
        margin: 0 auto;
        padding: 15px 0 45px;
        @include flex(space-between, row, nowrap, inherit);
        .tabs {
            width: 200px;
            background: $bg-32;
            box-shadow: 0 8px 24px 0 rgba(0, 14, 20, 0.16);
            ;
            border-radius: 12px;
            padding-top: 17px;
            // padding: 40px 0 40px 20px;
            box-sizing: border-box;
            .tab-item {
                height: 64px;
                line-height: 64px;
                font-size: 16px;
                color: $ft-f6;
                cursor: pointer;
                position: relative;
                padding: 0 15px;
                box-sizing: border-box;
                &:before {
                    content: "";
                    position: absolute;
                    height: 1px;
                    background: linear-gradient(90deg, rgba(57, 58, 66, 0), rgba(57, 58, 66, 1), rgba(57, 58, 66, 0));
                    width: 100%;
                    left: 0;
                    bottom: 0;
                }
                &:after {
                    position: absolute;
                    content: "";
                    width: 17px;
                    height: 12px;
                    background-image: url('./img/arrorw.png');
                    background-size: 100% 100%;
                    right: 30px;
                    top: 30px;
                }
                .tab-item-inner {
                    @include flex(flex-start);
                    .pic {
                        flex-shrink: 0;
                    }
                    .icon {
                        width: 34px;
                        margin-right: 10px;
                    }
                    .help-category-name {
                        flex-grow: 1;
                        text-align: center;
                        white-space: nowrap;
                        max-width: 105px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }
            .active {
                width: 100%;
                height: 64px;
                color: #393A42;
                background: linear-gradient(135.44deg, #E7D7A6 0.76%, #DCBF80 97%);
            }
        }
        .view {
            width: 900px;
            background: $c-22;
            border-radius: 16px;
            // padding: 0 50px 50px 50px;
            box-sizing: border-box;
        }
    }
}