.red-envelope-container {
    overflow: hidden;
    height: 100vh;
    background-size: cover !important;
    background: url('./images/bg.jpg') center center;
    .mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
}

.clock-txt {
    z-index: 1;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    width: 35%;
    margin: 0 auto;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 10px;
    span {
        color: $c-f;
        display: block;
    }
}

@keyframes redImg {
    0% {}
    100% {
        transform: translate(-1000px, 3000px);
    }
}

/deep/ .redBox {
    cursor: pointer;
    width: 150px;
    height: 150px;
    z-index: 0;
    position: fixed;
    animation: redImg 15s linear;
}

/deep/ .redBox img {
    width: 120px;
    height: auto;
}

.clicked-envelope {
    z-index: 11;
    position: relative;
    margin: 0 auto;
    width: 270px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    img {
        width: 100%;
        height: auto;
    }
    .opening {
        animation: 0.2s shakingEnvelope infinite;
    }
}

.envelope-get-successed {
    z-index: 11;
    position: relative;
    margin: 0 auto;
    width: 320px;
    top: 50%;
    transform: translateY(-50%);
    .envelop-img {
        width: 100%;
        height: auto;
    }
    .close-btn {
        right: 30px !important;
        background: url('./images/closeIconWhite.png') no-repeat center;
        background-size: cover;
        width: 30px;
        height: 30px;
        position: absolute;
        right: -30px;
        top: -30px;
        margin: 0;
        cursor: pointer;
        @include flex(center);
    }
    .envelope-bonus {
        position: absolute;
        top: 28%;
        left: 30%;
        color: red;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }
    .envelope-success-txt {
        position: absolute;
        top: 62%;
        left: 17%;
        color: $c-f;
        font-size: 17px;
        text-align: center;
        font-weight: bold;
    }
    .envelope-success-btn-grout {
        display: flex;
        position: absolute;
        top: 78%;
        left: 15%;
        .btn-grout-img {
            width: 90px;
            height: 32px;
        }
         :first-child {
            margin-right: 18px;
        }
    }
}

.envelope-geted-notice {
    z-index: 11;
    position: relative;
    margin: 0 auto;
    width: 500px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e63c3c;
    border-radius: 20px;
    color: $c-f;
    text-align: center;
    .notice-header {
        border-radius: 20px 20px 0 0;
        background-color: #df2f2f;
        text-align: center;
        width: 100%;
        line-height: 41px;
        vertical-align: middle;
        font-size: 18px;
        color: $c-f;
        border-bottom: 2px solid $c-f;
        overflow: hidden;
        .notice-close {
            position: absolute;
            right: 5px;
            top: 4px;
            width: 35px;
            cursor: pointer;
            .close-img {
                width: 100%;
                height: auto;
            }
        }
    }
    .notice-body {
        margin-top: 10px;
        .rule-list {
            border-radius: 5px;
            background-color: #ca1c1d;
            width: 90%;
            margin: 10px auto;
            .rule-item {
                padding: 0 10px;
                display: flex;
                justify-content: space-between;
                text-align: center;
                line-height: 40px;
                vertical-align: middle;
                .pic {
                    width: 20px;
                    height: auto;
                }
            }
        }
        .notice-body-btn-grout {
            @include flex(flex-start);
            padding: 15px 0 25px;
            .notice-img {
                cursor: pointer;
                width: 120px;
                height: 40px;
            }
             :first-child {
                margin-right: 100px;
            }
        }
    }
}

@keyframes shakingEnvelope {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(10deg)
    }
    50% {
        transform: rotate(0deg)
    }
    75% {
        transform: rotate(-10deg)
    }
    100% {
        transform: rotate(0deg)
    }
}