.aside {
    width: 200px;
    margin-right: 43px;
    box-sizing: border-box;
    flex-shrink: 0;
    color: $c-3D; 
    padding-bottom: 16px;
    background: $c-f;
    box-shadow: 0px 4px 20px rgba(207, 212, 225, 0.89);
    border-radius: 10px;
    font-size: 14px;
    /deep/ .el-divider--horizontal {
        width: 172px;
        margin: 12px 0 ;
    }
    /deep/ .el-divider {
        height: 1px;
        background: linear-gradient( 90deg, #fff 0, rgba($c-3D, 0.2), #fff 100%);
    }
}

.profile-top {
    padding: 26px 10px 30px 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid #f2f7fe;
    background: url('../../img/userinfo_bg.png') no-repeat -5px -5px;
    .user-container {
        @include flex(flex-start, column);
        position: relative;
        .user-avatar {
            width: 70px;
            border-radius: 35px;
        }
        .username {
            margin-top: 15px;
            line-height: 20px;
            color: #878F9D;
        }
    }
    .text-center {
        text-align: center;
        position: relative;
    }
    .level-badge {
        width: 46px;
        height: 28px;
        line-height: 24px;
        box-sizing: border-box;
        padding-left: 27px; 
        font-size: 12px;
        color: $c-f;
        font-weight: 500;
        position: absolute;
        top: 58px;
        left: 50%;
        transform: translateX(-50%);
        background: url('../../img/vip_level.png') no-repeat center center/cover; 
        border-radius: 2.5px;
    }
    .user-info {
        display: flex;
        justify-content: center;
        margin: 5px 0;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin: 7px 0 31px;
        flex-wrap: wrap;
        .col {
            text-align: center;
            flex-basis: 0;
            max-width: 100%;
            width: 100%;
            position: relative;
            box-sizing: border-box;
        }
        .username {
            color: #878F9D;
            text-align: center;
            font-weight: bolder;
            line-height: 26px;
            font-weight: normal;
        }
    }
}

.link-item {
    text-align: center;
    .ico-wrap {
        display: flex;
        height: 40px;
        justify-content: center;
        align-items: center;
        img {
            width: 40px;
            max-width: 40px;
            max-height: 40px;
        }
    }
    .txt-wrap {
        font-size: 12px;
        color: $c-3D;
    }
}

.profile-nav {
    margin-bottom: 16px;
    .profile-nav-item {
        height: 68px;
        margin: 0 auto;
    }
    .menu-item {
        cursor: pointer;
        padding: 0 0 0 30px;
    }
}

.menu-item {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    &::after{
        content: url('../../img/sideBar/icon-arrow.png');
        display: block;
        margin-right: 30px;
    }
    &:hover {
        background: url('../../img/sideBar/active-bg.png');
        &::after{
            display: none;
        }
        .txt-wrap {
            color: $c-f;
        }
        .img-bg {
            @each $icon in user vip discount wallet trade message bet suggest agent {
                &.#{$icon} {
                    background-image: url('../../img/sideBar/' + $icon + '.png');
                }
            }
        }
    }
    &.router-link-active {
        background: url('../../img/sideBar/active-bg.png');
        &::after{
            display: none;
        }
        .txt-wrap {
            color: $c-f;
        } 
        .img-bg {
            @each $icon in user vip discount wallet trade message bet suggest agent {
                &.#{$icon} {
                    background-image: url('../../img/sideBar/' + $icon + '.png');
                }
            }
        }
    }
    .img-bg {
        width: 26px;
        height: 26px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        @each $icon in user vip discount wallet trade message bet suggest agent {
            &.#{$icon} {
                background-image: url('../../img/sideBar/' + $icon + '_active.png');
            }
        }
    }
    .txt-wrap {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        padding-left: 25px;
    }
}