.wallet-dialog {
    .text {
        font-size: 20px;
        margin: 29px -3px 22px 9px;
        font-weight: 200;
        color: #6c6c6c;
    }
    .footer {
        display: flex;
        justify-content: space-around;
        .self-footer {
            margin: 0;
            font-size: 22px;
            width: 170px;
            height: 48px;
            border-radius: 14px;
            box-sizing: border-box;
            &.cancel {
                border: 1px solid #7b5c3e;
                background: none;
                color: #815B39;
            }
            &.sumbit {
                background: linear-gradient(180deg, #EFD8C2 0%, #997750 100%);

            }
        }
    }
}

.money-dialog {
    .money-input {
        width: 345px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}




