.center-wallet-container {
    position: relative;
    padding: 15px 0px 31px;
    background-color: #FCF9F7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &.has-box-shadow {
        box-shadow: 0px 4px 4px rgba(135, 73, 0, 0.06), inset -1px -1px 0px #FFFFFF, inset 1px 1px 0px #FFFFFF;
    }

    .common-container {
        width: 100%;
        position: relative;
        padding-bottom: 28px;

        .center-money-container {
            @include flex(flex-start);
            position: absolute;
            left: 0px;
            bottom: 33px;
            font-size: 14px;

            .wallet-img {
                width: 43px;
            }

            .money-amonut-container {
                margin-left: 8px;
            }
        }

        .totoal-money-container {
            @include flex(center, column);
            font-size: 14px;

            .bottom-handle {
                @include flex();
                margin-top: 21px;

                .return-btn {
                    color: $c-81;
                    width: 70px;
                    height: 30px;
                    border: 1px solid $c-81;
                    box-sizing: border-box;
                    border-radius: 4px;
                    font-size: 12px;
                    text-align: center;
                    line-height: 30px;
                    cursor: pointer;
                }

                .line {
                    width: 1px;
                    height: 44px;
                    background-color: $bg-926;
                    box-shadow: 0px 0.5px 0px $c-f;
                    margin: 0 21px;
                }

                .lock-container {
                    @include flex();

                    .icon_lock {
                        width: 43px;
                    }

                    .text {
                        margin-left: 8px;
                    }
                }
            }
        }
    }

    .game-wallet-container {
        border-top: 1px solid $bg-926;

        .tip-text {
            font-weight: 400;
            color: $c-a5;
            text-align: center;
            padding: 10px 0 24px 24px;
        }

        .item-container {
            @include flex(flex-start);

            .item {
                width: 120px;
                height: 50px;
                background: $c-18815;
                border-radius: 4px;
                text-align: center;
                color: $c-81;
                @include flex(center, column);
                font-size: 12px;
                margin: 0 40px 26px 0;

                .title {
                    @include flex();

                    /deep/ .el-icon-warning {
                        color: red;
                        margin-left: 5px;
                    }
                }
            }
        }

        .fold-wrapper {
            border: 0px;

            /deep/ .el-collapse-item__wrap {
                background: #FCF9F7;
                border: 0px;

                .el-collapse-item__content {
                    @include flex(flex-start, row, wrap);

                    .item {
                        width: 120px;
                        height: 50px;
                        background: $c-18815;
                        border-radius: 4px;
                        text-align: center;
                        color: $c-81;
                        display: flex;
                        justify-content: center;
                        flex-wrap: nowrap;
                        flex-direction: column;
                        align-items: center;
                        font-size: 12px;
                        margin: 0 40px 26px 0;

                        .title {
                            @include flex();

                            .el-icon-warning {
                                color: red;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }

        .collapse {
            cursor: pointer;

            .collapse-toggle {
                @include flex(center);

                .show-more-icon {
                    width: 22px;
                    margin-right: 7px;
                }
            }
        }

        // 自动转账和手动转账
        .game-z-z {
            display: flex;
            flex: 1;
            position: relative;

            .toggle-money {
                background-color: #fbf9f7;
                color: #D1B395;
                border: 2px solid #D1B395;
                border-radius: 2px;
                width: 100px;
                height: 30px;
                left: 0px;
                background: #fbf9f7;
                border-radius: 5px;
                margin: 26px 20px 20px 0px;
                font-size: 16px;

                &.on {
                    border: #D2B496;
                    color: #fff;
                    background-color: #cdb59a;
                }

                &.auto {
                    margin-bottom: 0;
                }
            }

            .money {
                position: absolute;
                right: 20px;
                top: 28px;
                color: #815B39;
                font-size: 16px;
            }
        }

        //手动转账
        .game-sport {
            display: inline-block;
            width: 224px;
            height: 104px;
            left: 0px;
            top: 0px;
            background: #f1ede9;
            border-radius: 8.33333px;
            margin-right: 10px;
            margin-top: 15px;

            .game-11 {
                display: inline-block;
                width: 102px;
                margin: 19px 10px 0px 19px;
                font-size: 18px;
                .game-sport-one {
                    display: inline-block;
                    margin-bottom: 10px;
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                /deep/ .el-icon-warning {
                    color: red;
                }
            }

            .game-transfers {
                display: inline-block;
                margin-top: 21px;

                .transfer-on {
                    border: 1px solid #cdb59a;
                    padding: 0px 20px 0px 20px;
                    color: #d6c2ae;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    border: 1px solid #D1B395;
                    cursor: pointer;
                }

                .transfer-out {
                    border: 1px solid #cdb59a;
                    padding: 0px 20px 0px 20px;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    color: #fff;
                    background: linear-gradient(0deg, #D2B496, #D2B496), linear-gradient(180deg, #E3E2E2 0%, #9B9A9A 100%);
                    cursor: pointer;
                }
            }
        }
    }
}