.provider-box {
    padding-top: 30px;
    font-size: 14px;
    font-weight: 400;
    color: $c-3D;
    .class-box {
        @include flex();
        .class-lv {
            margin: 26px 80px 0 0;
            @include flex(center);
            .text {
                color: $c-3D9;
            }
        }
    }
    .bind-box {
        @include flex();
        margin-top: 30px;
        .bind-item {
            @include flex();
            .label {
                color: $c-3D;
            }
            .center {
                color: $c-3D9;
            }
        }
    }
    .bind-btn {
        width: 56px;
        height: 29px;
        line-height: 29px;
        background:  linear-gradient(104.17deg, #53BEFD 2.27%, #0D77F2 100%);
        box-shadow: 0px 4px 18px rgba(207, 212, 225, 0.6);
        border-radius: 5.75947px;
        text-align: center;
        margin-left: 28px;
        font-size: 12px;
        cursor: pointer;
        color: $c-f;
        transition: 0.2s linear;
        &:hover {
            opacity: 0.8;
        }
    } 
}