.message-wrapper {
    background: $bg-32;
    min-height: 690px;
    .nav-item-container {
        @include flex();
        padding-top: 28px;
        .nav-item {
            cursor: pointer;
            .nav-item-content {
                width: 230px;
                height: 40px;
                @include flex(center);
                color: $ft-f6;
                &.un-read-count {
                    position: relative;
                    &:after {
                        position: absolute;
                        content: '';
                        background-color: red;
                        width: 10px;
                        height: 10px;
                        right: 59px;
                        border-radius: 50%;
                    }
                }
                .icon {
                    transform: scale(0.5);
                }
                .vertical-line {
                    margin-right: 8px;
                    margin-bottom: 4px;
                }
            }
            &.on {
                position: relative;
                .nav-item-content {
                    color: $c-e7;
                }
                &:after {
                    display: flex;
                    content: "";
                    width: 96px;
                    height: 3px;
                    position: absolute;
                    bottom: 0;
                    left: 52%;
                    transform: translateX(-50%);
                    border-radius: 6px 6px 0 0;
                    background: $c-e7;
                }
            }
        }
    }
    .main-container {
        padding: 0px 20px;
        box-sizing: border-box;
        position: relative;
        .no-data-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include flex(center, column);
            color: $ft-f6;
        }
    }
}