.code-container {
    width: 140px;
    position: relative;
    color: $c-81;
    top: -5px;
    @include flex(space-between, column);
    .code-top_text {
        margin-bottom: 28px;
        @include flex(center, column);
        .returnWater-text {
            font-size: 34px;
            line-height: 40px;
            font-weight: 400;
            color: #A58A70;
        }
    }
    .code-main {
        width: 55px;
        height: 59px;
        width: 110px;
        height: 117px;
        background-image: url('./img/code_wrapper.png');
        background-size: 100% 100%;
        @include flex(center);
        .home-un-login {
            width: 95px;
        }
        .un-login {
            width: 75px;
        }
        .login-code {
            width: 86px;
        }
        &.login-code-main {
            width: 94px;
            height: 94px;
            background-size: 100% 100%;
            .login-code {
                width: 68px;
            }
        }
    }
    .code_bottom_txt {
        @include flex(center,
        column);
        letter-spacing: 1px;
        margin-top: -7px;
    }
    .right_en {
        position: absolute;
        right: -10px;
        width: 40px;
        &.real_flag {
            width: 30px;
            right: 0px;
        }
        &.chess_flag {
            width: 25px;
            right: -1px;
        }
        &.esports_flag {
            width: 36px;
        }
        &.lottery_flag {
            right: -6px;
            width: 37px;
            top: -42px;
        }
        &.discount_flag {
            right: 0px;
            width: 30px;
            top: -40px;
        }
        &.perate_flag {
            right: 4px;
            width: 27px;
            top: -40px;
        }
    }
}
